<head>
<script>
    document.domain=document.domain;
</script>
{% extends "home/base.html" %} 
{% load static %} 
{% block addon_css %}
<style>
</style>
{% endblock %}
</head>
<body>
{% block content %}


<div style="max-width:550px ;overflow-y: hidden;overflow-x:auto; margin: 15px auto; max-height: 405px;border:1px solid #e6e6e6;">
    <!--<iframe style="border: 0px none; margin-left: -130px; height: 1000px; margin-top: -640px; width: 800px;" src="/view/{{answer.nglviewer_id}}" scrolling="no"></iframe>-->
    <iframe class="str_file traj_file"  data-dyn_id="{{dyn_id}}" style="border: 0px none;width: 545px;margin-top:-35px;" id="embed_mdsrv" src="{{mdsrv_url}}/html/embed_show.html" scrolling="no" height="400px" width="590px" data-struc_file="{{struc_file}}" data-traj_file="{{traj_file}}" ></iframe>
</div>
{% endblock content %}
</body>