<head>
<script>
    document.domain=document.domain;//to avoid cross-domain errors with the iframe
</script>
{% extends "home/base.html" %} 
{% load static %} 
{% block addon_css %}
<style>
    #iframecontainer{
        max-width:580px;
        overflow-y: hidden;
        overflow-x:auto; 
        margin: 15px auto; 
        max-height: 405px;
        border:1px solid #e6e6e6;
    }
    iframe{
        border: 0px none;
        width: 575px;
        margin-top:-35px
    }
</style>
{% endblock %}
</head>
<body>
{% block content %}


<div id="iframecontainer" >
    <iframe class="str_file traj_file sim_data" data-delta="{{delta}}"  data-dyn_id="{{dyn_id}}"  id="embed_mdsrv" src="{{mdsrv_url}}/html/embed_min.html" scrolling="no" height="400px" width="590px" data-struc_file="{{struc_file}}" data-traj_file="{{traj_files}}" ></iframe>
</div>
{% endblock content %}
</body>