<style>
    h1 { font-size: 50px; }
    body { font: 20px Helvetica, sans-serif; color: #333; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    a { color: #dc8100; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
</style>
    <br>
    <br>
<article style="margin-top: 200px;margin-bottom: 200px;">
        <h1> Server error </h1>
        <div>
        <p> There was an error handling your request. Either the url you entered is incorrect or it was something on our end. </p>
        <p> If you believe this is an error on our end, please do not hesitate to contact us on <a href="mailto:info@gpcrmd.org?Subject=Server%20error%20on%20gpcrmd.org">info@gpcrmd.org</a>.</p>
        <p>&mdash; GPCRmd team</p>
        </div>
</article>
    <br>
    <br>