<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"], "language": "en" });
  </script>
  <script>document.domain = document.domain;</script>
  {% extends "home/base.html" %}
  {% load static %}
  {% block addon_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endblock %}
</head>


<body>

  {% block content %}
  
  <div class="wholePanel contactPanel row">
    <div class=" col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <h2 class="panel-heading">Contact</h2>
        <div class="panel-body">
          <h4 class="orangeSub"> Do you have any suggestions? </h4>
          <p>Let us know! If you want to report any issue, contribute, or have ideas or
            comments on GPCRmd, please contact us at
            <a class="textlink" href="mailto:info@gpcrmd.org">info@gpcrmd.org</a>.
          </p>
        </div>
      </div>
    </div>
  </div>


  {% endblock content %}


  {% block addon_js %}
  {% endblock %}


</body>