<head>
  {% extends "home/base.html" %}
  {% load static %}

</head>

<body>

  {% block content %}

  <!-- Family tree -->
  <div class="row famTreeBlock">
    <div class="ftDiv">
      <!-- famTree in the left -->
      <div id="chart" data-chart_data="{{tree_data}}" class="col-lg-8">
      </div>
      <!-- Panel with intructions in the right -->
      <div class="col-xs-4 col-md-4">
        <div class="ftPanel panel panel-primary text_col">
          <h3 class="panel-heading">3D-GPCRome tree</h3>
          <div class="panel-body">
            <p>The GPCRs are classified by class and family. In the exterior part of the circle
              you can find the PDBs of each GPCR. Do zoom & drag on it to discover them.</p>
              <div class="ftBtnDiv">
                <button id="Reset" class="submitBtn btn" style="border-radius:0px; border-radius: 4px;">Reset View</button>
              </div>
              <br> 
              <p> Click on a GPCR structure (PDB id) to access the MD simulations.</p>
            <div class="ftBtnDiv">
              <a class="submitBtn btn" href="https://youtu.be/sNQNWcBhIyg" target="_blank" role="button">How to use it</a>
            </div>
          </div>

        </div>
      </div>  

    </div>
  </div>
  
  
  
  {% endblock %}

  {% block addon_js %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="{% static 'home/js/gpcrmd_homepage.js' %}"></script>
  {% endblock %}


</body>