{% load static %}

<!-- Fixed navbar -->
<nav id="topmenu" class="topMenu navbar-fixed-top" role="navigation">
  <div class="container-fluid" style="margin:8px 40px" >
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

      <a href="/home/" class="navbar-brand" alt="{{ site_title }}" style="padding:0px 0px; margin-left: 23px;"><img id="logo" src="{% static logo_path %}" class="main-logo" style="float:left;margin-right:5px"></a>
    </div>
    {% comment %} <div class="alert alert-warning" role="alert"  style="padding:5px 30px 5px 10px;margin:0 20px;position:absolute;z-index:10;">
      <i class="glyphicon glyphicon-warning-sign warnicon"></i>
      Upcoming maintenance from 09/02/2024 09:00 to 09/02/2024 13:00. 
    </div> {% endcomment %}
    <div id="navbar" class="navbar-collapse collapse">
      {% include menu_template %}
    </div><!--/.nav-collapse -->
  </div>
</nav>