
     <div class="col-md-12 panel panel-primary" style="background-color:blue;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 > Simulation Submission<br>Step 4:<br>Dynamics Information</h3>
        </div> 
     </div>
     <!-- main description -->
     <div class="col-md-12 panel panel-primary" style="height:300px" >
         <div class="panel-body" style="margin-bottom:5%;margin-top:4%;margin-left:-3%;margin-right:-5%;overflow:auto;height:91%">
            <div style="text-align:center"> 
             <h4 style="margin-top:-5%">FILL IN THE DYNAMICS FORM</h4>
            </div>
             <p style="text-align: justify;" >Fill in the following form concerning specific details on the MD simulation protocol. </p>
             <p style="text-align: justify;margin-bottom:-5%"  >User must provide molecular dynamics information as well as files required to rerun simulations in a specific simulation software (coordinates, topology, parameters, others). Note, it is mandatory to add files needed to regenerate topology files that are not published elsewhere.</p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a href="http://docs.gpcrdb.org/receptors.html">docs</a>.
             </p>

 
         </div>
     </div>
 </div>
