
     <div class="col-md-12 panel panel-primary" style="background-color:blue;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 > Simulation Submission<br>Step 3:<br>Crystalized Components Information</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary"  style="height:300px">
         <div class="panel-body" style="margin-bottom:5%;margin-top:4%;margin-left:-3%;margin-right:-5%;overflow:auto;height:91%">
            <div style="text-align:center"> 
             <h4 style="margin-top:-5%">FILL IN THE CRYSTALIZED COMPONENTS FORM</h4>
            </div>
             <p style="text-align: justify;" >(<b>A</b>) Fill in the form with general information about the crystalized part of the simulated system.</p>
             <p style="text-align: justify;" >(<b>B</b>) Residues assignment and protein coordinate sources.</b> In order to assign correctly the canonical GPCR numbering to your simulation system, please indicate the starting and ending residue numbers for each protein segment. Then, the Uniprot numbering will be later automatically assigned. In addition, indicate the source for coordinates of each crystalized or modeled protein fragment, e.g. 'threading' for a modeled loop.</p>

             <p style="text-align: justify;margin-bottom:-5%;">(<b>C</b>) Indicate the 'resname' in the retrieved list of co-crystalized small molecules.</p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a href="http://docs.gpcrdb.org/receptors.html">docs</a>.
             </p>
         </div>
     </div>
  </div>
