{% extends "home/base.html" %} 
{% load staticfiles %} 


{% block content %}

<form method="post" action="{{ action }}" enctype="multipart/form-data" id="myformRef">{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:blue;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >Simulation Submission<br>Authors and References<br>Information</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <h4>FILL IN THE AUTHORSHIP/REFERENCES FORM</h4>
	    </div>
             <p style="text-align: justify;"> Please provide citation data for the submitted simulation data. Provide scientific journal name or book publisher.</p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a href="http://docs.gpcrdb.org/receptors.html">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   _____________________________________________________________________________________________-->

<!-- middle column -->
<div id="pprotform"class="col-md-7 "> 
  <div id="protform" class="col-md-12 panel panel-primary"> 
    <div class="panel-body">

 			<div style="text-align:center">
             			<h4><br>Reference Information</h4>
            		</div><br>

			<br>

<div class=row id='PRUEBA'>
	 <div class="row">   
		 <div class="col-md-5 col-md-offset-1 " style="height:30px"> <a title=""> Submission ID:</a></div> <div class="col-md-6">  <td><input id="submission_id" maxlength="30" name="submission_id" type="text" style="width:180px" placeholder="" /></div> 
         </div><br>
{% for field in fdbREFF %}
	 <div class="row">   
		 <div class="col-md-5 col-md-offset-1 " style="height:30px"> <a title="{{field.help_text|safe}}"> {{ field.label }}:</a></div> <div class="col-md-6"> {{field.as_widget}}{{field.errors }} </div> 
</div>
{% endfor %}
</div><br><br>
<!--	<div class="col-md-6">
		<p style="margin-right:10%;margin-left:40%;padding:5px 5px 5px 5px"><button style="width:120px;" onclick="addFields()" title="Manually requested mutations in the Receptor Mutation section are applied after clicking herein. 'Sequence' field is automatically updated with the mutated sequence."> Apply mutations</button></p>
	</div> -->
	</div>
   </div>
   </div>

<div class="col-md-7 col-md-offset-4"> 
      <div class="col-md-12 panel panel-primary">
          <!--Submit prueba -->
  	  <div class="panel-body" id="selection-">
                          <input id="id_submit" name="submit" type="submit" value="Submit" class="btn btn-success btn-lg btn-block has-spinner"  />
      	  </div>
      	  </div>
      	  </div>
</form>

<!--           <div id="selection-buttons"> 
</div>
<div class="col-md-7 col-md-offset-4"> 
      <div class="col-md-12 panel panel-primary">
  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/molecule/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Continue to step 2: Small Molecule Information </a>
      	  </div>
  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/db_inputform/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Back to index </a>
      	  </div>
      </div>


</div>
-->
{% endblock content %}
</form>


{% block addon_js %} 

    <script src="{% static 'dynadb/jquery.form.min.js' %}"></script>
<!--    <script src="{% static 'dynadb/REFERENCESpost.js' %}"></script> -->

{% endblock %}
