
     <div class="col-md-12 panel panel-primary" style="background-color:blue;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 > Reuse Complex <br> Small Molecule Information</h3>
        <!--	<h3 > Simulation Submission<br>Step 2 <br>Small Molecule Information </h3>-->
         </div> 
     </div>
     
<!-- main description -->
     <div class="col-md-12 panel panel-primary" style="height:300px" >
         <div class="panel-body" style="margin-bottom:5%;margin-top:4%;margin-left:-3%;margin-right:-5%;overflow:auto;height:91%">
             
<!--             <h4>FILL IN THE MOLECULE FORM</h4> -->
            <div style="text-align:center"> 
             <h4 style="margin-top:-5%">CHECK THE SMALL MOLECULE INFO</h4>
	    </div>

             <p style="text-align: justify">Please, check that all non-protein molecules with coordinates coming from experimental data and non-protein molecules playing a crucial role in the setup of the simulations you are submitting (not bulk waters, lipids or ions randomly generated), are exactly matching the set of molecules shown in this Small Molecule form. If so, the crystal-derived set of non-protein molecules can be reused provided that the set of protein in the crystal to be reused is exactly the same than the one the user want to submit. Then, you have to add new molecules appearing in your simulations whose coordinates have been randomly generated and remove molecules from the form which are not used in your simulations. Importantly, molecules to be added or removed must have the checkbox field “Important for the biological process” unchecked.</p>
             <p style="text-align: justify;margin-bottom:-5%">Note that, if the set of molecules which are “Important for the biological process” in the form does not match the ones in your simulation, you have to submit it as a new system from scratch by clicking the ‘New Submission’ button in the initial ‘Simulation Submission’ page and following all the steps in the Submission index.</p>


<!--             <p style="text-align: justify">Small molecule information contains data for molecules that are not proteins, including lipids, solvent and ions. General compound information can be retrieved from PubChem Compound and ChEMBL databases. User must upload a MDL Molfile or an SDF file in order to provide information about elemental composition, connectivity, net charge, protonation states and tautomerical form. Isotopical composition is optional. PubChem CIDs for typical molecules as water or most common ions will be provided. 3D coordinates information for the defined molecules must be provided later on complex (step 3) or dynamics forms (step 4).</p>

<p style="text-align: justify">Note, only molecule structures that have coordinates coming from experimental data or that are crucial for the setting of the simulation must be included in complex by checking the field “Important for the biological process” (e. g. crystalized-like waters or very stable ions, but not water molecules or ions with randomly generated coordinates). Otherwise chemical structures must be included into the dynamics form (step 4).</p>-->

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a href="http://docs.gpcrdb.org/receptors.html">docs</a>.
             </p>
         </div>
     </div>
  </div>
</div>

<div class="col-md-7 "> 
  <div class="col-lg-12 panel panel-primary"> 

    <div class="panel-body">

		<div class=row id='PRUEBA'>
<!-- 			<div style="text-align:center">
            			<h4><br>Select Complex</h4><br>    
             			<h4><br>Complex Information</h4><br>
            		</div>   -->

 			<div style="text-align:center">
<!--       			<h4><br><a title="El antiguo html esta comentado en las siguientes lineas del fichero MODEL.html" >Reuse Complex Temporarily unavailable</a></h4><br> -->
             			<h4><br>Complex Information</h4><br>
<!--             			<h4><br><a title="El antiguo html esta comentado en las siguientes lineas del fichero MODEL.html" >Complex Information</a></h4><br> -->
            		</div>
                <div class="row">
		  	<div class="col-md-1"></div><div class="col-md-3" style="text-align:left"><label for="Model">Complex:</label></div>
		  	<div class="col-md-4" style="text-align:left"> Reuse Complex <input  type="radio" name="Model" checked value="Reuse Model" disabled></div>
	 		<div class="col-md-4" style="color:gainsboro;text-align:center"><input  type="radio" name="Model" value="New Model" disabled > New Complex</div>
                </div><br>

	        <div class="row">
			<div class="col-md-8 col-md-offset-4" style="text-align:left">
			    <div class="row" style="height:50px">
				<div class="col-md-4" style="text-align:left;height:30px;margin: 0px 0px 5px 0px;"><label for="Choose_reused_model"><a title="Choose a previous complex from the GPCRmd database">Complex ID:</a> </label></div>
				<div class="col-md-8"><input style="width:130px" id="Choose_reused_model" name="Choose_reused_model" rows="1"  value="{{model_id}}" readonly ></input></div>
                           </div>
		       </div>
		</div>

	        <div class="row" style="height:50px;">
                   <div class="col-md-10 col-md-offset-2" id="id_show_mol_inmodel" name="show_mol_inmodel" data-toggle="collapse"  data-target="{%for l in qMOL %}[id|='molform'][id$='{{forloop.counter0}}']{% if not forloop.last %},{%endif%}{%endfor%}"  style="cursor:pointer;padding:0px 10px 5px 10px;color:#A8A8A8;margin-top:5px;margin-bottom:5px">Hide/show information about the molecules in the model.</div>
           <div class="col-md-10 col-md-offset-2" id="id_show_mol_inbulk" name="show_mol_inbulk" data-toggle="collapse"   data-target="{%for l in list %}[id|='molform'][id$='{{l}}']{% if not forloop.last %},{%endif%}{%endfor%}" style="cursor:pointer;padding:0px 10px 5px 10px;color:#A8A8A8;margin-top:5px;margin-bottom:5px">Hide/show information about new bulk molecules in your simulation.</div><br>
                            </div>
				
		<br>
		</div>
		</div></div>
                </div>
