                <div class="row collapse in" id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-v-nodb">
           <div class="col-md-8 col-md-offset-2" id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-collapse" name="form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-collapse" data-toggle="collapse" data-target="#id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-collapse_id" style="cursor:pointer;padding:20px 10px 5px 10px;text-align:center;border-bottom:1px solid #D8D8D8;color:#A8A8A8;margin-top:5px;margin-bottom:25px">Search settings</div><div="col-md-2"></div>
            
                <div class="row collapse in" id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-w-nodb">
              <div class="collapse col-md-8 col-md-offset-2  "  name="form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-collapse_id"id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-collapse_id">

                  <div style="text-align:center">
                      <h4>PubChem search settings</h4>
                  </div><br>

                  <div class="row">
                       <div class="col-md-1"style="height:30px"></div><div class="col-md-4"><label for="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-search_by_pubchem"><a title="Search by: Molecule identifier chosen for searching the compound in external databases."> Search by:</a></label></div>
                           <div class="col-md-5">
                           <select id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-search_by_pubchem" name="form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-search_by_pubchem" style="width:175px">
                           <option selected value="sinchi">Standard InChI</option>
                           <option value="sinchikeynoiso">Standard InChIKey</option>
                           <option value="smiles">Smiles</option>
                           </select>
                       </div>
                  </div>

                  <div class="row">
                       <div class="col-md-1"style="height:30px"></div><div class="col-md-4"><label for="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-retrieve_type_pubchem"><a title="Retrieve type: Criteria for searching the compound in PubChem."> Retrieve:</a></label></div>
                           <div class="col-md-5">
                           <select id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-retrieve_type_pubchem" name="form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-retrieve_type_pubchem" style="width:175px">
                           <option selected value="parent">Parent molecule</option>
                           <option value="original">Closest match</option>

                           </select>
                           </div>
                  </div>

                   <div class="row">
                           <div class="col-md-1"style="height:30px"></div>
                           <div class="col-md-4"><label for="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-neutralize_pubchem"><a title="Neutralize the molecule by protonation/deprotonation before searching in database (recommended).">Neutralize: </a></label></div>
                           <div class="col-md-1"><input id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-neutralize_pubchem" name="form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-neutralize_pubchem" type="checkbox" checked value="1"/></div>
                   </div>

                  <div style="text-align:center">
                  <h4><br>ChEMBL search settings</h4>
                  </div><br>

                  <div class="row">
                           <div class="col-md-1"style="height:30px"></div><div class="col-md-4"><label for="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-search_by_chembl"><a title="Search by: Molecule identifier chosen for searching the compound in external databases."> Search by:</a></label></div>
                           <div class="col-md-5"><select id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-search_by_chembl" name="form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-search_by_chembl" style="width:175px">
                                <option selected value="smiles">Smiles</option>
                                <option value="sinchikeynoiso">Standard InChIKey</option>
                                </select>
                           </div>
                  </div>
                  <div class="row">
                           <div class="col-md-1"style="height:30px"></div>
                           <div class="col-md-4"><label for="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-similarity_chembl"><a title="Similariry: Similarity score for SMILES search in CHEMBL. Min 70%.">Similarity:</a></label></div>
                           <div class="col-md-5">
                           <input id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-similarity_chembl" style="width:40%" name="form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-similarity" type="number" min=70 max=100 value="100"/><label>%</label>
                           </div>
                  </div>
                  <div class="row">
                       <div class="col-md-1"style="height:30px"></div><div class="col-md-4"><label for="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-retrieve_type_chembl"><a title="Retrieve type: Criteria for searching the compound in ChEMBL."> Retrieve:</a></label></div>
                       <div class="col-md-5">
                            <select id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-retrieve_type_chembl" name="form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-retrieve_type_chembl" style="width:175px">
                                <option selected value="parent">Parent molecule</option>
                                <option value="original">Closest match</option>
                            </select>
                       </div>
                  </div>
                   <div class="row">
                           <div class="col-md-1"style="height:30px"></div>
                           <div class="col-md-4"><label for="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-neutralize_chembl"><a title="Neutralize the molecule by protonation/deprotonation before searching in database (recommended).">Neutralize: </a></label></div>
                           <div class="col-md-1"><input id="id_form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-neutralize_chembl" name="form-{% if model_id and not enabled %}{{last|add:1}}{%else%}{{int0}}{%endif%}-neutralize_chembl" type="checkbox" checked value="1"/></div>
                  </div>
           </div>
                         <div class="col-md-12" style="height:30px"></div>
           </div>


