<!-- dynadb_Dynamics.html -->

{% extends "home/base.html" %} 
{% load staticfiles %} 


{% block content %}



 <!-- description column -->
 <div class="col-md-4">
     
     <div class="col-md-12 panel panel-primary" style="background-color:blue;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 > Simulation Submission<br>Step 2 <br>Small Molecule Information </h3>
         </div> 
     </div>
     
<!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             
<!--             <h4>FILL IN THE MOLECULE FORM</h4> -->
            <div style="text-align:center"> 
             <h4>FILL IN THE SMALL MOLECULE FORM</h4>
	    </div>
             
             <p >Please, provide information of all non-protein molecules in your system.</p>
             <p style="text-align: justify">Small molecule information contains data for molecules that are not proteins, including lipids, solvent and ions. General compound information can be retrieved from PubChem Compound and ChEMBL databases. User must upload a MDL Molfile or an SDF file in order to provide information about elemental composition, connectivity, net charge, protonation states and tautomerical form. Isotopical composition is optional. PubChem CIDs for typical molecules as water or most common ions will be provided. 3D coordinates information for the defined molecules must be provided later on complex (step 3) or dynamics forms (step 4).</p>

<p style="text-align: justify">Note, only molecule structures that have coordinates coming from experimental data or that are crucial for the setting of the simulation must be included in complex by checking the field “Important for the biological process” (e. g. crystalized-like waters or very stable ions, but not water molecules or ions with randomly generated coordinates). Otherwise chemical structures must be included into the dynamics form (step 4).</p>

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a href="http://docs.gpcrdb.org/receptors.html">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   _____________________________________________________________________________________________-->

<!-- middle column -->
<div id="pmolform" class="col-md-7 "> 
  <div id="molform" class="col-md-12 panel panel-primary">
  <form id="small_molecule" method="post" action="{{ action }}" enctype="multipart/form-data">{% csrf_token %}
    <div  class="panel-body">
            <div id="molnumb" style="text-align:right;color:black" > 
             <h4>SMALL MOLECULE #1</h4>
	    </div>

            <div style="text-align:center"> 
             <h4><br>Molecule information</h4>
	    </div><br>

	        <div class="row">
		<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_type"><a title="Type: Type of the compound that forms part of a complex.">Type:</a></label></div>
		<div class="col-md-4"><select id="id_type" name="type" rows="2" style="width:300px" placeholder=" Allosteric Ligand" style="width:300px">

                              {% for i in fdbSub.Meta.model.COMPOUND_TYPE %}
                                <option value="{{i.0}}"> {{i.1}}</option>
                              {% endfor %}
                           <!--     <option value="1">Orthosteric ligand</option>
                                <option value="2">Allosteric ligand</option>
                                <option value="3">Cristallographic waters</option>
                                <option value="4">Other</option> -->
                        </select></div>
		</div><br>
	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-6"><label for="id_is_present"><a title="Important for the biological process: Check this field if the molecule is considered as a biologically relevant component of the system. Remember that only molecules that have coordinates coming from experimental data or that are crucial for the experimental hypothesis must be considered 'important' (Provide coordinates information in step 3). Otherwise they must be included into the 'Dynamics form'(step 4), i.e. solvent and lipid membrane molecules, ions and other molecules whose coordinates are randomly generated or not specified when building the system.">Important for the biological process:</a></label></div>
			<div class="col-md-2"><input id="id_is_present" name="is_present" type="checkbox" /></div> <!--  # !!!! is_present = NOT (not_in_Model)!!!!! table dyndb_submission_molecule!!!! -->
		</div><br>
               
		<div class="row" >
        		 <div class="col-md-1" style="height:30px"> </div><div class="col-md-3"><tr><th><label for="id_molsdf"><a title="Upload .mol, .sdf: Upload either a .mol or a .sdf file describing geometry of the small molecule"> Upload .mol, .sdf </a> </label></th></div>
			<div class="col-md-6"><td><input id="id_molsdf" name="molsdf" style="height:30px;text-align:center;" type="file" placeholder="   "/></td></tr></div>
      		</div>

		<div class="row">
        		 <div class="col-md-1" style="height:30px"></div><div class="col-md-3"></div>
			<div class="col-md-6"><button id="id_upload_button" name="upload_button" style="width:39%;height:30px;text-align:center;vertical-align:text-middle;" type="button">Upload</button>
			<a id="id_logfile"  name="logfile" href="" hidden target="_blank">Download log file.</a></div>
      		</div><br>

                <div class="row">
                        <table align='center'>
				<tr><th style="width:80px;text-align:center"><label for="id_upload_mol-1"><a title="Graphical representation of the uploaded molecule if provided">Uploaded Molecule</a></label></th>
					
				<tr><td style="padding:5px 5px 5px 5px"><div style="border:1px inset #000000;border-radius:5px;width:300px;height:300px" id="id_upload_mol-1"  name="upload_mol-1"/></div></td>
				</tr>
			</table><br>
                </div>
	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_inchi"><a title="InChI: IUPAC International Chemical Identifier (InChI) of the molecule.">InChI:</a></label></div>
			<div class="col-md-6"><textarea style="width:300px" cols="40" id="id_inchi" name="inchi" readonly rows="2"></textarea></div><!-- placeholder=" 1S/C18H19ClN4/c1-22-8-10-23(11-9-22)18-14-4-2-3-5-15(14)20-16-7-6-13(19)12-17(16)21-18/h2-7,12,20H,8-11H2,1H3"-->	
		<br></div>

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_sinchikey"><a title="SInChIKey: Molecule Standard InChI's hash">SInChIKey:</a></label></div>
			<div class="col-md-3"><input style="width:300px" id="id_sinchikey" maxlength="27" name="sinchikey" readonly type="text" /></div> <!--placeholder=" ZUXABONWMNSFBN-UHFFFAOYSA-N" -->
		</div>

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_net_charge"><a title="Net charge: Net charge of the molecule structure.">Net charge:</a></label></div>
			<div class="col-md-6"><input style="width:300px" id="id_net_charge" name="net_charge" readonly type="number" /></div> <!-- placeholder=" 0" -->
		<br></div>
	

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_inchikey"><a title="InChIKey: Molecule InChI's hash">InChIKey:</a></label></div>
			<div class="col-md-3"><input style="width:300px" id="id_inchikey" maxlength="27" name="inchikey" readonly type="text"  /></div> <!--  placeholder=" ZUXABONWMNSFBN-UHFFFAOYSA-N"-->
		<br></div>
	        
	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_smiles"><a title="Open SMILES: Canonical SMILES representation of the molecule.">Open SMILES:</a></label></div>
			<div class="col-md-6"><textarea cols="40" style="width:300px" id="id_smiles" name="smiles" readonly rows="2" ></textarea> <!--placeholder=" CN1CCN(CC1)C2=Nc3cc(Cl)ccc3Nc4ccccc24"-->
		</div><br></div>
                <br>
		<div class=row id='PRUEBA'>
			<div class="col-md-12"style="height:30px"><p style="font-size:11px;text-align:justify;margin-left:10%;margin-right:14%">The data above are generated by RDKit and OpenBabel. Please, check for potential errors in chemical structure in terms of protonation state, tautomery or isotopical composition (if needed). Please provide also a brief description about these properties.</p></div>
		</div><br><br>


	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_description"><a title="Description: Description about which specific protonation, resonance state or confomation is represented in this “molecule”.">Description:</a></label></div>
			<div class="col-md-6"><textarea cols="40" style="width:300px" id="id_description" name="description" rows="2" placeholder="Neutral form. Closest Nitrogen to the piperizine ring protonated."></textarea></div>
		</div><br>

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div>
			<div class="col-md-9"><label for="id_is_not_in_databases"><a title="Check this field if you could not find the compound in these databases "> The compound is not available in PubChem and ChEMBL: </a></label></div><div class="col-md-1"><input id="id_is_not_in_databases" name="is_not_in_databases" type="checkbox" value="1"/></div>
		</div>
		<div style="text-align:center"> 
               <h4><br>PubChem search settings</h4>
               </div><br>
               <div class="row">
                    <div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_search_by_pubchem"><a title="Search by: Molecule identifier chosen for searching the compound in external databases."> Search by:</a></label></div>
                        <div class="col-md-6">
                        <select id="id_search_by_pubchem" name="search_by_pubchem">
                        <option selected value="sinchi">Standard InChI</option>
                        <option value="sinchikeynoiso">Standard InChIKey</option>
                        <option value="smiles">Smiles</option>
                        </select>
                        </div>
               </div>
               <div class="row">
                    <div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_retrieve_type_pubchem"><a title="Retrieve type: Criteria for searching the compound in PubChem."> Retrieve:</a></label></div>
                        <div class="col-md-6">
                        <select id="id_retrieve_type_pubchem" name="retrieve_type_pubchem">
                        <option selected value="parent">Parent molecule</option>
                        <option value="original">Closest match</option>

                        </select>
                        </div>
               </div>
                <div class="row">
                        <div class="col-md-1"style="height:30px"></div>
                        <div class="col-md-3"><label for="id_neutralize_pubchem"><a title="Neutralize the molecule by protonation/deprotonation before searching in database (recommended).">Neutralize: </a></label></div><div class="col-md-1">
                        <input id="id_neutralize_pubchem" name="neutralize_pubchem" type="checkbox" checked value="1"/></div>
                </div>
<!--	        <div class="row" style="text-align:left;height:30px">
			<div class="col-md-4" style="height:30px"></div><div class="col-md-7" style="text-align:left"><button id=id_get_mol_info name=get_mol_info title="Retrieve compound information searching by Standard InChIKey." style="width:46%;height:30px" type="button">Retrieve data</button>
			<button id="id_reset" name="reset" title="Clears the molecule form" style="width:46%;height:30px" type="button">Clear molecule</button></div>
		</div><br>-->
		
		                <div style="text-align:center"> 
               <h4><br>ChEMBL search settings</h4>
               </div><br>
               <div class="row">
                    <div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_search_by_chembl"><a title="Search by: Molecule identifier chosen for searching the compound in external databases."> Search by:</a></label></div>
                        <div class="col-md-6">
                        <select id="id_search_by_chembl" name="search_by_chembl">
                        <option selected value="smiles">Smiles</option>
                        <option value="sinchikeynoiso">Standard InChIKey</option>
                        </select>
                        </div>
               </div>
               <div class="row">
                        <div class="col-md-1"style="height:30px"></div>
                        <div class="col-md-3"><label for="id_similarity_chembl"><a title="Similariry: Similarity score for SMILES search in CHEMBL. Min 70%.">Similarity:</a></label></div>
                        <div class="col-md-3">
                        <input id="id_similarity_chembl" style="width:40%" name="similarity" type="number" min=70 max=100 value="100"/><label>%</label>
                        </div>
               </div>
               <div class="row">
                    <div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_retrieve_type_chembl"><a title="Retrieve type: Criteria for searching the compound in ChEMBL."> Retrieve:</a></label></div>
                        <div class="col-md-6">
                        <select id="id_retrieve_type_chembl" name="retrieve_type_chembl">
                        <option selected value="parent">Parent molecule</option>
                        <option value="original">Closest match</option>

                        </select>
                        </div>
               </div>
                <div class="row">
                        <div class="col-md-1"style="height:30px"></div>
                        <div class="col-md-3"><label for="id_neutralize_chembl"><a title="Neutralize the molecule by protonation/deprotonation before searching in database (recommended).">Neutralize: </a></label></div><div class="col-md-1">
                        <input id="id_neutralize_chembl" name="neutralize_chembl" type="checkbox" checked value="1"/></div>
                </div>
                <div class="row" style="text-align:left;height:30px">
                        <div class="col-md-4" style="height:30px"></div><div class="col-md-7" style="text-align:left"><button id=id_get_mol_info name=get_mol_info title="Retrieve compound information searching by Standard InChIKey." style="width:46%;height:30px" type="button">Retrieve data</button>
                        <button id="id_reset" name="reset" title="Clears the molecule form" style="width:46%;height:30px" type="button">Clear molecule</button></div>
                </div><br>




	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_name"><a title="Name: First name in the list of names in PubChem or 'compound name' in ChEMBL if there is no entry in PubChem.">Name:</a></label></div>
			<div class="col-md-6"><input  style="width:300px" id="id_name" maxlength="60" readonly name="name" type="text" /></div> <!-- placeholder=" Clozapine"--> 	</div>
			

	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_iupac_name"><a title="IUPAC name: IUPAC name downloaded from PubChem.">IUPAC name:</a></label></div>
			<div class="col-md-6"><input id="id_iupac_name" style="width:300px" maxlength="500" readonly name="iupac_name" type="text"/></div> <!-- placeholder=" 3-chloro-6-(4-methylpiperazin-1-yl)-5H-benzo[b][1,4]benzodia" -->
		</div>
			

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_pubchem_cid"><a title="PubChem cid: PubChem chemical identifier">PubChem cid:</a></label></div>
			<div class="col-md-3"><input id="id_pubchem_cid" name="pubchem_cid"  style="width:145px;margin-right:4%" type="number" /></div> <!--placeholder=" 2818" -->
	 		<div class="col-md-3"><button id="id_update_from_pubchem" name="update_from_pubchem" style="width:145px;text-align:center;margin-left:4%;" type="button" >Update</button></div>
		</div>
			

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_chemblid"><a title="ChEMBL ID: id in ChEMBL.">ChEMBL ID:</a></label></div>
			<div class="col-md-3"><input id="id_chemblid" name="chemblid" type="number" style="width:145px;margin-right:4%"/></div> <!--  placeholder=" 42"-->
			<div class="col-md-3"><button id="id_update_from_chembl" name="update_from_chembl" style="width:145px;text-align:center;margin-left:4%" type="button" >Update</button></div>
		</div>


	       <!-- <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_std_id_molecule"><a title="Std ID molecule: Molecule ID that represents the standard form of the compound, here the properties downloaded directly from PubChem or ChEMBL.">Std ID molecule:</a></label></div>
			<div class="col-md-6"><select id="id_std_id_molecule" name="std_id_molecule"  style="width:300px" placeholder=" 1">
				<option value="" selected="selected">---------</option>
				<option value="1">DyndbMolecule object</option>
				<option value="3">DyndbMolecule object</option>
				<option value="4">DyndbMolecule object</option>
				<option value="5">DyndbMolecule object</option>
				<option value="6">DyndbMolecule object</option>
				<option value="7">DyndbMolecule object</option>
				<option value="2">DyndbMolecule object</option>
			</select></div>
		</div>a-->
	
	        <div class="row">
<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_other_names"><a title="Aliases: Other names that are obtained from PubChem or otherwise from ChEMBL.">Aliases:</a></label></div><div class="col-md-6">
		<textarea cols="40" id="id_other_names" name="other_names" readonly rows="2" style="width:300px" ></textarea></div> <!--placeholder=" Clozaril; Fazaclo; Fazaclo Odt; HF-1854"-->
		</div><br>

		<div class="row">
			<div class="col-md-12"style="height:30px"><p style="font-size:11px;text-align:justify;margin-left:10%;margin-right:14%">Please check the retrieved information is correct. If it is not correct, optionally provide a more suitable PubChem CID or ChEMBL ID and press update to retrieve data again from these databases.</p></div>
		</div><br>

               <div class="row">
                        <table align='center'>
                                <tr><th style="width:80px;text-align:center"><label for="id_upload_mol-2"><a title="Graphical representation of the uploaded molecule if provided">Uploaded Molecule</a></label></th>
                                        <th style="width:80px;text-align:center"><label for="id_stdform"><a title="Graphical representation of the standard form of the molecule">Standard form</a></label></th>

                                <tr><td style="padding:5px 5px 5px 5px"><div style="border:1px inset #000000;border-radius:5px;width:300px;height:300px" id="id_upload_mol-2"  name="upload_mol-2"/></div></td>
                                        <td style="padding:5px 5px 5px 5px"><div style="border:1px inset #000000;border-radius:5px;width:300px;height:300px" id="id_stdform" name="stdform"/></textarea></td>
                                </tr>
                        </table><br>
                </div>






			<br>
 		 	<div style="text-align:center">
	 			<div class="col-md-4 col-md-offset-2" style="text-align:center">
			     		<button type="button" value="+ Add molecule" id="id_add_molecule"  name="add_molecule"  style="height:30px;width:160px" > + Add molecule </button>
		        	</div> 		
	 			<div class="col-md-4" style="text-align:center">
			     		<input type="button" value="- Remove molecule"  id="id_del_molecule"  name="del_molecule" style="height:30px;width:160px" disabled>
		        	</div> 		
			<br><br>

  </div><br>
        <th><input type="submit" value="Submit"  id="id_submit"  name="submit" /> </th><br>   
</form>
</div><br>
   </div>  
   </div>  



<div class="col-md-7 col-md-offset-4"> 
      <div class="col-md-12 panel panel-primary">
  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/model/{{submission_id}}/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Continue to step 3: Complex Information </a>
      	  </div>
  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/protein/{{submission_id}}/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Back to step 1: Protein Information </a>
      	  </div>
      </div>
  </div>







</div>

{% endblock content %}

{% block addon_js %}
    <script src="{% static 'dynadb/ajaxConfig.js' %}"></script>
    <script src="{% static 'dynadb/notInDatabases.js' %}"></script>
    <script src="{% static 'dynadb/jquery.form.min.js' %}"></script>
    <script src="{% static 'dynadb/getMoleculeInfo.js' %}"></script>
    <script src="{% static 'dynadb/resetMolecule.js' %}"></script>
    <script src="{% static 'dynadb/generateMoleculeProperties.js' %}"></script>
    <script src="{% static 'dynadb/addSmallMol.js' %}"></script>
    <script src="{% static 'dynadb/delSmalmol.js' %}"></script>

{% endblock %}



