<head><style>
.long input {
 width:100%;
}
</style></head>
{% extends "home/base.html" %} 
{% load staticfiles %} 
{% load i18n %}
{% block content %}


{% if validlink %} <!-- if it's correct -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >Simulation Submission</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <h4 >CREATE A NEW ACCOUNT</h4>
	    </div>
            <p style="text-align: justify;"> As a registered user, you will be able to access the GPCRmd Simulation Submission tool.</p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>

<!-- body: Modified part -->

<div id="pprotform"class="col-md-7 "> 
 <div class="alert alert-info" style="border-color:#337ac1">
  <strong style="font-size:125%">Activation successful. </strong>You can now access to <a href="/accounts/memberpage" style="color:#31708F"><u>your account</u></a>.
 </div>
</div>

{% else %}

<div class="alert alert-danger">
<h3><b>Error</b></h3>
<p>{% trans "The activation link was invalid, possibly because it has already been used." %}</p>
{% endif %}



{% endblock content %} 
         

{% block addon_js %} 


{% endblock %}
