*.pyc
*.log
*.backup
config/settings_*.py
config/SECRETS.py
solr-4.10.2/example/logs/*
logs
*~
*.sdf
dynadb/interactions.csv
dynadb/mininter.csv
iuphar_useful_complexes_pickle
.gitignore.orig
dynadb/templates/dynadb/dynamics_query_result.html.orig
dynadb/templates/search/search.html.orig
dynamics_server/
simulations/*
dynadb/allproteins.sql
simulations/b2ar.dcd
simulations/build.pdb
simulations/model_bueno.pdb
simulations/model.pdb
dynadb/b2ar_isoprot/

/discoverx
/mdsrv_static/ARchol_model
/mdsrv_static/fp
/mdsrv_static/fp_old
/mdsrv_static/molpx_test
/view/create_substr_plot
/view/mytests
view/static/view/fplot_old/
