{% extends "home/base.html" %} 
{% load staticfiles %} 
{% block addon_css %}
  <style>
  .panel-body {
    word-break:break-all;
}
  #myTable{
      padding: 1px;
      width: 80%;
  }
 #myTable  th, #myTable  td {
      padding: 1px;
      width: 20%
  }

  #floatdiv {
    overflow-y:auto;
    max-height:400px;
    overflow:auto;
    white-space: nowrap;
    border-radius: 10px;
    background-color: grey;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40%;
}


  .foo{
      border: solid black 2px;
      padding: 1px;
      width: 20%
}

   #hidden{
    width: 90%;
}

#dynfil{
    width: 70%
    border-collapse: collapse;
}
   #dynfil, #dynfil td{
    background-color: #4CAF50;
    padding:7px;
    border: solid black 5px;
}

  </style>
{% endblock %}
{% block content %}

    <h3>Search for proteins, molecules or compounds.</h3>
    <form method="post" id="ajaxform" action="." enctype="multipart/form-data">{% csrf_token %}
        <input id="protein22" type="text" name="name" placeholder="5-HT1B receptor"></input>
        <input type="button" value="Search" name="search" id="Searcher" />
    </form> 
    <br>
    <h3>Results</h3>
        <p id='ajaxresults'>No results.</p>

        <br><br> <div id='tableresults'> Complex Results </div> <br><br>
        <br><br> <div id='modelresults'> Models Results </div> <br><br>
        <br><br> <div id='dynresults'> Dynamics Results </div> <br><br>
    <br><br><br><br><br><br>



    <div id="floatdiv">
    <div class="panel-body">
    <center>
    <table id="myTable">
    <thead>
    <tr>
        <th>Boolean</th>
        <th>Type</th>
        <th>ID</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
    <br>
    Exact Match: <input id="exactmatch" type="checkbox" name="exact" value="exactmatch">
    Return:
    <select id="result_type"><option value="complex">Complex</option><option value="model">Model</option><option value="dynamics">Dynamics</option></select>
    <div id='hiddenmodel'>
    <br><br>
    Is it an apoform? <input id="apoform" type="checkbox" name="apo" value="apo">
    <br><br>
    </div>


    <div id='hidden'>
    <br><br>
    <table id='dynfil'>
    <tbody>
    <tr><td>Time Delta < </td><td><input id='tstep' type="text" name="tstep"></td></tr>
    <tr><td>Force Field</td><td><select id="fftype"><option value="amber">AMBER</option><option value="charmm">CHARMM</option></select></td></tr>
    <tr><td>Duration</td><td></td></tr>
 
    </table>
    <br><br>
    </div>
    <br><br><br><button id="tablesearch" type="button" value="search"> Search! </button>
    </center>

    </div>

<br><br><br>
{% endblock %}

{% block addon_js %}
    <script src="{% static 'dynadb/complex_searcher.js' %}"></script>
    <script src="{% static 'dynadb/model_searcher.js' %}"></script>
    <script src="{% static 'dynadb/dynamic_searcher.js' %}"></script>
    <script src="{% static 'dynadb/add_search.js' %}"></script>
    <script src="{% static 'dynadb/ajaxto.js' %}"></script>
    <script src="{% static 'dynadb/tablesearch.js' %}"></script>
{% endblock %}
