{% extends "home/base.html" %} 
{% load staticfiles %} 
{% block addon_css %}
  <style>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

#ajaxresults22_paginate{
    margin: 50px 1px 50px 1px;

}

#ajaxresults22{
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

#ajaxresults22 td, ajaxresults22 tr{
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    white-space: nowrap;
}

.paginate_button {
    background-color: #00e6e6;
    box-sizing: border-box;
    <!--display: inline-block;-->
    min-width: 1.5em;
    padding: 0.1px 15px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid black;
    border-radius: 8px;

}

.paginate_button.current{
    background-color: #005ce6;
    box-sizing: border-box;
    <!--display: inline-block;-->
    min-width: 1.5em;
    padding: 0.1px 15px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: white !important;
    border: 1px solid black;
    border-radius: 8px;

}


.paginate_button_disabled {
    background-color: #1a75ff;
    box-sizing: border-box;
    <!--display: inline-block;-->
    min-width: 1.5em;
    padding: 0.1px 15px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid black;
    border-radius: 8px;
}
.paginate_button:hover {
    box-sizing: border-box;
    background-color: #3333cc;
    <!--display: inline-block;-->
    min-width: 1.5em;
    padding: 0.1px 15px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid black;
    border-radius: 8px;

}
.paginate_active {
    background-color: white;
    box-sizing: border-box;
    <!--display: inline-block;-->
    min-width: 1.5em;
    padding: 0.1px 15px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid black;
    border-radius: 8px;

}

#content{
    width:100%;
}

.panel-body {
    word-break:break-all;
}

#ajaxresults{
    padding: 20px;
}

#myTable{
    padding: 1px;
    width: 100%;
}


#myTable  th, #myTable  td {
    padding: 1px;
    text-align:center; 
    vertical-align:middle;
}


#haystacksearch{
    max-width: 100px;
    height: 800px;
    overflow-x: scroll;
    display: inline-block;
}

#floatdiv {
    width:48%;
    overflow-y:auto;
    max-height:400px;
    overflow:auto;
    position: fixed;
}


.foo{
    border: solid black 2px;
    padding: 1px;
    width: 20%
}

#hidden{
    width: 90%;
}

kbd{
    background-color:blue;
}
  </style>
{% endblock %}
{% block content %}


 <div class="row">
  <div class="col-sm-6">
    <div class="panel panel-info" div="haystacksearch">
      <div class="panel-heading">
            <br>
            <center><h3>Search for proteins, molecules or compounds.</h3>
            <form method="post" id="ajaxform" action="." enctype="multipart/form-data">{% csrf_token %}

                <input id="protein22" type="text" class="form-control" name="name" placeholder="5-HT1B receptor"></input>
                <select id="simpletype"><option selected="selected" value="All">All</option><option value="protein">Protein</option><option value="molecule">Molecule</option><option value="compound">Compound</option><option value="complex">Complex*</option><option value="model">Complex Structure *</option><option value="dynamics">Dynamics *</option></select>
<button id="Searcher" type="button" value="Search" class="btn btn-info"> <span class="glyphicon glyphicon-search"> </button>
                <br><input id="idsearch" type="checkbox" value="">Search by ID <br>  * only works with ID search.
                

            </form> 
            </center>
            <br>
    </div>
      <div class="panel-body">
            <table id='ajaxresults22'> <thead><tr> <th> Results: </th> <th>        </th></tr> </thead> <tbody> <tr><td>No results</td><td> </td></tr> </tbody> </table>
            <br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>

  </div>




  <div class="col-sm-6">

        <div class="panel panel-primary class" id="floatdiv">
            <div class="panel-heading"> <center><h4>Search for complexes, complex structures or dynamics</h4></center>
                <center><button id="gotoadvsearch" class="btn btn-info" type="button" value="Advanced Search">Go to Advanced Search</button></center>
            </div>

        <div id='crazycolor' class="panel-body">
        <center>

        <table id="myTable">
        <thead>
        <tr>
            <th>Boolean</th>
            <th>Type</th>
            <th>ID</th>
            <th></th><!--IS RECEPTOR -->
            <th></th><!--name-->
            <th></th><!--REMOVE-->
        </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
        <br>
        <label><input id="exactmatch" type="checkbox" name="exact" value="exactmatch"> Exact Match </label><br><br>
        Return: <select id="result_type"><option selected="selected" value="complex">Complex</option><option value="model">Complex Structure</option><option value="dynamics">Dynamics</option></select>


        <div id='hiddenmodel'>
            <br>
            <label><input type="radio" name="radiosearch" value="apo"> Only apoform </label>
            <label><input type="radio" name="radiosearch" value="com"> Only complexes </label>
            <label><input type="radio" name="radiosearch" value="both" checked="checked" > Both </label>
            <br><br>
        </div>


        <div id='hidden'>
            <br>
            <div id="search_type_dyn">
              <label><input type="radio" name="radiosearch1" value="apo"> Only apoform </label>
              <label><input type="radio" name="radiosearch1" value="com"> Only complexes </label>
              <label><input type="radio" name="radiosearch1" value="both" checked="checked"> Both </label>
            </div>
        <br>
        <table id='dynfil' class='table table-striped'>
        <tbody>
        <tr><td>Time step (smaller than:) </td><td><input id='tstep' type="text" name="tstep"></td></tr>
        <tr><td>Force Field</td><td><select id="fftype"><option selected="selected" value=""> </option><option value="AMBER">AMBER</option><option value="CHARMM">CHARMM</option></select></td></tr>
        <tr><td>Software used</td><td><select id="soft"><option selected="selected" value=""> </option><option value="ACEMD">ACEMD</option><option value="OTHER">OTHER</option></select></td></tr>
        <tr><td>Membrane type</td><td><select id="memtype"><option selected="selected" value=""> </option><option value="1">Implicit</option><option value="2">Homogeneous</option><option value="3">Heterogeneous</option></select></td></tr>
        <tr><td>Method</td><td><select id="method"><option selected="selected" value=""> </option><option value="1">Molecular Mechanics</option><option value="2">QM/MM</option><option value="3">NMR</option><option value="4">Monte Carlo simulation</option><option value="5">MM MSM/HMM adaptive</option><option value="6">MM metadynamics</option><option value="7">MM umbrella sampling</option><option value="8">MM biased</option><option value="9">MM scaled potentials</option></select></td></tr>
        <tr><td>Solvent type</td><td><select id="soltype"><option selected="selected" value=""> </option> <option value="1">Implicit</option><option value="2">TIP3P</option><option value="3">TIP4P</option><option value="4">TIPS</option><option value="5">SPC</option><option value="6">SPC/E</option><option value="7">Other</option></select></td></tr>
        </table>
        <br><br>
        </div>
        <br><br><br><button id="tablesearch" type="button" value="search" class="btn btn-info"> <span class="glyphicon glyphicon-search"> </button>
        </center>

    </div> <!--panel body-->

  </div> <!--panel class-->



</div> <!--second col-->



<br><br><br>
{% endblock %}

{% block addon_js %}

    <script src="{% static 'dynadb/complex_searcher.js' %}"></script>
    <script src="{% static 'dynadb/autosearch.js' %}"></script>
    <script src="{% static 'dynadb/model_searcher.js' %}"></script>
    <script src="{% static 'dynadb/dynamic_searcher.js' %}"></script>
    <script src="{% static 'dynadb/add_search.js' %}"></script>
    <script src="{% static 'dynadb/ajaxto.js' %}"></script>
    <script src="{% static 'dynadb/tablesearch.js' %}"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="//jqueryui.com/jquery-wp-content/themes/jquery/js/plugins.js"></script>
    <script type="text/javascript" src="//jqueryui.com/jquery-wp-content/themes/jquery/js/main.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script>
    $.extend( true, $.fn.dataTable.defaults, {
       "searching": false,
       "ordering": false
    } );

    </script>

{% endblock %}
