<head><style>
.long input {
 width:100%;
}
</style></head>
{% extends "home/base.html" %} 
{% load staticfiles %} 


{% block content %} 
<form method="post">
{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >Simulation Submission</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <h4 >CREATE A NEW ACCOUNT</h4>
	    </div>
             <p style="text-align: justify;">Please introduce your username and password to confirm your account.</p>

            <p style="text-align: justify;"> As a registered user, you will be able to access the GPCRmd Simulation Submission tool.</p>

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   <body> -->

<div id="pprotform"class="col-md-7 "> 
  <div id="protform" class="col-md-12 panel panel-primary"> 
    <div class="panel-body">

 			<div style="text-align:center">
             			<h4><br>User Activation</h4>
            		</div><br>   
<!-- modifica a partir de aqui -->
<div style="margin:10px">
  <div class=row > 
        <div class="col-md-10 col-md-offset-1" > 
            {% if form.non_field_errors %}
               <div class="non-field-errors alert alert-danger" style="padding:7px">
                 {% for err in form.non_field_errors %}
                    <p>{{ err }}</p>
                {% endfor %}
               </div>
           {% endif %}
        </div>
  </div>
{% for field in form %}
  <div  style="margin-bottom:8px">
     <div class="row">
         <div class="col-md-3 col-md-offset-1" style="width:120px;color:#337ac1;">  
               {{ field.label_tag }} 
         </div>  
         <div class="col-md-7" ><span class="long"> {{field}}</span>
         </div>
         <div class="col-md-1" >
         </div>
     </div>
     <div class="row" >
        <div class="col-md-11 col-md-offset-1" style="padding-left:20px;margin-bottom:8px"> 
          {% if field.errors %}
            <div>
              {% for err in field.errors %}
                 <p style="margin-bottom:px" class=text-danger>{{ err }}</p>
              {% endfor %}
            </div>
         {% endif %}
       </div>
     </div>
{% endfor %}
</div>
<!-- hasta aqui -->

<div class="row" >
  <div class="col-md-3 col-md-offset-1" style="margin-bottom:5px;width:120px">
     <input type="submit" value="Submit" style="width:75px"/> </form>
  </div>

</div>


<h1></h1>


{% endblock content %} 
         

{% block addon_js %} 


{% endblock %}
