 <!DOCTYPE html>
<html>

<head>
    {% extends "home/base.html" %}
    {% load static %}
    <meta charset="utf-8"/>
    <title>{% block title %}{{ title }}{% endblock %}</title>

    {% block extra_head %}
        {# -- Add any extra HTML heads tags here - except scripts and styles -- #}
    {% endblock %}

    {% block favicon %}
        {# -- Maybe replace the favicon -- #}
        <link rel="icon" type="image/png" href="{% static 'drf-yasg/swagger-ui-dist/favicon-32x32.png' %}"/>
    {% endblock %}

    {% block main_styles %}
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'drf-yasg/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'drf-yasg/swagger-ui-dist/swagger-ui.css' %}"> {% endcomment %}
    {% block extra_styles %}
        {# -- Add any additional CSS scripts here -- #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">    {% endblock %}

    {% endblock %}
</head>

<body class="swagger-body">

{% block extra_body %}
    {# -- Add any header/body markup here (rendered BEFORE the swagger-ui/redoc element) -- #}
    {% comment %} {% include "home/base.html" %} {% endcomment %}
{% endblock %}

{% block content %}
        {% comment %} DJANGO-REST-API BLOCK (api/urls.py) {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'drf-yasg/swagger-ui-dist/swagger-ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drf-yasg/style.css' %}"/>

        <div id="swagger-ui">
        </div>

            {% comment %} OTHER TOOLS {% endcomment %}
            <div id="tools" class="swagger-ui swagger-container">
                <div class="swagger-ui">
                    <div class="information-container wrapper">
                        <section class="block col-12">
                            <div>
                                <div class="info">
                                    <hgroup class="main">
                                        <h2 class="title">Other GPCRmd API tools</h2>
                                    </hgroup>
                                    <div class="description">
                                        <div class="markdown">
                                            <p>Tools related with files stored into the GPCRmd database (e.g. trajectories, topologies, parameters, protocols,...)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    {% if user.is_authenticated %}
                        <div id="downloader" class="wrapper">
                            <p style="color:#BF3C1F"> TEMPORARY DISABLED DUE TECHNICAL PROBLEMS!!</p>
                        </div>
                        {% comment %} <div id="downloader" class="wrapper">
                            <section class="block col-12 block-desktop col-12-desktop">
                                <div>
                                    <span>
                                        <div class="opblock-tag-section">
                                            <h3 class="opblock-tag no-desc" id="operations-tag-download_id" data-tag="download_id" data-is-open="false" onclick="openclosetag(this)">
                                                <a class="nostyle">
                                                    <span>download_id</span>
                                                </a><small></small>
                                                <button id="operations-button-download_id" aria-expanded="true" class="expand-operation" title="Collapse operation">
                                                    <svg class="arrow" width="20" height="20" aria-hidden="true" focusable="true">
                                                        <use id="arrow-download_id" href="#large-arrow-down"></use>
                                                    </svg>
                                                </button>
                                            </h3>
                                            {% csrf_token %}
                                                <div class="opblock opblock-get" id="operations-download_id" style="display:none">
                                                    <div class="opblock-body">
                                                        <div class="opblock-description-wrapper">
                                                            <div class="opblock-description">
                                                                <div class="markdown">
                                                                    <p>Get a zip with all the files related with the dynamics ids requested.</p>
                                                                        <p>{dyn_ids} is a list of dynamics ids, e.g. 36,90</p>
                                                                        <p style="color: #BF3C1F"> Due the large size of the files of each dynamic we decide to limit the number of dyns into 5 for each request. </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="opblock-section">
                                                            <div class="opblock-section-header">
                                                                <div class="tab-header">
                                                                    <h4 class="opblock-title">Parameters</h4>
                                                                </div>
                                                            </div>
                                                            <div class="table-container">
                                                                <table class="parameters">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="col col_header parameters-col_name">Name</th>
                                                                            <th class="col col_header parameters-col_description">Values</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="col parameters-col_name">
                                                                                <div class="parameter__name required">
                                                                                    dyn_ids
                                                                                    <span style="color: red;">&nbsp;*</span>
                                                                                </div>
                                                                                <div class="parameter__type">list</div>
                                                                            </td>
                                                                            <td class="col parameters-col_description">
                                                                                <input id="dyn_ids" name="dyn_ids" type="text" class="" title="" placeholder="(e.g. 36,90)" value="">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="execute-wrapper">
                                                            <button id="start-task" class="btn execute opblock-control__btn">Execute</button>
                                                        </div>
                                                        <div class="responses-wrapper">
                                                            <div class="opblock-section-header">
                                                                <h4>Responses</h4>
                                                            </div>
                                                            <div id="progress-container" style="display: none;">
                                                                <div id="progress-bar">0%</div>
                                                            </div>
                                                            <p id="progress-message"></p>
                                                            <p id="timer" style="display:none">Elapsed Time: 0m 0s</p>
                                                            <div id="dowload_dyns" style="display:none">
                                                                <a id="dowload_dyns_link" href="">Download</a>
                                                            </div>
                                                            <div id="log_dyns" style="display:none">
                                                                <a id="log_dyns_link" href="">Log file</a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </span>
                                </div>
                            </section>
                        </div> {% endcomment %}
                    {% else %}
                        <div id="downloader" class="wrapper">
                            <p style="color:#BF3C1F"> Log in to use these tools...</p>
                        </div>
                    {% endif %}
                </div>
            </div>


    {% block footer %}
        {# -- Add any footer markup here (rendered AFTER the swagger-ui/redoc element) -- #}
    {% endblock %}

    <script id="swagger-settings" type="application/json">{{ swagger_settings | safe }}</script>
    <script id="oauth2-config" type="application/json">{{ oauth2_config | safe }}</script> 

    {% block main_scripts %}
        <script src="{% static 'drf-yasg/swagger-ui-dist/swagger-ui-bundle.js' %}"></script>
        <script src="{% static 'drf-yasg/swagger-ui-dist/swagger-ui-standalone-preset.js' %}"></script>
        <script src="{% static 'drf-yasg/insQ.min.js' %}"></script>
        <script src="{% static 'drf-yasg/immutable.min.js' %}"></script>
        <script src="{% static 'drf-yasg/swagger-ui-init.js' %}"></script>

    {% endblock %}
    {% block extra_scripts %}
        {# -- Add any additional scripts here -- #}
        <script> 
            function openclosetag(e){
                var parent = e;
                var isopen = parent.dataset.isOpen;
                var tag = parent.dataset.tag;
                var arrow = e.getElementsByTagName("use")[0]; 
                if (isopen === "false") {
                    parent.dataset.isOpen = "true";
                    arrow.href.baseVal = "#large-arrow-up";
                    document.getElementById("operations-download_id").style.display = "block";
                    window.scrollTo(0, document.body.scrollHeight);

                } if (isopen ==="true") {
                    parent.dataset.isOpen = "false";
                    arrow.href.baseVal = "#large-arrow-down";
                    document.getElementById("operations-download_id").style.display = "none";
                }
            }
        </script>
        <script>
            let timerInterval;

            function startTimer() {
                let startTime = Date.now();
                $("#timer").show();  // Show the timer when the task starts
                timerInterval = setInterval(function() {
                    let elapsedTime = Math.floor((Date.now() - startTime) / 1000);
                    let minutes = Math.floor(elapsedTime / 60);
                    let seconds = elapsedTime % 60;
                    $("#timer").text(`Elapsed Time: ${minutes}m ${seconds}s`);                
                }, 1000);
            }

            function stopTimer() {
                clearInterval(timerInterval);
            }

            $("#start-task").click(function() {
                $("#start-task").prop('disabled', true);
                let dyn_ids = document.getElementById("dyn_ids").value;
                $("#dowload_dyns").hide();
                $("#log_dyns").hide();
                $.ajax({
                    url: "/api/download_id/", 
                    method: "GET",
                    data: { dyn_ids: dyn_ids }, 
                    success: function(data) {
                        if (data.error) {
                            // Re-enable the button if an error occurs
                            $("#start-task").prop('disabled', false);
                            stopTimer();
                        } else {
                            let taskId = data.task_id;
                            $("#progress-container").show();
                            $("#progress-bar").width('0%').text('0%');
                            $("#progress-message").text('');
                            $("#timer").text('Elapsed Time: 0m 0s');
                            startTimer();
                            updateProgress(taskId);
                        }
                    },
                    error: function(xhr, status, error) {
                        alert("An error occurred while starting the task."  + xhr.responseText);
                        // Re-enable the button and stop the timer on error
                        $("#start-task").prop('disabled', false);
                        stopTimer();
                    }
                });
            });

            function updateProgress(taskId) {
                $.ajax({
                    url:`/celery-progress/${taskId}/`,
                    method:"GET",
                    success: function(data) {
                        if (data.progress){
                            let progress = data.progress.percent;
                            let message = data.progress.description;
                            
                            if (progress > 0 && progress <= 100) {
                                $("#progress-bar").css('width', `${progress}%`).text(`${progress}%`);
                                $("#progress-message").text(message);
                            }

                            if (progress < 100) {
                                setTimeout(function() {
                                    updateProgress(taskId);
                                }, 100);
                            } else {
                                // Delay before requesting the zip URL
                                setTimeout(function() {
                                    $.ajax({
                                        url: `/api/download_link/${taskId}/`,
                                        method: "GET",
                                        success: function(data) {
                                            if (data.zip_url) {
                                                $("#dowload_dyns_link").attr("href", data.zip_url);
                                                $("#dowload_dyns").show();
                                            }
                                            $("#log_dyns_link").attr("href", data.log_url);
                                            $("#log_dyns").show();
                                            // Re-enable the button and stop the timer once the progress reaches 100%
                                            $("#start-task").prop('disabled', false);
                                            stopTimer();
                                        },
                                        error: function(xhr, status, error){
                                            alert("An error occurred while retrieving the task result." + xhr.responseText);
                                            // Re-enable the button and stop the timer on error
                                            $("#start-task").prop('disabled', false);
                                            stopTimer();
                                        }
                                    });
                                }, 2000); // 5000 milliseconds delay (5 seconds)
                            }
                        }
                    },
                    error: function(xhr, status, erro){
                        alert("An error occurred while retrieving the task result." + xhr.responseText);
                        // Re-enable the button and stop the timer on error
                        $("#start-task").prop('disabled', false);
                        stopTimer();
                    }
                });
            }
        </script>
    {% endblock %}

    <a id="oauth2-redirect-url" href="{% static 'drf-yasg/swagger-ui-dist/oauth2-redirect.html' %}" class="hidden"></a>

    {% if USE_SESSION_AUTH %}
        <div id="django-session-auth" class="hidden">
            {% block session_auth_button %}
                {% csrf_token %}

                {% block user_context_message %}
                    {% if request.user.is_authenticated %}
                        <div class="hello">
                            <span class="django-session">Django</span> <span
                                class="label label-primary">{{ request.user }}</span>
                        </div>
                    {% endif %}
                {% endblock %}

                {% if request.user.is_authenticated %}
                    <div class='btn authorize'>
                        <a id="auth" class="header__btn" href="{{ LOGOUT_URL }}?next={{ request.path }}" data-sw-translate>
                            {% block django_logout_message %}
                                Django Logout
                            {% endblock %}
                        </a>
                    </div>
                {% else %}
                    <div class='btn authorize'>
                        <a id="auth" class="header__btn" href="{{ LOGIN_URL }}?next={{ request.path }}" data-sw-translate>
                            {% block django_login_message %}
                                Django Login
                            {% endblock %}
                        </a>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endif %}
<br>
<br>
{% endblock %}
</body>



</html>
