<head>
<style>
.falselist{
    margin-bottom:4px;
    padding-left:15px;
}

.nav-tabs > li.active > a{
    background-color:#F3F3F3 !important; 
}

</style>
</head>
<body>
{% extends "home/base.html" %} 
{% load staticfiles %} 


{% block content %} 
{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:blue;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >GPCR viewer</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <!--<h4 >GPCR VIEWER</h4>-->
	    </div>
             <p style="text-align: justify;">Please indicate what you want to display in your molecular representation.</p>

	     <p style="text-align: justify;">You can choose one of the selections we propose or define a new one using the <a href="http://proteinformatics.charite.de/ngl/doc/index.html#User_manual/Usage/Selection_language" target="_blank">NGL selection language</a> to limit which atoms/residues are shown.<p>
        {% if gpcr_pdb != "no" %}
            <p style="text-align: justify;">Protein residues must be indicated as a range of residue positions or  <a href="http://docs.gpcrdb.org/generic_numbering.html" target="_blank" >generic GPCR residue numbers</a> (Ballesteros-Weinstein or GPCRdb structure-based numbering).</p>
        {% else %}
            <p style="text-align: justify;">Protein residues must be indicated as a range of residue positions.</p>
        {% endif %}
        <p style="text-align: justify;">If you wish a more complete visualization or to add a trajectory, you can open your structure in <a href="http://arose.github.io/mdsrv/" target="_blank" >MDsrv</a>.</p>
             <p style="text-align: justify;margin-bottom:4px">Mouse controls:</p>
		<span><p class="falselist">Left button hold and move: rotate camera around center.</p>
		<p class="falselist">Middle button hold and move: zoom camera in and out.</p>
		<p class="falselist">Middle button click: center camera on atom.</p>
		<p style="padding-left:15px" >Right button hold and move: translate camera in screen plane.</p></span>
             <p style="text-align: justify;">For more information about the viewer, visit the <a href="http://proteinformatics.charite.de/ngl/doc/index.html" target="_blank">NGL documentation</a>.</p>

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a href="http://docs.gpcrdb.org/receptors.html">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   <body> -->

<div id="pprotform"class="col-md-7 "> 
  <div id="protform" class="col-md-12 panel panel-primary"> 
    <div class="panel-body">

<!-- 			<div style="text-align:center">
             			<h4><br>GPCR visualizaion</h4>
            		</div><br>   -->

        <div class="container-fluid" style="padding-top:15px">
            <div class=row><p class="str_file" id ={{structure_file}},{{structure_file_id}}> {{structure_name}} <span id="chains">{{chains}}</span></p></div>
              
<!-- ============= Comp buttonss =========== -->
            <div class="row">
                <button  style="margin-bottom:10px;margin-right:3px;margin-left:3px;min-width:16%" class="btn btn-default receptor"  id="receptor">Receptor</button>
                {% for long_n, short_n in compounds %}
                  <button style="margin-bottom:10px;margin-right:3px;margin-left:3px;min-width:16%" class="btn btn-default rep_elements comp" title="{{short_n}}" id="{{short_n}}" >{{long_n}}</button>
                {% endfor %}
                <button  class="btn btn-default" id="btn_all" style="margin-bottom:10px;margin-right:3px;margin-left:3px;min-width:16%;background-color:#f2f2f2">All</button>
                <button  class="btn btn-default" id="btn_clear" style="margin-bottom:10px;margin-right:3px;margin-left:3px;min-width:16%;background-color:#fde8ec;border-color:#fbd0d8">Clear</button>
            </div>
<!-- ============= Input selection =========== -->
            <div id="selection_all" style="margin-bottom:5px">
            <div class="row">
                <div class="section_pan" style="cursor:pointer;padding:10px 10px 5px 10px;background-color:#ffffff;border-bottom:2px solid blue;border-radius:0" data-toggle="collapse" data-target="#selection"><span>Atom selection </span><span style="float:right;margin-right:5px" id="arrow" class="glyphicon glyphicon-chevron-down"></span></div> 
                <!--<button style="background-color:#ffffff;text-align:left;border-bottom:2px solid blue;border-radius:0"  type="button" class="btn btn-block" data-toggle="collapse" data-target="#selection">Atom selection </span></button>-->
            </div>
            <div id="selection" class="collapse" style="padding-right:15px;">
             <div style="padding-left:15px">
               <div class="row" style="margin-top:10px;">
                  <div  class="col-sm-10" style="padding-bottom:10px;padding-right:3px;padding-left:3px" > 
	                <input value="" class="form-control sel_input gpcr_pdb" type="text" id ="{{gpcr_pdb}}"  placeholder="Specify your selection" style="width:100%;background-color:#F8F8F8" >
                  </div>
                  <div class="col-sm-2 radio" style="margin-top:0; " >
	                <label><input class="sel_high" type="radio" name="sel_high" id="rad_high" class="high" value="high" checked>Highlight</label>
          	        <label><input class="sel_high" type="radio" name="sel_high" id="rad_sel" class="sel" value="sel" >Select</label>
                  </div>
              </div>
              <div id="alert"> </div>
<!-- ============= Sequence selection =========== -->
              <div class="row" style="">
              <button style="padding:5px;margin-left:3px" id="col_btn" type="button" class="btn btn-default" data-toggle="collapse" data-target="#seq_sel_div">Select from the sequence</button>
              </div>
              <div class="row collapse" id="seq_sel_div" style="padding:5px;border:1px solid #F3F3F3;margin-bottom:10px; padding:10px; border-radius:10px;">
                <button  class="btn btn-link" id="addToSel" ><span class="glyphicon glyphicon-plus-sign"> Add to your selection</button>
                <div class="row" style="margin:10px;width:auto;height:250px;overflow:auto;">
                  {% for seq,pos,gnum,chain,index in seq_pos %}
                  <div id="{{index}}" title="{{gnum}}" class="seq_sel" style="cursor:pointer;float: left;text-align:center;font-size:10px;margin-bottom:5px;background-color:#f2f2f2">
                    <div id="ss_seq" style="clear: left;border:1px solid #E8E8E8; ;width:25px;height:15px">{{seq}}</div>
                    <div id="ss_pos" class="{{chain}}" style="clear: left;border:1px solid #E8E8E8 ;width:25px;height:15px">{{pos}}</div>
                  </div>            
                  {% endfor %}
                </div> 
              </div>
             </div>

<!-- ============= Residues within x A of y =========== --> 
               <div class="row">
                <div class="sel_within" style="padding-left:5px;margin-right:5px;margin-left:0;margin-bottom:5px;margin-top:20px">
                  <span class="dist_sel" id="row0">
                    <span id="tick" ></span>
                    <span id="always" style="margin-left:14px">
                 <!-- <label id="checkbox_lab"><input id="checkbox_inp" type="checkbox" name="dist" value="dist"> -->Show residues within 

                    <input class="form-control input-sm" id="inputdist" type="text" style="width:40px;padding-left:7px;margin-bottom:5px">
                      &#8491; of
                        <select id="comp" name="comp">
                           {% for long_n, short_n in compounds %}
                           <option   value="{{short_n}}">{{long_n}}</option>
                           {% endfor %}
                        </select>
                    </span>
                  </span>
                  <!-- </label> -->
                  <span id="show_within"></span>
                  <button id="add_btn" class="btn btn-link" style="color:#57C857;font-size:20px;margin:0;padding:0" ><span class="glyphicon glyphicon-plus-sign"></span></button>
                  <!-- <button id="add_btn" class="btn btn-success" style="width:27px;height:27px;border-radius:100%;text-align: center;padding:0;font-size:10px;" ><span class="glyphicon glyphicon-plus"></span></button> -->
                  <button id="rm_btn" class="btn btn-link" style="color:#DC143C;font-size:20px;margin:0;padding:0;visibility:hidden" ><span class="glyphicon glyphicon-minus-sign"></span></button>
                  <!-- <button id="rm_btn" class="btn btn-danger" style="width:27px;height:27px;border-radius:100%;text-align: center;padding:0;font-size:10px;visibility:hidden" ><span class="glyphicon glyphicon-minus"></span></button>  -->
                </div>
               </div>

            </div>
            </div>
<!-- ============= Trajectories =========== --> 
          {% if traj_list %}
           <div id="trajectories_all" style="margin-top:5px;margin-bottom:5px">
              <div class="row">
                 <div class="section_pan" style="cursor:pointer;padding:10px 10px 5px 10px;background-color:#ffffff;border-bottom:2px solid blue;border-radius:0" data-toggle="collapse" data-target="#emb_trajectories"><span>Trajectories </span><span style="float:right;margin-right:5px;" id="arrow" class="glyphicon glyphicon-chevron-down"></span></div>
              </div>
              <div id="emb_trajectories" class="collapse" >
                  <div class="checkbox" >
			  <span style="margin-right:10px"><label><input  type="checkbox" name="traj" class="traj_element" id="traj_id_{{traj_list.0.2}}" value="{{traj_list.0.0}}" checked>{{traj_list.0.1}}</label></span>
			{% for traj in traj_list|slice:"1:" %}
			  <span style="margin-right:10px"><label><input  type="checkbox" name="traj" class="traj_element" id="traj_id_{{traj.2}}" value="{{traj.0}}">{{traj.1}}</label></span>
			{% endfor %}
		  </div>
              </div>
          </div>
          {% endif %}
<!-- ============= Predefined views of cons pos =========== -->
           {% if gpcr_pdb != "no" %}
            <div id="cons_pos_box_all" style="margin-top:5px;margin-bottom:5px">
            <div class="row">
                <div class="section_pan" style="cursor:pointer;padding:10px 10px 5px 10px;background-color:#ffffff;border-bottom:2px solid blue;border-radius:0" data-toggle="collapse" data-target="#cons_pos_box"><span>GPCR conserved positions </span><span style="float:right;margin-right:5px" id="arrow" class="glyphicon glyphicon-chevron-down"></span></div>               
                <!--<button style="background-color:#ffffff;text-align:left;border-bottom:2px solid blue;border-radius:0"  type="button" class="btn btn-block" data-toggle="collapse" data-target="#cons_pos_box">GPCR conserved positions</button>-->
            </div>
            <div id="cons_pos_box" class="collapse" style="padding-right:15px;padding-left:15px;padding-top:10">
                <ul class="nav nav-tabs" id="allclasses">
                 <li class="GPCRclass {{active_class.A.0}} cons_nav" id="{{show_class.A}}"><a id="{{show_class.A}}" class="cons_nav" data-toggle="tab" href="#classA"> Class A</a></li>
                  <li class="GPCRclass {{active_class.B.0}} cons_nav" id="{{show_class.B}}"><a id="{{show_class.B}}" class="cons_nav" data-toggle="tab" href="#classB">Class B</a></li>
                  <li class="GPCRclass {{active_class.C.0}} cons_nav" id="{{show_class.C}}"><a id="{{show_class.C}}" class="cons_nav" data-toggle="tab" href="#classC">Class C</a></li>
                  <li class="GPCRclass {{active_class.F.0}} cons_nav" id="{{show_class.F}}"><a id="{{show_class.F}}" class="cons_nav" data-toggle="tab" href="#classF">Class F</a></li>
                </ul>
                <div  class="row tab-content" style="background-color:#F3F3F3;margin-bottom:10px; padding:10px; border-radius:10px;">
                    <div style="margin:0;" id="classA" class="tab-pane {{active_class.A.1}}">
                        {% if show_class.A %}
                            {% if mol_sw %}
                                <p>Molecular switches</p>
	                                {% for pos in mol_sw %}
                                  <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" class="high_pd high_pdA btn btn-default" id="{{pos.2}}" title="{{pos.1}}">{{pos.0}}</button>
                                  {% endfor %}
	                                {% for pos in motifs_def %}
                                  <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" class="high_pd high_pdA btn btn-default" id="{{pos.2}}" title="{{pos.1}}">{{pos.0}}</button>
                                  {% endfor %}
                            {% endif %}
                            {% if cons_classA %}
                                <p>Most conserved</p>
	                                {% for pos in cons_classA %}
                                   <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}" class="high_pd high_pdA btn btn-default" id="{{pos.2}}">{{pos.0}}</button>
                                  {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div id="classB" class="tab-pane {{active_class.B.1}}">
                          {% if cons_classB %}
                            <p>Most conserved</p>
                            {% for pos in cons_classB %}
                            <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdB btn btn-default" id="{{pos.2}}">{{pos.0}}</button>
                            {% endfor %}   
                          {% endif %}                         
                    </div>  
                    <div id="classC" class="tab-pane {{active_class.C.1}}">
                          {% if cons_classC %}
                            <p>Most conserved</p>
                            {% for pos in cons_classC %}
                            <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdC btn btn-default" id="{{pos.2}}">{{pos.0}}</button>
                           {% endfor %}
                          {% endif %}
                    </div>  
                    <div id="classF" class="tab-pane {{active_class.F.1}}">
                          {% if cons_classF %}
                            <p>Most conserved</p>
                            {% for pos in cons_classF %}
                          <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdF btn btn-default" id="{{pos.2}}">{{pos.0}}</button>
                           {% endfor %}
                          {% endif %}
                    </div>
                    <button class="btn btn-link pull-right" id="clear_conspos" style="color:#DC143C;margin-bottom;0;padding-bottom:0">Clear all</button>
               </div>
            </div>
            </div>
            {% endif %}

<!-- ============= Analysis =========== --> 
          {% if traj_list %}
           <div id="analysis_all" style="margin-top:5px;margin-bottom:10px">
           <div class="row">
                <div class="section_pan" style="cursor:pointer;padding:10px 10px 5px 10px;background-color:#ffffff;border-bottom:2px solid blue;border-radius:0;margin-bottom:5px" data-toggle="collapse" data-target="#analysis"><span>Analysis </span><span style="float:right;margin-right:5px;" id="arrow" class="glyphicon glyphicon-chevron-down"></span></div>
            </div>
            <div id="analysis" class="row collapse">

<!-- ============= Compute distances =========== --> 

              <div class="section_pan" data-toggle="collapse" data-target="#analysis_dist" style="cursor:pointer;padding:0px 10px 5px 10px;border-bottom:1px solid #D8D8D8;color:#A8A8A8;margin-top:5px;margin-bottom:5px">Distance</div>
               <div id="analysis_dist" class="collapse">
                <div class="dist_btw" style="margin-right:5px;margin-left:0;">
                  <span class="dist_pair" id="row2_0">
                    <span id="tick2" ></span>
                    <span id="always2" style="margin-left:14px">
                     Compute distance between 
                     <input class="form-control input-sm" id="dist_from" type="text" style="width:50px;padding-left:7px;margin-bottom:5px">
			and
                     <input class="form-control input-sm" id="dist_to" type="text" style="width:50px;padding-left:7px;margin-bottom:5px">       

                    </span>
                  </span>

                  <span id="show_dist"></span>
                  <button id="add_btn2" class="btn btn-link" style="color:#57C857;font-size:20px;margin:0;padding:0" ><span class="glyphicon glyphicon-plus-sign"></span></button>
                  <button id="rm_btn2" class="btn btn-link" style="color:#DC143C;font-size:20px;margin:0;padding:0;visibility:hidden" ><span class="glyphicon glyphicon-minus-sign"></span></button>
                  
                </div>
                <div style="margin-left:18px;margin-bottom:15px">
                 At trajectory: 
                   <span style="margin-left:5px">
                        <select id="" name="dist_traj">
                           <option disabled selected value> </option>
                           {% for traj in traj_list %}
                           <option class="trajForDist" name="trajForDist" value="{{traj.2}}">{{traj.1}}</option>
                           {% endfor %}
                        </select>
                   </span>
                <button id="gotoDistPg" class="pull-right btn btn-default" style="padding:5px;margin-left:10px;margin-right:40px" >Obtain result</button>
                </div>
                <div class="col-md-12" style="margin-top:5px;padding-right:40px;clear:left;" id="dist_alert"> </div>
                <div class="checkbox" style="margin-left:18px;margin-bottom:15px">
		    <label><input type="checkbox" name="view_dist" class="view_dist" checked >Display distances</label>
               </div>
               </div>
<!-- ============= RMSD Analysis =========== --> 
            <div class="section_pan" data-toggle="collapse" data-target="#analysis_rmsd" style="cursor:pointer;padding:0px 10px 5px 10px;border-bottom:1px solid #D8D8D8;color:#A8A8A8;margin-top:5px;margin-bottom:5px">RMSD</div>
              <div class="collapse" id="analysis_rmsd">
                <div style="margin-left:18px;margin-bottom:10px;">
                 Trajectory: 
                        <select id="rmsd_traj" name="rmsd_traj">
                           <option disabled selected value> </option>
                           {% for traj in traj_list %}
                           <option   value="{{traj.0}}">{{traj.1}}</option>
                           {% endfor %}
                        </select>

                </div>
                <div class="col-md-12"  style="margin-left:18px;margin-bottom:10px;padding:0"> 
                   <div style="margin-left:0;padding-left:0;width:70px;" class="col-md-2">Frames:
                   </div>
                   <div id="rmsd_sel_frames_id" class="col-md-10" >
                      <div class="row">
                         <input type="radio" name="rmsd_sel_frames" value="all_frames" checked> 
                              All
                      </div>
                      <div class="row" >
                         <input type="radio" name="rmsd_sel_frames" value="rmsd_frames_mine"> 
                             From 
                             <input class="form-control input-sm" id="rmsd_frame_1" type="text" style="width:40px;padding-left:7px;margin-bottom:5px">
                             to 
                             <input class="form-control input-sm" id="rmsd_frame_2" type="text" style="width:40px;padding-left:7px;margin-bottom:5px">
                      </div>
                      <div id="rmsd_sel_frames_error" class="row" >
                      </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-left:18px;margin-bottom:10px;padding:0"> 
                    Reference: frame 
                        <input placeholder=1 class="form-control input-sm" id="rmsd_ref_frame" type="text" style="width:40px;padding-left:7px;margin-bottom:5px">
                        from trajectory 
                        <select id="rmsd_ref_traj_id" name="rmsd_ref_traj">
                           <option disabled selected value> </option>
                           {% for traj in traj_list %}
                           <option   value="{{traj.0}}">{{traj.1}}</option>
                           {% endfor %}
                        </select>
                      <div class="col-md-12" id="rmsd_ref_frames_error" class="row" style="padding:0" >
                      </div>
                </div>
                <div id="rmsd_sel_id" style="margin-left:18px;margin-bottom:20px"> 
                   <div style="margin-left:0;padding-left:0;width:70px;" class="col-md-2">Selection:
                   </div>
                   <div class="col-md-10" >
                      <div title="Protein alpha carbons." class="row">
                         <input type="radio" name="rmsd_sel" value="bck" checked> Backbone
                      </div>
                      <div title="All non-hydrogen protein atoms." class="row">
                         <input type="radio" name="rmsd_sel" value="noh"> noh
                      </div>
                      <div title="Protein CA, CB, C, N, O." class="row">
                         <input type="radio" name="rmsd_sel" value="min"> Minimal
                      </div>
                      <div class="row">
                         <input type="radio" name="rmsd_sel" value="all_atoms"> All atoms
                      </div>
                      <div class="row" style="margin-bottom:10px">
                         <div style="margin-left:0;padding-left:0;width:110px" class="col-md-3">
                             <input id="rmds_my_sel_id" type="radio" name="rmsd_sel" value="rmds_my_sel"> My selection 
                         </div>
                         <div style="margin-left:0;padding-left:0;" class="col-md-9">
                             <input class="form-control input-sm" id="rmsd_my_sel_sel" type="text" style="width:100%;padding-left:7px;">
                         </div>
                      </div>
              <button id="gotoRMSDPg" class="pull-right btn btn-default" style="padding:5px;margin-left:10px;margin-right:5px" >Obtain result</button>
                </div>
               </div>
                <div class="col-md-12" style="margin-top:5px;padding-right:40px;clear:left;" id="rmsd_alert"> </div>
              </div>
             </div>

          {% endif %}
<!-- ======================================== -->
            </div>
            </div>
            <div style="margin-bottom:5px">
                <div class="row" style="margin-top:10px;margin-bottom:0" >
                   <div style="padding-right:3px;padding-left:3px"> 
                      <button  class="btn" id="submit" style="background-color:#e6f4d7;border-color:#bfe39c;">Apply</button> <!--background-color:#ccffb3;border-color:#bbff99-->
                      <a  class="btn btn-default"  id="to_mdsrv" role="button"  href="http://localhost:8081/html/mdsrv_emb.html" target="_blank">Open in MDsrv</a>
                   </div>
     	        </div>

                <div>
                   <iframe src="http://localhost:8081/html/embed.html?sd=y" style="width:100%;height:430px;border:none;overflow:hidden" scrolling="no"></iframe><!--width:540px-->
                </div>
                <div id="legend"> </div>
                </div>
          </div>

 <!--  </div>-->
          <!--
          {% if traj_list %}
            <div class="panel panel-default" >
                <div class="panel-body">
                  <div><p style="color:#337ac1;">Select trajectories</p></div>
		    <div class="checkbox" >
			{% for traj in traj_list %}
			  <span style="margin-right:10px"><label><input  type="checkbox" name="traj" class="traj_element" id="traj_id_{{traj.2}}" value="{{traj.0}}">{{traj.1}}</label></span>
			{% endfor %}
		    </div>
                    <a class="btn btn-default"  id="to_mdsrv" role="button"  href="http://localhost:8081/html/mdsrv_emb.html" target="_blank">Open in MDsrv</a>

                </div>
            </div>
         {% else %}
            <div class="panel">
                <div class="panel-body" style="padding-top:0">
                  <a class="btn btn-default"  id="to_mdsrv" role="button"  href="http://localhost:8081/html/mdsrv_emb.html" target="_blank">Open in MDsrv</a>
                </div>
           </div>
        {% endif %}-->
        </div>
    </div>

{% endblock content %} 
         

{% block addon_js %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'view/emb_ngl_viewer.js' %}"></script>

{% endblock %}


</body>
