<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <script>document.domain=document.domain;</script>
<style>
.falselist{
    margin-bottom:4px;
    padding-left:15px;
}

.nav-tabs > li.active > a{
    background-color:#F3F3F3 !important; 
}
.gpcrbold{
    font-weight: bold;
}
</style>
</head>
<body>
{% extends "home/base.html" %} 
{% load staticfiles %} 


{% block content %} 
{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:blue;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >GPCR viewer</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <!--<h4 >GPCR VIEWER</h4>-->
	    </div>
             <p style="text-align: justify;">Please indicate what you want to display in your molecular representation.</p>

	     <p style="text-align: justify;">You can choose one of the selections we propose or define a new one using the <a href="http://proteinformatics.charite.de/ngl/doc/index.html#User_manual/Usage/Selection_language" target="_blank">NGL selection language</a> to limit which atoms/residues are shown.<p>
        {% if gpcr_pdb != "no" %}
            <p style="text-align: justify;">Protein residues can be indicated as  <a href="http://docs.gpcrdb.org/generic_numbering.html" target="_blank" >generic GPCR residue numbers</a> (Ballesteros-Weinstein or GPCRdb structure-based numbering).</p>
        {% endif %}
        <p style="text-align: justify;">If you wish to use more complex visualization options, you can open your structure in <a href="http://arose.github.io/mdsrv/" target="_blank" >MDsrv</a>.</p>
             <p style="text-align: justify;margin-bottom:4px">Mouse controls:</p>
		<span><p class="falselist">Left button hold and move: rotate camera around center.</p>
		<p class="falselist">Left button click: pick atom or distance.</p>
		<p class="falselist">Middle button hold and move: zoom camera in and out.</p>
		<p class="falselist">Middle button click: center camera on atom.</p>
		<p style="padding-left:15px" >Right button hold and move: translate camera in screen plane.</p></span>
             <p style="text-align: justify;">For more information about the viewer, visit the <a href="http://proteinformatics.charite.de/ngl/doc/index.html" target="_blank">NGL documentation</a>.</p>

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information, see the <a href="{% url 'view:viewer_docs' %}">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   <body> -->

<div id="pprotform"class="col-md-8 "> 
  <div id="protform" class="col-md-12 panel panel-primary"> 
    <div class="panel-body" style="padding-top:10px">

<!-- 			<div style="text-align:center">
             			<h4><br>GPCR visualizaion</h4>
            		</div><br>   -->

        <div class="container-fluid">
            
<!-- ============= IFRAME =========== -->
            <div id="view_screen" class="row str_file" data-struc_file={{structure_file}} data-struc_file_id={{structure_file_id}} data-dyn_id={{dyn_id}} data-all_chains="{{all_chains}}">
                <div class="row" style=max-width:590px;margin:auto>
                    <div id="legend" style="float:left;min-height:20px"> </div>
                    <!--button class="btn btn-danger btn-xs pull-right" style="margin:0;" type="button" id="clear_dist_reps">Clear distances</button>-->
                </div>  
                <div >
                    <div style="margin:auto;position:relative;overflow:hidden;height:395px;max-width:590px;">
                        <iframe style="border:none;position:absolute;top:-30px;" id="embed_mdsrv" data-mdsrv_url={{mdsrv_url}} src="{{mdsrv_url}}/html/embed.html" scrolling="no" height="1000px" width="590px"></iframe>
                    </div>

                </div>          
            </div>            
           

<!-- ============= Apply buttonss =========== -->
            <div style="margin-bottom:5px">
                <div class="row" style="margin-top:5px;margin-bottom:10px;border-bottom:1px solid #D8D8D8;padding-bottom:10px" >
                   <div style="padding-right:3px;padding-left:3px"> 
                      <button  class="btn btn-success" id="submit" >Apply</button> <!--background-color:#ccffb3;border-color:#bbff99-->
                      <a  class="btn btn-default"  id="to_mdsrv" role="button"  href="{{mdsrv_url}}/html/mdsrv_emb.html" target="_blank">MDsrv</a>
                      <div class="pull-right">
                          <div class="btn-group">
                            <button type="button" id="bckg_dark" class="btn btn-default active bckg_theme" style="padding-left:5px;padding-right:5px">Dark</button>
                            <button type="button" id="bckg_light" class="btn btn-default bckg_theme" style="padding-left:5px;padding-right:5px">Light</button>
                          </div>                      
                          <button class="btn btn-default" type="button" id="screenshot"  style="font-size:12px;padding-right:7px;padding-left:7px;height:35px" ><span class="glyphicon glyphicon-camera" style="margin-right:5px"></span>Screenshot</button>
                      </div>
                   </div>
     	        </div>
             </div>
<!-- ============= Comp buttonss =========== -->
            <div class="row"><center>
                <button title="{{chains}}" style="margin-bottom:10px;margin-right:3px;margin-left:3px;min-width:16%;padding:5px" class="btn btn-default receptor active"  id="receptor">Receptor</button>
                {% if other_prots%}
                  <button style="margin-bottom:10px;margin-right:3px;margin-left:3px;min-width:16%;padding:5px" class="btn btn-default rep_elements nonGPCR active" title="{{other_prots.1}}" id="{{other_prots.0}}" >Other proteins</button>
                {% endif %}
                {% for long_n, short_n in compounds %}
                  <button style="margin-bottom:10px;margin-right:3px;margin-left:3px;min-width:16%;padding:5px" class="btn btn-default rep_elements comp" title="{{short_n}}" id="{{short_n}}" >{{long_n}}</button>
                {% endfor %}
                {% if compounds|length > 1%}
                <button  class="btn btn-default" id="btn_all" style="margin-bottom:10px;margin-right:3px;margin-left:3px;min-width:16%;background-color:#f2f2f2;padding:5px">All</button>
                <button  class="btn btn-default" id="btn_clear" style="margin-bottom:10px;margin-right:3px;margin-left:3px;min-width:16%;background-color:#fde8ec;border-color:#fbd0d8;padding:5px">Clear</button>
                {% endif %}
            </center></div>
<!-- ============= Input selection =========== -->
            <div id="selection_all" style="margin-bottom:5px">
            <div class="row">
                <div class="section_pan" style="cursor:pointer;padding:5px 10px 5px 10px;background-color:#ffffff;border-bottom:2px solid blue;border-radius:0" data-toggle="collapse" data-target="#selection"><span>Atom selection </span><span style="float:right;margin-right:5px" id="arrow" class="glyphicon glyphicon-chevron-down"></span></div> 
            </div>
            <div id="selection" class="collapse" style="padding-right:15px;">
             <div style="padding-left:15px">
               <div class="row" style="margin-top:10px;">
                  <div  class="col-sm-10" style="padding-bottom:10px;padding-right:3px;padding-left:3px" > 
	                <input value="" class="form-control sel_input gpcr_pdb" type="text" data-gpcr_pdb ="{{gpcr_pdb}}"  placeholder="Specify your selection" style="width:100%;background-color:#F8F8F8" >
                  </div>
                  <div class="col-sm-2 radio" style="margin-top:0; " >
	                <label><input class="sel_high" type="radio" name="sel_high" id="rad_high" class="high" value="high" checked>Highlight</label>
          	        <label><input class="sel_high" type="radio" name="sel_high" id="rad_sel" class="sel" value="sel" >Restrict</label>
                  </div>
              </div>
              <div id="alert"> </div>
<!-- ============= Sequence selection =========== -->
              {% if prot_seq_pos %}
              <div style="margin-bottom:20px">
              <div class="row" style="">
                <button style="padding:5px;margin-left:3px;" id="col_btn" type="button" class="btn btn-default" data-toggle="collapse" data-target="#seq_sel_div">Select from the sequence</button>
              </div>
              <div class="row collapse" id="seq_sel_div" style="padding:5px;border:1px solid #F3F3F3;margin-bottom:10px; padding:10px; border-radius:10px;">
                <button  class="btn btn-link" id="addToSel" type="button"><span class="glyphicon glyphicon-plus-sign"> Add to your selection</button>
                <div class="row" style="margin:10px;width:auto;height:250px;overflow:auto;">
                  {% for prot_name, seq_pos in prot_seq_pos %}
                    <div style="clear: left;padding-bottom:20px">
                      {% if prot_seq_pos|length > 1 %}
                         <div>{{prot_name}}</div>
                      {% endif %}
                      {% for seq,pos,gnum,chain,index in seq_pos %}
                      <div id="{{index}}" title="{{gnum}}" class="seq_sel" style="cursor:pointer;float: left;text-align:center;font-size:10px;margin-bottom:5px;background-color:#f2f2f2">
                        <div id="ss_seq" style="clear: left;border:1px solid #E8E8E8; ;width:25px;height:15px">{{seq}}</div>
                        <div id="ss_pos" class="{{chain}}" style="clear: left;border:1px solid #E8E8E8 ;width:25px;height:15px">{{pos}}</div>
                      </div>            
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div> 
              </div>
              </div>
              {% endif %}
             </div>

<!-- ============= Residues within x A of y =========== --> 
              {% if compounds|length > 0%}
               <div class="row">
               
                <div class="sel_within" style="padding-left:5px;margin-right:5px;margin-left:0;margin-bottom:5px;">
                  <div class="dist_sel" id="row0" style="margin-bottom:5px">
                    <span class="tick" ></span>
                    <span class="always" style="margin-left:14px">
                     Show 
                        <select class="resWthComp" name="rescomp">
                            <option  selected value="protein">residues</option>
                           {% for long_n, short_n in compounds %}
                                <option   value="{{short_n}}">{{long_n}}</option>
                           {% endfor %}
                        </select>                     
                      within 
                    <input class="form-control input-sm inputdist" type="text" style="width:40px;padding-left:7px;">
                      &#8491; of
                        <select class="wthComp" name="comp">
                           {% for long_n, short_n in compounds %}
                           <option   value="{{short_n}}">{{long_n}}</option>
                           {% endfor %}
                           {% if other_prots%}
                           <option   value="{{other_prots.0}}">Other proteins</option>
                           {% endif %}
                           <option   value="user_sel">Selection</option>
                        </select>
                        <span class="user_sel_input_p"></span>
                        <button class="btn btn-link rm_btn" style="color:#DC143C;font-size:20px;margin:0;padding:0;" ><span class="glyphicon glyphicon-remove-sign"></span></button>
                        <button class="btn btn-link add_btn" style="color:#57C857;font-size:20px;margin:0;padding:0" ><span class="glyphicon glyphicon-plus-sign"></span></button>
                    </span>
                    <div class="alert_sel_wth"></div>
                  </div>
                  <!--<span id="show_within"></span>-->
                </div>
                
               </div>
               {% endif %}

            </div>
            </div>

<!-- ============= Predefined views of cons pos =========== -->
           {% if gpcr_pdb != "no" %}
            <div id="cons_pos_box_all" data-gpcr_id_name="{{gpcr_id_name_js}}" style="margin-top:5px;margin-bottom:5px">
            <div class="row">
                <div class="section_pan" style="cursor:pointer;padding:10px 10px 5px 10px;background-color:#ffffff;border-bottom:2px solid blue;border-radius:0" data-toggle="collapse" data-target="#cons_pos_box"><span>GPCR conserved positions </span><span style="float:right;margin-right:5px" id="arrow" class="glyphicon glyphicon-chevron-down"></span></div>               
                <!--<button style="background-color:#ffffff;text-align:left;border-bottom:2px solid blue;border-radius:0"  type="button" class="btn btn-block" data-toggle="collapse" data-target="#cons_pos_box">GPCR conserved positions</button>-->
            </div>
            <div id="cons_pos_box" class="collapse" style="padding-right:15px;padding-left:15px;padding-top:10">
              {% if gpcr_id_name|length > 1 %}
                <div class="row" style="margin-bottom:10px">
                      <select class="form-control" style="width:100%;height:32px;" id="gpcr_sel">
                        <option value="all">All GPCRs</option>
                        {% for gpcr_id, prot_name in gpcr_id_name.items %}
                        <option value="{{gpcr_id}}">{{prot_name}}</option>
                        {% endfor %}
                      </select>
                </div>
                <!-- Conserved pos for all GPCRs -->
                    <div id="gpcr_id_all" class="gpcr_prot_show_cons" style="display:inline">
                        <ul class="nav nav-tabs" id="allclasses">
                          <li class="GPCRclass {{cons_pos_all_info.2.A.0}} cons_nav" data-TF="{{cons_pos_all_info.1.A}}"><a data-TF="{{cons_pos_all_info.1.A}}" class="cons_nav" data-toggle="tab" href="#classA_all">Class A</a></li>
                          <li class="GPCRclass {{cons_pos_all_info.2.B.0}} cons_nav" data-TF="{{cons_pos_all_info.1.B}}"><a data-TF="{{cons_pos_all_info.1.B}}" class="cons_nav" data-toggle="tab" href="#classB_all">Class B</a></li>
                          <li class="GPCRclass {{cons_pos_all_info.2.C.0}} cons_nav" data-TF="{{cons_pos_all_info.1.C}}"><a data-TF="{{cons_pos_all_info.1.C}}" class="cons_nav" data-toggle="tab" href="#classC_all">Class C</a></li>
                          <li class="GPCRclass {{cons_pos_all_info.2.F.0}} cons_nav" data-TF="{{cons_pos_all_info.1..F}}"><a data-TF="{{cons_pos_all_info.1..F}}" class="cons_nav" data-toggle="tab" href="#classF_all">Class F</a></li>
                        </ul>
                        <div  class="row tab-content" style="background-color:#F3F3F3;margin-bottom:10px; padding:10px; border-radius:10px;">
                            <div style="margin:0;" id="classA_all" class="tab-pane {{cons_pos_all_info.2.A.1}}">
                                {% if cons_pos_all_info.1.A %}
                                    {% if cons_pos_all_info.0.A.1 %}
                                        <p>Molecular switches</p>
	                                        {% for pos in cons_pos_all_info.0.A.1 %}
                                          <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" class="high_pd high_pdA btn btn-default" data-pdbpos="{{pos.2}}" title="{{pos.1}}">{{pos.0}}</button>
                                          {% endfor %}
	                                        {% for pos in motifs_all_info.A %}
                                          <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" class="high_pd high_pdA btn btn-default" data-pdbpos="{{pos.2}}" title="{{pos.1}}">{{pos.0}}</button>
                                          {% endfor %}
                                    {% endif %}
                                    {% if cons_pos_all_info.0.A.0 %}
                                        <p>Most conserved</p>
	                                        {% for pos in cons_pos_all_info.0.A.0 %}
                                           <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}" class="high_pd high_pdA btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                          {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div id="classB_all" class="tab-pane {{cons_pos_all_info.2.B.1}}">
                                  {% if cons_pos_all_info.0.B.0 %}
                                    <p>Most conserved</p>
                                    {% for pos in cons_pos_all_info.0.B.0 %}
                                    <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdB btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                    {% endfor %}   
                                  {% endif %}                         
                            </div>  
                            <div id="classC_all" class="tab-pane {{cons_pos_all_info.2.C.1}}">
                                  {% if cons_pos_all_info.0.C.0 %}
                                    <p>Most conserved</p>
                                    {% for pos in cons_pos_all_info.0.C.0 %}
                                    <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdC btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                   {% endfor %}
                                  {% endif %}
                            </div>  
                            <div id="classF_all" class="tab-pane {{cons_pos_all_info.2.F.1}}">
                                  {% if cons_pos_all_info.0.F.0 %}
                                    <p>Most conserved</p>
                                    {% for pos in cons_pos_all_info.0.F.0 %}
                                  <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdF btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                   {% endfor %}
                                  {% endif %}
                            </div>
                            <button class="btn btn-link pull-right clear_conspos" style="color:#DC143C;margin-bottom;0;padding-bottom:0">Clear all</button>
                       </div>
                    </div>
                <!-- Conserved pos for each of the GPCRs -->
                {% for gpcr_id, gpcr_name, show_class,active_class, cons_class, motifs_def in all_gpcrs_info %}            
                    <div id="gpcr_id_{{gpcr_id}}" class="gpcr_prot_show_cons" style="display:none">
                        <ul class="nav nav-tabs" id="allclasses">
                          <li class="GPCRclass {{active_class.A.0}} cons_nav" data-TF="{{show_class.A}}"><a data-TF="{{show_class.A}}" class="cons_nav" data-toggle="tab" href="#classA_{{gpcr_id}}">Class A</a></li>
                          <li class="GPCRclass {{active_class.B.0}} cons_nav" data-TF="{{show_class.B}}"><a data-TF="{{show_class.B}}" class="cons_nav" data-toggle="tab" href="#classB_{{gpcr_id}}">Class B</a></li>
                          <li class="GPCRclass {{active_class.C.0}} cons_nav" data-TF="{{show_class.C}}"><a data-TF="{{show_class.C}}" class="cons_nav" data-toggle="tab" href="#classC_{{gpcr_id}}">Class C</a></li>
                          <li class="GPCRclass {{active_class.F.0}} cons_nav" data-TF="{{show_class.F}}"><a data-TF="{{show_class.F}}" class="cons_nav" data-toggle="tab" href="#classF_{{gpcr_id}}">Class F</a></li>
                        </ul>
                        <div  class="row tab-content" style="background-color:#F3F3F3;margin-bottom:10px; padding:10px; border-radius:10px;">
                            <div style="margin:0;" id="classA_{{gpcr_id}}" class="tab-pane {{active_class.A.1}}">
                                {% if show_class.A %}
                                    {% if cons_class.A.1 %}
                                        <p>Molecular switches</p>
	                                        {% for pos in cons_class.A.1 %}
                                          <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" class="high_pd high_pdA btn btn-default" data-pdbpos="{{pos.2}}" title="{{pos.1}}">{{pos.0}}</button>
                                          {% endfor %}
	                                        {% for pos in motifs_def.A %}
                                          <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" class="high_pd high_pdA btn btn-default" data-pdbpos="{{pos.2}}" title="{{pos.1}}">{{pos.0}}</button>
                                          {% endfor %}
                                    {% endif %}
                                    {% if cons_class.A.0 %}
                                        <p>Most conserved</p>
	                                        {% for pos in cons_class.A.0 %}
                                           <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}" class="high_pd high_pdA btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                          {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div id="classB_{{gpcr_id}}" class="tab-pane {{active_class.B.1}}">
                                  {% if cons_class.B.0 %}
                                    <p>Most conserved</p>
                                    {% for pos in cons_class.B.0 %}
                                    <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdB btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                    {% endfor %}   
                                  {% endif %}                         
                            </div>  
                            <div id="classC_{{gpcr_id}}" class="tab-pane {{active_class.C.1}}">
                                  {% if cons_class.C.0 %}
                                    <p>Most conserved</p>
                                    {% for pos in cons_class.C.0 %}
                                    <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdC btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                   {% endfor %}
                                  {% endif %}
                            </div>  
                            <div id="classF_{{gpcr_id}}" class="tab-pane {{active_class.F.1}}">
                                  {% if cons_class.F.0 %}
                                    <p>Most conserved</p>
                                    {% for pos in cons_class.F.0 %}
                                  <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdF btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                   {% endfor %}
                                  {% endif %}
                            </div>
                            <button class="btn btn-link pull-right clear_conspos" style="color:#DC143C;margin-bottom;0;padding-bottom:0">Clear all</button>
                       </div>
                    </div>
               {% endfor %}
               {% else %} <!-- When only 1 gpcr: -->
                   {% for gpcr_id, gpcr_name, show_class,active_class, cons_class, motifs_def in all_gpcrs_info %}            
                    <div id="gpcr_id_{{gpcr_id}}" class="gpcr_prot_show_cons">
                        <ul class="nav nav-tabs" id="allclasses">
                          <li class="GPCRclass {{active_class.A.0}} cons_nav" data-TF="{{show_class.A}}"><a data-TF="{{show_class.A}}" class="cons_nav" data-toggle="tab" href="#classA"> Class A</a></li>
                          <li class="GPCRclass {{active_class.B.0}} cons_nav" data-TF="{{show_class.B}}"><a data-TF="{{show_class.B}}" class="cons_nav" data-toggle="tab" href="#classB">Class B</a></li>
                          <li class="GPCRclass {{active_class.C.0}} cons_nav" data-TF="{{show_class.C}}"><a data-TF="{{show_class.C}}" class="cons_nav" data-toggle="tab" href="#classC">Class C</a></li>
                          <li class="GPCRclass {{active_class.F.0}} cons_nav" data-TF="{{show_class.F}}"><a data-TF="{{show_class.F}}" class="cons_nav" data-toggle="tab" href="#classF">Class F</a></li>
                        </ul>
                        <div  class="row tab-content" style="background-color:#F3F3F3;margin-bottom:10px; padding:10px; border-radius:10px;">
                            <div style="margin:0;" id="classA" class="tab-pane {{active_class.A.1}}">
                                {% if show_class.A %}
                                    {% if cons_class.A.1 %}
                                        <p>Molecular switches</p>
	                                        {% for pos in cons_class.A.1 %}
                                          <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" class="high_pd high_pdA btn btn-default" data-pdbpos="{{pos.2}}" title="{{pos.1}}">{{pos.0}}</button>
                                          {% endfor %}
	                                        {% for pos in motifs_def.A %}
                                          <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" class="high_pd high_pdA btn btn-default" data-pdbpos="{{pos.2}}" title="{{pos.1}}">{{pos.0}}</button>
                                          {% endfor %}
                                    {% endif %}
                                    {% if cons_class.A.0 %}
                                        <p>Most conserved</p>
	                                        {% for pos in cons_class.A.0 %}
                                           <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}" class="high_pd high_pdA btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                          {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div id="classB" class="tab-pane {{active_class.B.1}}">
                                  {% if cons_class.B.0 %}
                                    <p>Most conserved</p>
                                    {% for pos in cons_class.B.0 %}
                                    <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdB btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                    {% endfor %}   
                                  {% endif %}                         
                            </div>  
                            <div id="classC" class="tab-pane {{active_class.C.1}}">
                                  {% if cons_class.C.0 %}
                                    <p>Most conserved</p>
                                    {% for pos in cons_class.C.0 %}
                                    <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdC btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                   {% endfor %}
                                  {% endif %}
                            </div>  
                            <div id="classF" class="tab-pane {{active_class.F.1}}">
                                  {% if cons_class.F.0 %}
                                    <p>Most conserved</p>
                                    {% for pos in cons_class.F.0 %}
                                  <button style="margin-bottom:10px;margin-right:3px;margin-left:3px" title="{{pos.1}}"    class="high_pd high_pdF btn btn-default" data-pdbpos="{{pos.2}}">{{pos.0}}</button>
                                   {% endfor %}
                                  {% endif %}
                            </div>
                            <button class="btn btn-link pull-right clear_conspos" style="color:#DC143C;margin-bottom;0;padding-bottom:0">Clear all</button>
                       </div>
                    </div>
                   {% endfor %}
               {% endif %}
            </div>
            </div>
            {% endif %}

<!-- ============= Trajectories =========== --> 
          {% if traj_list %}
           <div id="trajectories_all" style="margin-top:5px;margin-bottom:5px">
              <div class="row">
                 <div class="section_pan" style="cursor:pointer;padding:10px 10px 5px 10px;background-color:#ffffff;border-bottom:2px solid blue;border-radius:0" data-toggle="collapse" data-target="#emb_trajectories"><span>Trajectories </span><span style="float:right;margin-right:5px;" id="arrow" class="glyphicon glyphicon-chevron-down"></span></div>
              </div>
              <div id="emb_trajectories" class="collapse" >
                  <div class="checkbox" >
			  <span style="margin-right:10px"><label><input  type="checkbox" name="traj" class="traj_element" id="traj_id_{{traj_list.0.2}}" value="{{traj_list.0.0}}" checked>{{traj_list.0.1}}</label></span>
			{% for traj in traj_list|slice:"1:" %}
			  <span style="margin-right:10px"><label><input  type="checkbox" name="traj" class="traj_element" id="traj_id_{{traj.2}}" value="{{traj.0}}">{{traj.1}}</label></span>
			{% endfor %}
		  </div>
              </div>
          </div>
          {% endif %}
<!-- ============= Analysis =========== --> 
           {% if traj_list %}          
           <div id="analysis_all" style="margin-top:5px;margin-bottom:10px">
           <div class="row">
                <div class="section_pan" style="cursor:pointer;padding:10px 10px 5px 10px;background-color:#ffffff;border-bottom:2px solid blue;border-radius:0;margin-bottom:5px" data-toggle="collapse" data-target="#analysis"><span>Analysis </span><span style="float:right;margin-right:5px;" id="arrow" class="glyphicon glyphicon-chevron-down"></span></div>
            </div>
            <div id="analysis" class="row collapse">

<!-- ============= Compute distances =========== --> 

              <div class="section_pan" data-toggle="collapse" data-target="#analysis_dist" style="cursor:pointer;padding:0px 10px 5px 10px;border-bottom:1px solid #D8D8D8;color:#A8A8A8;margin-top:5px;margin-bottom:5px">Distance</div>
               <div id="analysis_dist" class="collapse">
               
                <div class="dist_btw" style="margin-right:5px;margin-left:0;">
                  <div class="dist_pair" id="row2_0">
                    <span class="tick2" ></span>
                    <span class="always2" style="margin-left:14px">
                     Compute distance between 
                     <input class="form-control input-sm dist_from" type="text" title="Introduce atom index" style="width:50px;padding-left:7px;margin-bottom:5px">
			and
                     <input class="form-control input-sm dist_to" type="text" title="Introduce atom index" style="width:50px;padding-left:7px;margin-bottom:5px">
                     <button class="btn btn-link del_btn2" style="color:#DC143C;font-size:20px;margin:0;padding:0" ><span class="glyphicon glyphicon-remove-sign"></span></button>  
                     <button class="btn btn-link only1st add_btn2" style="color:#57C857;font-size:20px;margin:0;padding:0" ><span class="glyphicon glyphicon-plus-sign"></span></button>
                     <button title="Import distances from the structure." class="btn btn-link only1st imp_btn2" style="color:#1e90ff;font-size:20px;margin:0;padding:0" ><span class="glyphicon glyphicon-circle-arrow-up"></span></button>
                     <!--<button id="rm_btn2"  class="btn btn-link" style="color:#DC143C;font-size:20px;margin:0;padding:0;visibility:hidden" ><span class="glyphicon glyphicon-minus-sign"></span></button> -->

                    </span>
                  </div>

                  <!--<span id="show_dist"></span>                  -->
                </div>
                
                {% if traj_list %}
                <div style="margin-left:18px;">
                    <div>
                     At trajectory: 
                       <span style="margin-left:5px">
                            <select id="" name="dist_traj">
                               <option disabled selected value> </option>
                               {% for traj in traj_list %}
                               <option class="trajForDist" name="{{traj.0}}" value="{{traj.2}}">{{traj.1}}</option>
                               {% endfor %}
                            </select>
                       </span>
                    </div>
                    <div class=row>
                        <button id="gotoDistPg" class="pull-right btn btn-default withTrajs" style="margin-top:5px;padding:5px;margin-left:10px;margin-right:40px" >Obtain result</button>
                    </div>
                </div>
                {% else %}
                <button id="gotoDistPg" class="btn btn-default withoutTrajs" style="padding:5px;margin-left:14px;margin-right:40px" >Obtain result</button>
                {% endif %}
                <div class="row" style="margin-top:5px;padding-right:40px;margin-left:14px;clear:left;z-index: 10;" id="dist_alert"> </div>
                <div id="dist_chart" style="margin-bottom:15px"></div>
              <!-- <center><div style="margin-right:40px;overflow:auto;overflow-y:hidden;-ms-overflow-y: hidden;" >{{ chart.as_html }}</div></center>-->
               </div>
<!-- ============= RMSD Analysis =========== --> 
            <div class="section_pan" data-toggle="collapse" data-target="#analysis_rmsd" style="cursor:pointer;padding:0px 10px 5px 10px;border-bottom:1px solid #D8D8D8;color:#A8A8A8;margin-top:5px;margin-bottom:5px">RMSD</div>
              <div class="collapse" id="analysis_rmsd">
                <div style="margin-bottom:15px">
                    <div style="margin-left:18px;margin-bottom:10px;">
                     Trajectory: 
                            <select id="rmsd_traj" name="rmsd_traj">
                               <option disabled selected value> </option>
                               {% for traj in traj_list %}
                               <option   value="{{traj.0}}">{{traj.1}}</option>
                               {% endfor %}
                            </select>

                    </div>
                    <div class="col-md-12"  style="margin-left:18px;margin-bottom:10px;padding:0"> 
                       <div style="margin-left:0;padding-left:0;width:70px;" class="col-md-2">Frames:
                       </div>
                       <div id="rmsd_sel_frames_id" class="col-md-10" >
                          <div class="row">
                             <input type="radio" name="rmsd_sel_frames" value="all_frames" checked> 
                                  All
                          </div>
                          <div class="row" >
                             <input type="radio" name="rmsd_sel_frames" value="rmsd_frames_mine"> 
                                 From 
                                 <input class="form-control input-sm" id="rmsd_frame_1" type="text" style="width:40px;padding-left:7px;margin-bottom:5px">
                                 to 
                                 <input class="form-control input-sm" id="rmsd_frame_2" type="text" style="width:40px;padding-left:7px;margin-bottom:5px">
                          </div>
                          <div id="rmsd_sel_frames_error" class="row" >
                          </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left:18px;margin-bottom:10px;padding:0"> 
                        Reference: frame 
                            <input placeholder=0 class="form-control input-sm" id="rmsd_ref_frame" type="text" style="width:40px;padding-left:7px;margin-bottom:5px">
                            from trajectory 
                            <select id="rmsd_ref_traj_id" name="rmsd_ref_traj">
                               <option disabled selected value> </option>
                               {% for traj in traj_list %}
                               <option   value="{{traj.0}}">{{traj.1}}</option>
                               {% endfor %}
                            </select>
                          <div class="col-md-12" id="rmsd_ref_frames_error" class="row" style="padding:0" >
                          </div>
                    </div>
                    <div id="rmsd_sel_id" style="margin-left:18px;margin-bottom:20px"> 
                       <div style="margin-bottom:10px;padding:0"  class="col-md-12">
                           <div style="margin-left:0;padding-left:0;width:70px;" class="col-md-2">Selection:
                           </div>
                           <div class="col-md-10" >
                              <div title="Protein alpha carbons." class="row">
                                 <input type="radio" name="rmsd_sel" value="bck" checked> Backbone
                              </div>
                              <div title="All non-hydrogen protein atoms." class="row">
                                 <input type="radio" name="rmsd_sel" value="noh"> noh
                              </div>
                              <div title="Protein CA, CB, C, N, O." class="row">
                                 <input type="radio" name="rmsd_sel" value="min"> Minimal
                              </div>
                              <div class="row">
                                 <input type="radio" name="rmsd_sel" value="all_atoms"> All atoms
                              </div>
                           </div>
                        </div>
                   </div>
                    <div class=row>
                      <button id="gotoRMSDPg" class="pull-right btn btn-default" style="padding:5px;margin-left:10px;margin-right:40px" >Obtain result</button>
                    </div>
                    <div class="row" style="margin-left:14px;margin-top:5px;padding-right:40px;clear:left;" id="rmsd_alert"> </div>
                  <div class="col-md-12;clear:left;" id="rmsd_chart" ></div>
                </div>
              </div>



<!-- ============= Interaction Analysis =========== --> 
            {% if ligands|length >= 1 %}
            <div class="section_pan" data-toggle="collapse" data-target="#analysis_Int" style="cursor:pointer;padding:0px 10px 5px 10px;border-bottom:1px solid #D8D8D8;color:#A8A8A8;margin-top:5px;margin-bottom:5px">Interaction</div>
              <div class="collapse" id="analysis_Int">
              
                    <div class="int_btw" style="margin-right:5px;margin-left:14px;margin-bottom:10px">
                         Compute interaction between GPCR and 
                            <select id="comp_int" name="comp_int">
                               <option class="ligInt"  value="allLig">All ligands</option>
                               {% for long_n, short_n in ligands %}
                               <option class="ligInt unitInt"  value="{{short_n}}">{{long_n}}</option>
                               {% endfor %}
                             <!--  {% if other_prots%}
                               <option   value="{{other_prots.0}}">Other proteins</option>
                               {% endif %}-->
                            </select>  
                    </div>
                    <div style="margin-right:5px;margin-left:14px;margin-bottom:10px">
                         At trajectory: 
                           <span style="margin-left:5px">
                                <select id="" name="int_traj">
                                   <option disabled selected value> </option>
                                   {% for traj in traj_list %}
                                   <option class="trajForInt" name="{{traj.0}}" value="{{traj.2}}">{{traj.1}}</option>
                                   {% endfor %}
                                </select>
                           </span>
                           <span style="color:#DC143C;margin-left:5px" id="int_traj_error"></span>
                    </div>
                    <div style="margin-right:5px;margin-left:14px;margin-bottom:10px">
                        Threshold:
                          <input class="form-control input-sm " id="int_thr" type="number" title="Residues are considered to interact with the ligand when the distance beween any of the considered atoms is smaller than the threshold." style="width:50px;padding-left:7px;margin-bottom:5px" value=3 placeholder=3> &#8491; 
                          <span style="color:#DC143C;margin-left:5px" id="int_thr_error"></span>
                    </div>
                    <div style="margin-right:5px;margin-left:14px;">
                         Consider 
                            <select id="dist_scheme" >
                               <option class="dist_scheme_opt"  value="closest-heavy">heavy atoms only</option>
                               <option class="dist_scheme_opt"  value="closest">all atoms</option>
                            </select>  
                    </div>
                    <div class="row">
                            <button id="gotoInt" class="pull-right btn btn-default" style="padding:5px;margin-left:10px;margin-right:40px;margin-top:5px" >Obtain result</button>
                    </div>
                    <div class="row" style="margin-top:5px;padding-right:40px;margin-left:14px" id="int_alert"> </div>
                    <div style="margin-top:5px;padding-right:25px;"  id="int_info" ></div>
                    <!--<div class="checkbox" style="margin-left:14px;margin-bottom:15px">
		                <label><input type="checkbox" name="view_int" checked >Display interacting residues</label>
                   </div>-->
              </div>
            {% endif %}
            </div>
<!-- ======================================== -->
            </div>
            </div>
            {% endif %}
          </div>


        </div>
    </div>

{% endblock content %} 
         

{% block addon_js %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'view/emb_ngl_viewer.js' %}"></script>

{% endblock %}


</body>
