<head>
<script>
    document.domain=document.domain;
</script>
{% extends "home/base.html" %} 
{% load staticfiles %} 
{% block addon_css %}
<style>
#content{
    width:100%;
}

</style>
{% endblock %}
</head>
<body>
{% block content %}

<div style="max-width:1300px ;overflow-y: hidden;overflow-x:auto; margin: 15px auto; max-height: 1000px;">
    <iframe  style="border: 0px none;width: 545px;margin:-15px;width:1310px;height:1030px" src="{{mdsrv_url}}/html/public_html_dwn/index.html#cont" scrolling="no" ></iframe>
</div>
{% endblock content %}
</body>