<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
<style></style>
</head>

<body>

{% load staticfiles %} 


{% block content %} 
{% csrf_token %}

{{ chart.as_html }}

{% if error_li %}
    <div style="border-radius:10px;border: 1px solid #faebcc;background-color:#FCF8E3;color:#8A6D3B;padding-righ:10px;padding-left:10px;padding-top:10px">
      <strong>Warning</strong><br>
        {% for error in error_li %}
            <p style="font-size:14px">{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

{% block addon_js %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% endblock %}

{% endblock content %} 
</body>

