<head><style>
.long input {
 width:100%;
}

.deco a:link, .deco a:visited {
    background-color: #F0F0F0;
    color: #337ac1;
    text-align: center;
    text-decoration: none;
    border: 1px solid #337ac1;
    border-radius: 12px;
}
.deco a:hover, .deco a:active {
    background-color: #337ac1;
    color:white;
}
</style></head>
{% extends "home/base.html" %} 
{% load staticfiles %} 


{% block content %} 
<form action="{% url 'accounts:register' %}" method="post">
{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >Simulation Submission</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <h4 >WELCOME <span style="text-transform: uppercase;">{{ username }}</span></h4>
	    </div>
             <p style="text-align: justify;">With the GPCRmd Simulation Submission tool you can create, store and manage your simulations.</p>

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   <body> -->

<div id="pprotform"class="col-md-7 "> 
  <div id="protform" class="col-md-12 panel panel-primary"> 
    <div class="panel-body">
       <p>
          <a href="/accounts/change_data">Change user information</a> -
          <a href="/accounts/change_passw">Change password</a> -
          <a href="/accounts/logout">Log out</a></li> 
       </p>

        <div class="container-fluid" style="padding-top:15px">
            <div class="row" id="info_box">
              <div class="col-md-10 col-md-offset-1 alert alert-info alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

<p><strong>Current submission policy:</strong></p>

<p>In order to ensure data quality, we currently restrict data submission to MD data which will be published (peer-reviewed process).</p> 
<p>You can upload your data prior to publication for the peer-review process (restricted access only for user and reviewer). Upon paper acceptance, your MD data will be published on the GPCRmd online resource. </p><br>

<p><strong>Do you want to submit a simulation? </strong></p>
<p>Please contact us  at <a href="mailto:info@gpcrmd.org">info@gpcrmd.org</a>  and we will provide you a registration link. </p>



                <!--<strong>Do you want to submit a simulation?</strong> Please <a href="https://welcome.gpcrmd.org/contact/" style="color:#407B98"><u>contact us</u></a> and we will assist you or submit it for you.-->
              </div>
            </div>
            <div class="row">
               <div class="col-md-6  col-md-offset-2 deco" style="text-align:center;width:400px;padding-bottom:10px" >  
                  <a href="{% url 'accounts:user_submissions' %}" class="btn btn-block" >Previous Submissions</a>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-md-offset-2 deco" style="text-align:center;width:400px;padding-bottom:10px">  
                  <a href="/dynadb/db_inputform/" class="btn btn-block" >New Submission</a>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-md-offset-2 deco" style="text-align:center;width:400px;padding-bottom:25px">  
                  <a href="/dynadb/modelreuserequest/0/" class="btn btn-block" style"margin: 0px 500px 0px 20px" >New Submission based on a previous model</a>
               </div>
 
            </div>
       </div>
    </div>
  </div>
</div>
{% endblock content %} 
         

{% block addon_js %} 


{% endblock %}
