{% extends "home/base.html" %} 
{% load staticfiles %} 

{% block content %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:blue;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >Simulation Submission<br>Step 1:<br>Protein Information</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <h4 >CREATE A NEW ACCOUNT</h4>
	    </div>
             <p style="text-align: justify;">Fill in the form to create a new account.</p>

            <p style="text-align: justify;"> As a registered user, you will be able to access the Simulation Submission tool (... list?).</p>

	     <p style="text-align: justify;">Any time later, you will be able to modify all submitted personal data.<p>

	     <p style="text-align: justify;">All the information you provide to us is confidential and will not be shared.<p>

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a href="http://docs.gpcrdb.org/receptors.html">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   <body> -->

<div id="pprotform"class="col-md-7 "> 
<!-- modifica a partir de aqui -->
 
<div class="alert alert-info" style="border-color:#337ac1">
  <strong style="font-size:125%">Registration successful. </strong>You will receive an email to activate your account.
 </div>
</div>
{% endblock content %} 
