{% extends "home/base.html" %} 
{% load staticfiles %} 
{% load i18n %}

{% block content %}

<form method="post">{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >Simulation Submission</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
            <div style="text-align:center"> 
             <h4 >CHOOSE A NEW EMAIL FOR YOUR ACCOUNT</h4>
	    </div>
             <p style="text-align: justify;">Introduce the new email with which you want to associate your GPCRmd account.</p>
             <p style="text-align: justify;">You need access to the new address to complete the process.</p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   <body> -->
<div id="pprotform"class="col-md-7 "> 
  <div id="protform" class="col-md-12 panel-primary alert alert-info"> 

 			<div style="text-align:center">
             			<h4><br>Change your Email Address</h4>
            		</div>   

  <div class="panel-body ">
  <div style="text-align: justify;text-justify: inter-word;">
  <p>You will receive a confirmation email in the adress you specified. Until you complete the confirmation process, your account email will be the original one: <b>{{ email }}</b>.</p>

 </div>

<!-- fins aquí -->


{% endblock content %} 
         

{% block addon_js %} 


{% endblock %}
