            <div class="formfieldinfo">
              <div class="row">
                <div class="col-md-4 col-md-offset-2 labeltagcomp">

                  {{ field.label_tag }} 
                  {% if field.help_text %}
                    <p style="font-weight: normal;font-size:12px">
                      {{ field.help_text|safe }}
                    </p>
                  {% endif %}
                </div>
                <div class="col-md-4">
                  <span class="long">
                    {{ field }} 
                  </span>
                </div>
              </div>

             <div class="row" >
                <div class="col-md-4 col-md-offset-6" > 
                  {% if field.errors %}
                    <div>
                      {% for err in field.errors %}
                         <p class=text-danger>{{ err }}</p>
                      {% endfor %}
                    </div>
                 {% endif %}
                 <span class="manual_field_errors">
                 </span>
               </div>
             </div>
           </div>