body {
  overflow-y: scroll !important;
}

a {
  vertical-align: top;
}

.navbar-left {
  width: 60%;
}

#content {
  width: 100%;
}

#inner_fixed {
  background-color: #3278B4;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

#inner_remaining{
  top: 150px; /*Set top value to HeightOfTopFrameDiv*/
  margin:auto;
  bottom: 0px; /*Set bottom value to HeightOfBottomFrameDiv*/
  width: 100%;
}

#fixed_col {
  padding-left: 15px;
  z-index: 2;
  background-color: white;
}

#not_avalible_text{
  padding-top: 5%;
  padding-bottom: 5%;
}


#main_plot_body {
  position: relative; 
  overflow-y: auto; 
  overflow-x: auto;
  height: 89%; /* seems stupid but it is not. This way one avoids overflow in mozzilla browsers*/
}

#menus {
  width: 100%; 
}

#doc_col{
  height: 35%;
}

.clusteropt {
  background-color: white;
  color: black;
  padding-top: 2px;
  padding-bottom: 2px; 
}

#more_info {
  max-height: 100%;
  overflow-y: auto;
}

.mycheckbox{
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: normal;
  white-space:nowrap;
}

#all_label {
  font-weight: bold !important;
}

.partners_checkbox{
  font-weight: normal !important;
}

.falsebutton{
  border-width: 0px;
  width: 100%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown {
  margin: 0.5%;
}

.HB_row {
  margin: 0px;
  width: 100%;
}

.macrotype {
  padding-top: 5%;
  padding-left: 5%;
}

.optbar {
  display:inline-block;
  float: left;
  padding-left: 0.5%;  
  padding-right: 0.5%;

}

.molec-check {
  padding-right: 10%
}

.dendrogram {
  width: 520px;
  float: left;
  overflow-x: hidden; 
  background-color: white
}

#scrolldiv {
  height: 10px;
  margin-bottom: 20;
  margin-top: -20; 
  overflow-x: scroll;
}

/*Side-window*/
#info {
  visibility:hidden;
  position:absolute;
  z-index:-1;
  padding-left:5px;
  padding-right:5px;
  height: 89%;
}

#trajsDropdown_options {
  height: auto;
  max-height:350px;
  overflow-x: hidden;
  padding:0;
  cursor:pointer;
}

#posNotinRec {
  padding:5px 30px 5px 5px;
  margin:0;
  font-size:12px;
  display:none;
}

hr {
  border-color: #8080808f !important;
  border-style: dashed !important;
  border-width: 1px !important;
  margin: 2px !important;
}

#show_hide_info_text {
  margin-left:5px;
  font-size:12px;
}

.doc_title {
  text-align: justify;
  font-weight:bold;
  color:#337AB7;
}

.doc_content {
  text-align: justify;
}

.open>.dropdown-menu {
    display: inline-block !important;
}

.dropdown-menu {  
  width: 204px !important;
}


#loading_heatmap {
    left: 65%;
    position: absolute;
    top: 45%;
}

/*Flareplots*/

.fpdiv {
  margin-top: 15px;
  margin-bottom: 15px;
}

.FP-button {
  margin-top:15px;
  font-size:12px;
  width:115px;
  padding-right:2px;
  padding-left:2px;
  height: 31px;
}

.clusters_dropup-div {
  display:inline-block;
  position: relative;
}

.fp_display_element {
  padding:5px 15px 5px 15px;
  cursor:pointer;
}

.clusters_dropup-ul {
  font-size:12px;
  margin-bottom:-12px;
  max-height: 300px;
  overflow-y: scroll;
}

.flare_container {
  background-color: white;
}

.loading_flare {
  margin: 20px;
}

.title_div {
  background-color:#F3F3F3; 
  border-radius:2px;
  padding:5px;
  text-align: center;
  margin: 5 0 5 0;
}
}

.title {
  padding:0;
  margin:0;
}

#loading_NGL_side {
  width:50px;
  height:50px;
  margin-top:150px;
  position:absolute;
  z-index:10;
  margin-left:-25px;
}

.loading_cluster_viewer {
  width:50px;
  height:50px;
  margin-top:210px;
  z-index:10;
  margin-left:-25px
} 

/*NGL viewer*/

#dropdownAndIframe {
  margin:auto;position:relative;
  overflow-y:hidden;
  overflow-x:auto;height:445px;
  max-width:622px;
  margin-bottom:5px;
}

.blueDropdownDiv {
  z-index:10;
} 

.blueButton {
  margin-left:3px;
  margin-top:7px
}

.blueList {
  height: auto;
  max-height:350px;
  overflow-x: hidden;
  padding:0;
}

.blueElement {
  padding:5px 10px 5px 10px;
}

#simulation_select {
  float: right;
}

.traj_select {
  float: left;
}

#embed_mdsrv {
  border:none;
  top:-30px;
}

.settingsB {
  padding:7px;
  color:#585858;
}

.is_active {
  background-color: #bfbfbf;
}

.NGLtoolbar {
    margin: 10px;
    position: absolute;
    width: 93%;
    height: 20%;
  }

.NGLclear {
  margin-top: 15; 
}

.loading_NGL_bottom {
  position:absolute;
  z-index:10;
  left: 40%;
  top: 30%;
}

.posNotinRec {
  display: none;
}

.viewer_link_bottom {
  margin: 6px;
}

.ngldiv {
  margin-top: 15px;
  margin-bottom: 15px;
}

.simList {
  left: auto;
  right: 0;
}

#fpdivlegend{
  margin-top: 15px;
  margin-bottom: 15px;
}

/*Legend*/
.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
  }
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  margin-right: 30%;
  margin-left: 30%;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
  }
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
  }
.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  }
.my-legend a {
  color: #777;
  }

.tooltip {
  position: fixed;
}

#menu_link {
  font-size: 12;
  margin-bottom: 15;
  margin-left: 0;
}

.bk-annotation {
  white-space: pre-wrap;
  text-align: center;  
}