<head>
    <style>
      .long input {
        width: 100%;
      }
    </style>
  </head>
  {% extends "home/base.html" %}
  {% load static %}
  {% load i18n %}
  {% block content %}
  
  <div class="row regForm">
    <!-- if it's correct -->
    {% if validlink %}
    <div class="col-md-4 col-md-offset-1">
      <div class="col-md-12 regPanel panel panel-primary">
        <div class="panel-body">
          <h2 class="panel-heading">Change your Email Address</h2>
        </div>
      </div>
  
      <!-- main description -->
      <div class="col-md-12 panel panel-primary">
        <div class="panel-body">
          <p style="text-align: justify;">A new email has been associated with your GPCRmd account.</p>
        </div>
      </div>
  
      <!-- link to docs -->
      <div class="col-md-12 panel panel-primary">
        <div class="panel-body">
          <p>For more information on this form, see the <a class="textlink" alt="Work in progress.">docs</a>.
          </p>
        </div>
      </div>
    </div>
  
    <!-- body: -->
    <div id="pprotform" class="col-md-6">
      <div id="protform" class="col-md-12 logInAlert panel-primary alert alert-info">
  
        <div style="text-align:center">
          <h3 class="orangeTit"><br>Email activation successful</h3>
        </div>
  
        <div class="panel-body ">
          <div style="text-align: justify;text-justify: inter-word;">
            <p>Your email account has been set to <b>{{ email }}</b>. You can now access to 
              <a class="textlink" href="/accounts/memberpage">your account</a>.</p>
          </div>
        </div>
      </div>
    </div>
  
    {% else %}
    <div class="col-md-6 col-md-offset-3">
      <div style="margin-bottom: 25%;" class="alert alert-danger">
        <h3><b>Error</b></h3>
        <p>{{ error_message }}</p>
      </div>
    </div>
    {% endif %}   
  </div>
  
  
  
{% endblock content %}
  
  
{% block addon_js %}
  
  
{% endblock %}