<head>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>document.domain=document.domain;</script>

<!--Bootstrap things-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-3.6.3.min.js"></script>

<!--Load javascripts -->
<script src="../static/contact_maps/contmaps_main.js"></script>

<!--Personal styles-->
<link rel="stylesheet" type="text/css" href="../static/contact_maps/contmaps_main.css">
<link rel="stylesheet" href="../mdsrv/webapp/css/main.css" />
{% extends "home/base.html" %} 
{% load static %} 
{{staticfiles}}
{% block addon_css %}
{% endblock %}

</head>
<body>

{% block content %} 
{% csrf_token %}

 <!-- description  -->
<div id="outer" class="col-xs-12">
  <div class=" panel panel-primary" id="inner_fixed">  
     <div class="panel-body">
        <h3>Residue interaction frequency: {{itype_name}}</h3>
     </div> 
  </div>
</div>

<div id="inner_remaining">
  <div class="col-xs-12" id="retracting_parts" style="padding-bottom:10px">
    <div class="row">
      <div class="col-xs-12" id="plot_col">
        <div class="panel panel-primary" id="main_plot_body">
          <div class="panel-body" style="padding-left: 0px">
            <div id="menus" class="container-fluid">
              <div class="row">
                <!--itypes dropdown-->
                <div class="dropdown optbar">
                  <button type="button" id="itype_button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" name="typelist">
                    Interaction Type 
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                  {% for group, types_tuple in itypes_order %}
                    <li>
                      <label class="macrotype">
                        {{group}}
                      </label>
                    </li>
                    <hr>
                    {% for typecode,typename in types_tuple  %}
                    {% if typecode == "hb" %}
                    <!--Hydrogen bond itypes dropdown-->
                    <li class="dropdown-submenu">
                      <div class="HB_row">
                        <label class="mycheckbox">
                          <input type="radio" name="itypes" class="option" value="hb" />
                            hydrogen bond
                        </label><a class="test" tabindex="-1" href="#"> <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="HB">
                          {% for code,itype in hb_itypes %}
                          <li>
                            <label class="mycheckbox">
                            <input type="radio" name="itypes" class="option hb_option" value={{code}} />
                              {{itype}}
                            </label>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                    {% else %}
                    <li>
                      <label class="mycheckbox">
                      <input type="radio" name="itypes" class="option" value={{typecode}} />
                        {{typename}}
                      </label>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <!--All option-->
                    <br>
                    <li id="all-li">
                      <label id="all" class="mycheckbox">
                      <input type="radio" name="itypes" class="option" value="all" />
                        Total interaction frequency
                      </label>
                    </li>
                  </ul>
                </div> 
                <!--Clusters dropdown-->
                <div class="dropdown optbar">
                  <button type="button" id="cluster_button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" name="typelist">
                    Number of clusters
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="cluster-dropdown">
                    {% for clustnum in "12468" %}
                    <li><a href="#" class="clust_opt">{{clustnum}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                <!--Checkboxes interacting parts of the simulation -->
                <div class="optbar">
                  <label class="partners_checkbox">
                  <input type="checkbox" id="Intraprotein contacts" name="molec" class="option_location" value="prt"/>
                    Protein-Protein
                  </label>
                  <br>
                  <label class="partners_checkbox">
                  <input type="checkbox" id="Protein to ligand contacts" name="molec" class="option_location" value="lg"/>
                    Protein-Ligand
                  </label>
                </div>
                <!--Repetition checkbox-->
                <div class="optbar">
                  <label class="partners_checkbox">
                  <input type="checkbox" id="rev_pairs" name="rev" value="rev"/>
                    Show reversed residue pairs
                  </label>
                </div>
                <!--Apply button -->
                <div class="dropdown optbar">
                  <button type="button" id="applybutton"  onclick="printchecked();" class="btn btn-success btn-sm" >Apply </button>
                </div>
              </div>
              <!--download button-->
              <div class="row">
                <div class="dropdown optbar">
                  <button type="button" class="btn btn-sm btn-primary" onclick="window.location.pathname = '/contmaps/download_csv/{{itype_code}}&{{ligandonly}}&{{rev}}'">
                    <span class="glyphicon glyphicon-download"></span> Download csv
                  </button> 
                </div>
              </div>
            </div>
            <div id="first_col" class="col-xs-4" style="padding-left: 0px"><!--To avoid overlaping of fixed-->
              <div id="fixed_col" class="left_col">
                <div class="row" id="dendrogram">
                  {{dendrogram | safe }}
                </div>
              </div>
            </div>
            <div id="second_col" class="col-xs-6">
              <div style="max-width:{{plotdiv_w}}px;">
               {{ div | safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="doc_col">
        <div class="panel panel-primary" style="margin-bottom:10px">
          <div id="show_hide_info" class="section_pan" data-target="#more_info" data-toggle="collapse" style="cursor:pointer" aria-expanded="true">
            <span id="show_hide_info_text" style="margin-left:5px;font-size:12px">Hide info </span><span class="glyphicon arrow glyphicon-chevron-up"></span>
          </div> 
        </div>
        <div class="col-md-12 panel panel-primary collapse in" id="more_info" aria-expanded="true" style="overflow-y: auto;">
          <div class="panel-body">
            <div style="text-align:center"> 
             <!--<h4 >GPCR VIEWER</h4>-->
            </div>

            <p class="doc_title">About this plot: </p>

            <p style="text-align: justify;">This plots compares residue interaction frequency among several GPCR dynamic simulations.</p>            

            <p style="text-align: justify;">Interaction frequencies have been calculated with <a href="https://github.com/getcontacts/getcontacts" target="_blank">GetContacts</a> scripts, created by Rasmus Fonseca (fonseca.rasmus@gmail.com) and Anthony Ma (anthonyma27@gmail.com).</p>

            <p style="text-align: justify;"> This scripts consider the interaction frequency as the proportion of frames in which a residue pair is considered to be interacting, according to <a href="./interaction_types" target="blank">GetContacts interaction criteria</a>.</p>

            <p style="text-align: justify;"> Total interaction frequency reffers to the percentage of frames on which the residue pair is interacting in any of the previous criteria. </p>

            <p style="text-align: justify;">Protein residues are showed as  <a href="http://docs.gpcrdb.org/generic_numbering.html" target="_blank">generic GPCR residue numbers</a> (Ballesteros-Weinstein or GPCRdb structure-based numbering).</p>

            <p style="text-align: justify;">Only interactions with an average of 10% frequency across all simulations are displayed in plots. Same-helix interactions are not displayed. </p>

            <p class="doc_title">How to use it: </p>

            <ol>
              <li style="text-align: justify;">Select the type of interaction you want to display in the plot, and click apply to load it. </li>

              <li style="text-align: justify;">Select the interaction partners of the interactions to be displayed by checking the checkboxes</li>

              <li style="text-align: justify;">Check "Reversed residue options" to repeat every residue pair with the positions in reverse order (Eg: 5x43-7x32 and 7x32-5x43)</li><!--TODO: improve this shitty explanation-->

            </ol>
            <p style="text-align: justify;">More information from a selected interaction can be displayed by clicking uppon its cell.</p>

            <p style="text-align: justify;">The "number of clusters" option is still not operative.</p>

            <p class="doc_title">About the clustering: </p>

            <p style="text-align: justify;"> The clustering dendrogram displayed has been created with <a href="https://github.com/plotly/plotly.py" target="_blank">plotly</a> python library. </p>

            <!-- <p style="text-align: justify;">For more information about the viewer, visit the <a href="http://proteinformatics.charite.de/ngl/doc/index.html" target="_blank">NGL documentation</a>.</p>-->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3" id="info">
    <div class="panel panel-info" style="margin-bottom:0;height:91%;position: relative; overflow-y: auto; overflow-x: auto;">
      <div class="panel-heading" style="">Interaction details
        <button type="button" class="close" aria-label="Close" onclick="closeSideWindow()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body" style="">
        <div style="min-width:350px">
          <!-- Info on clicked dyn -->
          <p><b>Receptor:</b> <span id="recept_val"></span> <a id="recept_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>PDB id:</b> <span id="pdb_id"></span> <a id="pdb_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>Ligand:</b> <span id="lig_val"></span> <a id="lig_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>Positions:</b> <span id="pos_val"></span></p>

          {% if itype_code == "all" %}
          <p><b>Frequencies by type:</b> </p>
          <ul>
          {% for group, types_tuple in itypes_order %}
            {% for typecode,typename in types_tuple  %}
              {% if typecode == "hb" %}
                <li><p>{{typename}}: <span id="freq_{{typecode}}" ></span></p></li>                  
                <ul>
                {% for hbcode,hbitype in hb_itypes %}
                  <li><p>{{hbitype}}: <span id="freq_{{hbcode}}" ></span></p></li> 
                {% endfor %}
                </ul>
              {% else %}
                <li><p>{{typename}}: <span id="freq_{{typecode}}" ></span></p></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
          {% else %}
          <p><b>{{itype_name}} frequency:</b> <span id="freq_{{itype_code}}" ></span></p>
          {% endif %}
          <p><b>Total interaction frequency:</b> <span id="freqtotal_val">%</span></p>
          <a id="viewer_link" href="#" target='_blank' class="btn btn-success btn-sm" role="button"><b>Open with GPCRmd viewer</b></a>

          <!-- Traj dropdown -->
          <div id="trajsDropdown" class="dropdown" style="position:absolute;z-index:10;visibility:hidden">
            <button id="selectedTraj" class="btn btn-info btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left:3px;margin-top:7px" >-
            <span class="caret"></span></button>
            <ul id="trajsDropdown_options" class="dropdown-menu">
              <span id="add_traj_options"></span>
            </ul>
          </div>
        
          <!-- Loading div-->
          <span id="loading"><center ><img src="{% static 'view/images/loading-gear.gif' %}" style="width:50px;height:50px;margin-top:150px;position:absolute;z-index:10;margin-left:-25px"/></center></span>
          <!-- iframe to ngl -->
          <div id="ngl_div"  style="width:350px;height:350px;margin:auto;">
            <iframe style="border:none; position:relative;"  id="ngl_iframe" src="{{mdsrv_url}}/html/embed_contmaps.html" scrolling="no" height="348px" width="348px"></iframe>
          </div>
          <div id="posNotinRec" class="alert alert-warning">
            <span id="posNotinRec_text"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %} 


{% block addon_js %} 

<script src="{% static 'gpcrome/emb_crossgpcr.js' %}"></script>

<!-- Bokeh -->
<link href="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
{{ script | safe }}
{% endblock %}

</body>