<br>
<!--Simulation selection -->
<div class="row menu">
  <h4 class="menu_title">
    Customized dataset <span class="info_icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Choose your own set of simulations (either in the dendrogram or in the dropdown) to anlayze their interaction pattern" ></span>
  </h4>
  <div class="dropdown optbar">
    <button id="simulation_button" class="btn btn-default btn-sm dropdown-toggle-aux" data-toggle="dropdown" name="simulationlist">
      Select simulations
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-partner notretract" id="dropdown_simulations">
      <button id="uncheck_all_sim" class="btn btn-sm btn-danger">
        Uncheck all
      </button>
      {% for dyn_name in dyn_to_names %}
      <li>
        <label class="mycheckbox">
          <input type="checkbox" id="{{dyn_name.0}}_checkbox" name="{{dyn_name.0}}" class="simulation_checkbox" value="{{dyn_name.0}}"/>
          {{dyn_name.1}}
        </label>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!--Create customized button -->
  <form class="dropdown optbar" target="_self" method="post">
    {% csrf_token %}
    <input type="hidden" name="SimList" value="">
    <input type="submit" disabled  target="_blank" method="post" id="CustomButton" class="btn btn-success btn-sm dropdown-toggle-aux" value="Apply">
  </form>
</div>
<script type="text/javascript" >
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>