
     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 > Reuse Crystal-Derived Assembly </h3><h3 style="margin-left:-5%;margin-right:-5%">Step 4:<br>Dynamics Information</h3>
        </div> 
     </div>
     <!-- main description -->
     <div id="square_description" class="col-md-12 panel panel-primary" style="height:300px" >
         <div class="panel-body" style="margin-bottom:5%;margin-top:4%;margin-left:-3%;margin-right:-5%;overflow:auto;height:91%">
            <div style="text-align:center"> 
             <h4 style="margin-top:-5%">FILL IN THE DYNAMICS FORM</h4>
            </div>
             <p style="text-align: justify;" >Please, after having thoroughly checked that the complex used in your simulation exactly matches the one you have selected for reusing, fill in the following form concerning specific details on the MD simulation protocol, files and components. </p>
             <p style="text-align: justify;"  >User must provide molecular dynamics information as well as files required to rerun simulations in a specific simulation software (coordinates, topology, parameters, others). Moreover, it is mandatory to add files needed to regenerate topology files that are not published elsewhere.</p>
             <p style="text-align: justify;margin-bottom:-5%" >Note that the form is pre-filled with information taken from the simulation submission in which the reused model was submitted. All these fields are adaptable in order to modify technical details concerning the simulation. In addition, the list of bulky non-protein molecules involved in the simulation (not taking part in the complex) can be altered in the 'Simulation Components' section of the form. Importantly, additions or deletions of Simulation Components should be consistent with those in the Small Molecule form. </p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>

 
         </div>
     </div>
 </div>
 </div>
 <!--   _____________________________________________________________________________________________-->

{% include "dynadb/REUSE_CAPTION.html" with prot=True %} 
