
     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 > Simulation Submission<br>Step 4:<br>Dynamics Information</h3>
        </div> 
     </div>
     <!-- main description -->
     <div id="square_description" class="col-md-12 panel panel-primary" style="height:300px" >
         <div class="panel-body" style="margin-bottom:5%;margin-top:4%;margin-left:-3%;margin-right:-5%;overflow:auto;height:91%">
            <div style="text-align:center"> 
             <h4 style="margin-top:-5%">FILL IN THE DYNAMICS FORM</h4>
            </div>
             <p style="text-align: justify;" >Please, fill in the following form concerning specific details on the MD simulation protocol. </p>
             <p style="text-align: justify;" ><b>(A)</b> Upload simulation files including coordinate file, topology file, trajectory files, simulation parameters, other files. In case of replicated, you can upload all files simultaneously (e.g. 20 to 100 replicates). After the file upload, please click the validate button in to order to ensure correct upload.  </p>

             <p style="text-align: justify;">(<b>B</b>) Please complete the table of all simulation components by adding non-crystallized bulk molecules (e.g. waters, ions and lipids). For this, you only need to assign the corresponding residue name (resname) to the bulk molecules which are part of your simulation system. Then, click the "<b>Validate</b>" button to automatically fill the number of molecules (</b>Num of mol</b>) based on your uploaded simulation files
             <p style="text-align: justify;margin-bottom:-5%" ><b>(C)</b> Specify the simulation setup including information of Method, software, etc.  </p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>

 
         </div>
     </div>
 </div>
