<!-- dynadb_Dynamics.html -->

{% extends "home/base.html" %} 
{% load static %} 


{% block content %}

<form method="post" action="{{ action }}" enctype="multipart/form-data">

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 > Simulation Submission<br>Step 2-3 </h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             
            <div style="text-align:center"> 
             <h4>FILL IN THE COMPOUND FORM</h4>
            </div>
             <p>Fill in the form with the relevant data featuring the compound involved in the simulation.</p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   _____________________________________________________________________________________________-->

<!-- middle column -->
<div class="col-md-7 "> 
    <!-- filters -->
  <div class="col-md-12 panel panel-primary"> 

    <div class="panel-body">
 <!------------------------------------------------------------------------------ middle column -->
<!--        <h4> <a title="Table containing molecular dynamic metadata"> dyndb_Dynamics Table:</a></h4> <br> -->
<!--	<div style=display:table;>  -->

	        <div class="row">
	 		<div class="col-md-5">	<label for="id_id_model"> <a title="id for the “model” that have been used for obtaining the topology and initial coordinates for the simulation. Foreign key to “dyndb_model”.”id”.">Id model:</a> </label> </div>  
			<div class="col-md-6"><select id="id_id_model" name="id_model">  
        			<option value="" selected="selected">---------</option>
        			<option value="1">DyndbModel object</option>
        			</select></div>
		<br></div>

	        <div class="row">
			<div class="col-md-5"><label for="id_name"> <a title="First name in the list of names in pubchem or 'compund name' in CHEMBL if there is no entry in pubchem."> Name:</a> </label></div>
			<div class="col-md-6"><input id="id_name" maxlength="60" name="name" type="text" /></div>
		<br></div>

	        <div class="row">
			<div class="col-md-5"><label for="id_iupac_name"> <a title="IUPAC name downloaded from pubchem.">FIupac name: </a></label></div>
			<div class="col-md-6"><input id="id_iupac_name" maxlength="500" name="iupac_name" type="text" /></div>
		<br></div>

	        <div class="row">
			<div class="col-md-5"><label for="id_pubchem_cid"> <a title="Pubchem chemical identifier">Pubchem cid:</a></label></div>
			<div class="col-md-6"><input id="id_pubchem_cid" name="pubchem_cid" type="number" /></div>
		<br></div>

	        <div class="row">
			<div class="col-md-5"><label for="id_chembleid"> <a title="Id in CHEMBL.">Chembleid:</a></label></div>
			<div class="col-md-6"><input id="id_chembleid" name="chembleid" type="number" /></div>
		<br></div>

	        <div class="row">
			<div class="col-md-5"><label for="id_std_id_molecule"> <a title="“molecule” id that represents the standard form of the compound, here the properties downloaded directly from pubchem or CHEMBL."> Std id molecule: </a></label></div>
			<div class="col-md-6"><select id="id_std_id_molecule" name="std_id_molecule">
				<option value="" selected="selected">---------</option>
				<option value="1">DyndbMolecule object</option>
				<option value="3">DyndbMolecule object</option>
				<option value="4">DyndbMolecule object</option>
				<option value="5">DyndbMolecule object</option>
				<option value="6">DyndbMolecule object</option>
				<option value="7">DyndbMolecule object</option>
				<option value="2">DyndbMolecule object</option>
			</select></div>
		<br></div>

   </div>
  </div>

<!--           <div id="selection-buttons"> -->

      <div class="col-md-12 panel panel-primary">
  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/db_model/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Continue to step 2-4: System Information (Model Form) </a>
      	  </div>

  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/db_molecule/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Continue to step 2-2: System Information (Ligand Form) </a>

      </div>




</div>

{% endblock content %}



