
     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3>Reuse Crystal-Derived Assembly</h3><h3 style="margin-left:-8%;margin-right:-8%">Step 3:<br>Crystalized Components Info</h3>
         </div> 
     </div>

     <!-- main description -->
     <div id="square_description" class="col-md-12 panel panel-primary" style="height:300px">
         <div class="panel-body" style="margin-bottom:5%;margin-top:4%;margin-left:-3%;margin-right:-5%;overflow:auto;height:91%">
            <div style="text-align:center"> 
             <h4 style="margin-top:-5%">CHECK THE CRYSTALIZED COMPONENTS INFO</h4>
            </div>
             <p style="text-align: justify;" >Please, find here the information on the crystalized components you have requested to be reused in your simulation submission. Make sure the data contained here matches the one corresponding to your simulation.</p>
             <p style="text-align: justify;" >Information appearing in the ‘Curated protein information’ section must be identical to the one concerning your simulation. Resname, Mol name, Num of mol and Type fields in the ‘Information of crystalized small molecules' section must match data in your simulation as well. </p>

             <p style="text-align: justify;"> If a perfect match exists, please click the 'Check Protein Information' and 'Check Small Molecule Information' links at the bottom of the form to confirm matching of further system details. Otherwise, you have to submit your simulation as a new system from scratch by clicking the ‘New Submission’ button in the initial ‘Simulation Submission’ page and following the whole Submission index. </p>
<!--              <p style="text-align: justify;" >Fill in the form with information on the curated pdb protein (loops, mutations, etc)</p>
             <p style="text-align: justify;" >Contains structural information about proteins or “molecular complexes” in PDB format similar to the PDB database: structure and coordinates of protein, ligand and/or  molecules crystallized with proteins, crystallized or user-predicted stable waters and ions.</p>

             <p style="text-align: justify;">Note, do not include coordinates of solvent, ions, membrane lipids or other molecules which are part of the general solvation environment specially if their coordinates are randomly generated. </p> -->
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
     </div>
 <!--   _____________________________________________________________________________________________-->

{% include "dynadb/REUSE_CAPTION.html" with prot=True %} 
