<!-- dynadb_Dynamics.html -->

{% extends "home/base.html" %} 
{% load static %} 

{% block addon_css %}

<style>
.long input {
 width:100%;
}


input[type=submit] {
      background-color: #F0F0F0;
      border: 2px solid #4CAF50;

      color: #337ac1;
      text-align: center;
      text-decoration: none;
      border: 1px solid #337ac1;
      border-radius: 12px;
}
input[type=submit]:hover{
    background-color: #337ac1;
    color:white;
    }

.decob button:link, .decob button:visited {
    background-color: #F0F0F0;
    color: #337ac1;
    text-align: center;
    text-decoration: none;
    border: 1px solid #337ac1;
    border-radius: 12px;
}
.decob button:hover, .decob button:active {
    background-color: #337ac1;
    color:white;
}
.deco a:link, .deco a:visited {
    background-color: #F0F0F0;
    color: #337ac1;
    text-align: center;
    text-decoration: none;
    border: 1px solid #337ac1;
    border-radius: 12px;
}
.deco a:hover, .deco a:active {
    background-color: #337ac1;
    color:white;
}
</style>

{% endblock %}
{% block content %}

<form method="post" id="form" action="{{ action }}" enctype="multipart/form-data">{% csrf_token %}


 <!-- description column -->
 <div class="col-md-4">
     
     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 > Reuse Crystal-Derived Assembly </h3><h3 style="margin-left:-5%;margin-right:-5%">Browse for a previous submission</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary" style="height:300px">
         <div class="panel-body" style="margin-bottom:5%;margin-top:4%;margin-left:-3%;margin-right:-5%;overflow:auto;height:91%">
            <div style="text-align:center"> 
             <h4 style="margin-top:-5%">SIMULATION REQUEST</h4>
            </div>
             <p style="text-align: justify;" >The "reuse crystal-derived assembly" protocol allows the user to take advantage of the data stored in a simulation item in the GPCRmd database in order to simplify a new simulation submission. This submission method is recomended provided that the set of crystalized components in the new simulation matches exactly the one in the reused simulation. Therefore, only small molecules belonging to the bulk environment (not crystalized components of the simulation) can be modified when using this simulation mode.</p>
             <p style="text-align: justify;" >To obtain data on the set of crystalized components in a specific simulation item, the user must provide either a "Model ID" or a "Submission ID" identifier after checking the checkbox corresponding to the chosen option. </p>
             <p style="text-align: justify;" >The "new submission" protocol which allows data submission from scratch is available by clicking the "Back to index" button.</p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   _____________________________________________________________________________________________-->

<!-- middle column -->
<div class="col-md-7 "> 
    <!-- filters -->
  <div class="col-lg-12 panel panel-primary" style="background-color:GhostWhite"> 

    <div class="panel-body">
 <!------------------------------------------------------------------------------ middle column -->
<!--        <h4> <a title="Table containing molecular dynamic metadata"> dyndb_Dynamics Table:</a></h4> <br> -->
<!--	<div style=display:table;>  -->

		<div class=row id='PRUEBA'>
<!-- 			<div style="text-align:center">
            			<h4><br>Select Complex</h4><br>    
             			<h4><br>Complex Information</h4><br>
            		</div>   -->

 			<div style="text-align:center">
<!--       			<h4><br><a title="El antiguo html esta comentado en las siguientes lineas del fichero MODEL.html" >Reuse Complex Temporarily unavailable</a></h4><br> -->
             			<h4><br>Crystal-Derived Assembly Request</h4><br>
<!--             			<h4><br><a title="El antiguo html esta comentado en las siguientes lineas del fichero MODEL.html" >Complex Information</a></h4><br> -->
            		</div>
	        <div class="row" id="PR">
			<div class="col-md-10 col-md-offset-2" style="text-align:left">
			    <div class="row">
                            <div class="col-md-1 col-md-offset-1"> <input checked type="radio" style="float:left"id="id_form-1-is_present" name="form-is_present" value="is_present" /> </div>
				<div class="col-md-4" style="text-align:left;height:30px;margin: 0px 0px 5px 0px;"><a title="Choose a previous set of crystalized compounds from the GPCRmd database by providing a specific model identifier Model ID.">Model ID:</a> </div>
			        <div class="col-md-4" style="margin:0px 0px 0px 0px"><input style="width:130px" id="Choose_reused_model" name="Choose_reused_model" rows="1" > </input></div> 
                            {% if error == "model" or error == "both" %} <div class="col-md-1" style="text-align:left;height:30px;margin: 5px 0px px 0px;"><p style="color:red;">*</p></div>{% endif %}
			    </div>
                           <div class="row">
                            <div class="col-md-1 col-md-offset-1"> <input type="radio" style="float:left"id="id_form-2-is_present" name="form-is_present" value="is_present" /> </div>
				<div class="col-md-4" style="text-align:left;height:30px;margin: 5px 0px px 0px;"><p><a title="Choose a previous set of crystalized compounds from the GPCRmd database by providing a specific model identifier Model ID." >Submission ID:</a> </p></div>
			        <div class="col-md-4" style="margin:0px 0px 0px 0px"><input style="width:130px" id="Choose_submission_id" name="Choose_submission_id"  hidden rows="1" > </input></div> 
                            {% if error == "submission" or error == "both" %} <div class="col-md-1" style="text-align:left;height:30px;margin: 5px 0px px 0px;"><p style="color:red;">*</p></div>{% endif %}
		            </div><br>
                            </div>
                            {% if message %}
                            <div class="row">
                                 <div class="col-md-12" style="text-align:center;height:30px;margin: 5px 0px px 0px;"><h4> <p style="color:red;font-size:12px;text-align:justify;margin-left:8%;margin-right:8%">{{message}}</p></h4></div>
                            </div>{%endif%}
                </div>
                </div>
                </div>
                </div>
      <div class="col-md-12 panel panel-primary deco" id="mirar" >
  	  <div class="panel-body decob" id="selection-">
        	<input type="submit" class="btn btn-lg btn-block " value="Retrieve the specified model to be reused"> 
        	<a id='selection-button' href="/accounts/memberpage/"  class="btn btn-lg btn-block "> Back to index </a>
      	  </div>
      </div>
  </div>
{% endblock %}


{% block addon_js %}
    <script src="{% static 'dynadb/jquery.form.min.js' %}"></script>
    <script src="{% static 'dynadb/ajaxConfig.js' %}"></script>
    <script src="{% static 'dynadb/reusemodel_id.js' %}"></script>

{% endblock %}





