{% extends "home/base.html" %} 
{% load static %} 
{% block addon_css %}
  <style>
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  th {
    width:80px;
    text-align:center;
  }
  td {
    padding: 5px 5px 5px 5px;
  }
  </style>
{% endblock %}
{% block content %}

<form method="post" action="{{ action }}" enctype="multipart/form-data">{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">
{% if model_id %}
{% include "dynadb/PROTEINreuse_description.html" %} 
{% else %}
{% for int0 in int_id0|slice:":1" %}
{% include "dynadb/PROTEIN_description.html" with int0=int0 %} 
{% endfor %}
{% endif %}
 <!--   _____________________________________________________________________________________________-->

<!-- middle column -->
<div id="pprotform" class="col-md-7 "> 
{% for o in qPROT %} 		{%for int0 in int_id0%}{% if forloop.counter == forloop.parentloop.counter %}
  <div id="protform" class="col-md-12 panel " style="background-color:lightblue;"> 
    <div class="panel-body">
      <div style="text-align:right;color:black" > 
             <h4 id="protlabnum" style="color:white;">PROTEIN #{%for int in int_id%}{% if forloop.counter == forloop.parentloop.counter %}{{int}}{%endif%}{%endfor%}</h4>
	    </div>
                <div style="text-align:center">
<!-- <div id="pprotform" class="col-md-7 "> 
  <div id="protform" class="col-md-12 panel panel-primary"> 
    <div class="panel-body">
      <div style="text-align:right;color:black" > 
             <h4 id="protlabnum">PROTEIN  #1</h4>
	    </div>
                <div style="text-align:center"> -->
             			<h4><br>Protein General Details</h4>
                </div><br>
                </div>


<!--
		<div class="row" style="padding:10px 0px 0px 0px">
                        <div class="col-md-1" style="height:30px"></div><div class="col-md-5"><label for="id_is_not_uniprot"><a title="Not in UniprotKB: NOT RECOMENDED. This value must be checked if the protein sequence is not found in UniProtKB. This protein could be difficult to find in future queries!">Not in UniprotKB?</a></label></div>
                        <div class="col-md-5"><input id="id_is_not_uniprot"  name="is_not_uniprot" value="{{o.is_not_uniprot}}" type="checkbox" /></div>
                </div>
	        <div class="row" style="padding:0px 0px 0px 0px">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-5"><label for="id_receptor"><a title="Receptor: This value must be checked if the protein is a GPCR.">Is it a receptor? </a></label></div>
			<div class="col-md-5"><input id="id_receptor" name="receptor" type="checkbox" checked disabled value='1'  /></div>
	        </div>
		<div class="row" style="padding:0px 0px 10px 0px">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-5"><label for="id_is_mutated"><a title="Mutant: This value must be checked if the protein sequence differs from the one identified at UniProtKB by “UniProtKB AC” and “isoform”.">Is it a mutant?</a></label></div>
			<div class="col-md-1"><input id="id_is_mutated" name="is_mutated" type="checkbox" value='1'/></div>
		</div>
                <br>
-->
 
<!--_________________________________________________________________________________________________________________________________________________________-->
  <div class="col-md-12 panel"> 

	        <div class="row"><br>
                <div class="col-md-1"><h4>(<b>A</b>)</h4></div> <div class="col-md-6 col-md-offset-2" style="text-align:center"><h4>UniProtKB Accesion Code (AC)</h4></div><div class="col-md-2 col-md-offset-1" style="text-align:center"> <h4 style="font-size:15px;text-align:center;color:silver" id="plabnum">PROT #{%for int in int_id%}{% if forloop.counter == forloop.parentloop.counter %}{{int}}{%endif%}{%endfor%}</h4></div>
                </div><br>

	        <div class="row">
		<div class="col-md-3 col-md-offset-1" style="height:30px"><label for="id_uniprotkbac"><a title="UniProtKB AC: UniProtKB Accession Number. This value identifies protein to their cannonical sequences. Use only Accession Numbers pointing to cannonical sequences. Mutations are handled in a different field.">UniProtKB AC:</a></label></div>
		<div class="col-md-2"style="height:30px"><input id="id_form-{{int0}}-uniprotkbac" maxlength="10"name="form-{{int0}}-uniprotkbac" style="width:70px" type="text" value="{{o.uniprotkbac}}"  /></div>
                {% if model_id and qPROT|length >= forloop.counter %}
                {% else %}
                    {% if o.uniprotkbac|length == 0 %}
                        <div class="col-md-1" style="height:30px"><input id="id_form-{{int0}}-is_not_uniprot"  name="form-{{int0}}-is_not_uniprot"  type="checkbox" /></div>{%else%}<div class="col-md-1"><input id="id_form-{{int0}}-is_not_uniprot"  name="form-{{int0}}-is_not_uniprot" type="checkbox" /></div>
                        {%endif%}
                <div class="col-md-5"><label for="id_is_not_uniprot"><a title="Not in UniprotKB: NOT RECOMENDED. This value must be checked if the protein sequence is not found in UniProtKB. This protein could be difficult to find in future queries!">Not available in UniprotKB?</a></label></div>
		</div>
                <br>
			
	        <div class="row" style="height:30px">
			<div class="col-md-1 col-md-offset-3" style="height:30px"><input id="id_form-{{int0}}-use_isoform" data-toggle="collapse" value="1" data-target="#id_form-{{int0}}-isoform" name="form-{{int0}}-use_isoform" type="checkbox" checked/></div><div class="col-md-2 "><label for="id_isoform"><a title="Isoform: Isoform number for a UniProtKB Accession Number. Cannonical sequences have the value '1'.">Isoform:</a></label></div><div class="col-md-2"><input id="id_form-{{int0}}-isoform" name="form-{{int0}}-isoform" type="number" style="width:140px" value="{{o.isoform}}"  class="collapse in" /></div>
		<br></div>

	        <div class="row" style="height:30px">
	         {% if o.receptor_id_protein_id == None %}	
			<div class="col-md-1 col-md-offset-3"><input id="id_form-{{int0}}-receptor" name="form-{{int0}}-receptor" type="checkbox"  disabled value='1' checked  /></div> <div class="col-md-4" style="height:30px"><label for="id_receptor"><a title="Receptor: This value must be checked if the protein is a GPCR.">Is it a receptor? </a></label></div>
                 {%else%}
                        <div class="col-md-1 col-md-offset-3"><input id="id_form-{{int0}}-receptor" name="form-{{int0}}-receptor" type="checkbox" checked disabled  value='1' /></div>
                        <div class="col-md-2" style="height:30px"></div><div class="col-md-5"><label for="id_receptor"><a title="Receptor: This value must be checked if the protein is a GPCR.">Is it a receptor? </a></label></div>
                 {%endif%} 
	        </div>


			<div class="col-md-3 col-md-offset-4" style="height:30px"><!-- jQuery static/retrieve_data.js --><button style="width:140px;"   type=button id="id_form-{{int0}}-get_data_upkb" name="form-{{int0}}-get_data_upkb">Retrieve data</button></div>

                      
                </div>

                <br>
                 {%endif%} 

<!-- 

	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_name"><a title="Name: Recommended name from UniProtKB. ">Name:</a></label></div>
			<div class="col-md-6"><input id="id_name" maxlength="60" readonly  name="name" type="text" style="width:300px" value="{{o.1.name}}" placeholder=" 5-HT1B receptor"/></div>
		<br></div>

	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_uniprotkbac"><a title="UniProtKB AC: UniProtKB Accession Number. This value identifies protein to their cannonical sequences. Use only Accession Numbers pointing to cannonical sequences. Mutations are handled in a different field. ">UniProtKB AC:</a></label></div>
			<div class="col-md-6"><input id="id_uniprotkbac" maxlength="10" name="uniprotkbac" style="width:300px" type="text" value="{{o.uniprotkbac}}"  placeholder=" P28222"/></div>
		<br></div>
			
	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_isoform"><a title="Isoform: Isoform number for a UniProtKB Accession Number. Cannonical sequences have the value '1'.">Isoform:</a></label></div>
			<div class="col-md-3"><input id="id_isoform" name="isoform" type="number" style="width:140px" value="{{o.isoform}}" placeholder=" 1"/></div>
			<div class="col-md-3" style="margin-left:1.5%">jQuery static/retrieve_data.js rbutton style="width:140px;" type=button id="id_get_data_upkb" name="get_data_upkb">Retrieve data</button></div>
		<br></div>   -->
		<br>

<!--_________________________________________________________________________________________________________________________________________________________-->

  <div class="col-md-12 panel "> 
	        <div class="row"><br>
                <div class="col-md-1"><h4>(<b>B</b>)</h4></div> <div class="col-md-6 col-md-offset-2" style="text-align:center"><h4>Retrieved data</h4></div><div class="col-md-2 col-md-offset-1" style="text-align:center"><h4 style="font-size:15px;text-align:center;color:silver" id="plabnum">PROT #{%for int in int_id%}{% if forloop.counter == forloop.parentloop.counter %}{{int}}{%endif%}{%endfor%}</h4></div> 
                </div><br>
	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_form-{{int0}}-name"><a title="Name: Recommended name from UniProtKB. ">Name:</a></label></div>
			<div class="col-md-6"><input id="id_form-{{int0}}-name" maxlength="60" readonly  name="form-{{int0}}-name" type="text" style="width:300px" value="{{o.name}}" /></div>
		<br></div>


	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_form-{{int0}}-id_species"><a title="Species: Protein sequence species. Type scientific name or UniprotKB mnemonic inside brackets and select the appropiate entry. Use &quot;synthetic&quot; for artficial sequences or &quot;unidentified&quot for unknown sources.">Species:</a></label></div>
			<div class="col-md-7" style="height:30px;display:inline-block;">
                         <input id="id_form-{{int0}}-id_species_autocomplete" maxlength="200" name="form-{{int0}}-id_species_autocomplete" type="text" style="width:300px" readonly placeholder="Homo Sapiens (HUMAN)"/> 
                                        
                        </div>
		</div>
		<div class="row">
		<div class="col-md-4" style="height:90px"></div>
		<div class="col-md-7">
		<p style='margin-top: 10px;' align="justify">You can search for scientific names and UniprotKB mnemonics <a href="http://www.uniprot.org/taxonomy/" target="_blank">here</a>. Also, you can download <a href="http://www.uniprot.org/docs/speclist" target="_blank">UniprotKB species list</a> and species <a href="download_specieslist/" target="_blank">not included there</a>.</p>
		</div>
		</div>
                <br>
	        <div class="row">
                <div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_form-{{int0}}-other_names"><a title="Aliases: Other names that are obtained from UniProtKB/Swiss-Prot.">Aliases:</a></label></div><div class="col-md-6">
		<textarea cols="40" id="id_form-{{int0}}-other_names" name="form-{{int0}}-other_names" readonly rows="2"  value="{{o.other_names}}" style="width:300px"></textarea></div>
		</div><!--placeholder=" 5-hydroxytryptamine receptor 1B; Serotonin receptor 1B"-->

              <!--  <div style="text-align:center"> <br>
             			<h4><br>Protein Sequence Details</h4>
                </div><br> -->

	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_form-{{int0}}-sequence"><a title="Wild type sequence: Wild-type sequence of the protein in IUPAC one letter code.">Wild type sequence:</a></label></div>
			<div class="col-md-7"><textarea cols="40" id="id_form-{{int0}}-sequence" name="form-{{int0}}-sequence" readonly rows="2" style="width:300px" value="{{o.sequence}}"></textarea></div>
		</div><br>


                <div class="col-md-8 col-md-offset-2 " > 
                <div class="col-md-12 panel panel-primary" > 
	        <div class="row" style="padding:0px 0px 10px 0px"><br>
			<div class="col-md-3" style="height:30px"></div><div class="col-md-5"><label for="id_form-{{int0}}-is_mutated"><a title="Mutant: This value must be checked if the protein sequence differs from the one identified at UniProtKB by “UniProtKB AC” and “isoform”.">Is it a mutant?</a></label></div>
			{% if o.is_mutated == True %}<div class="col-md-1"><input data-toggle="collapse" data-target="#id_form-{{int0}}-mutations_id,#id_mutations_id,#mutations_id" id="id_form-{{int0}}-is_mutated" name="form-{{int0}}-is_mutated" type="checkbox" checked value='1' disabled/></div>
                        {%else%}<div class="col-md-1"><input id="id_form-{{int0}}-is_mutated" data-toggle="collapse" data-target="#id_form-{{int0}}-mutations_id,#id_mutations_id,#mutations_id" name="form-{{int0}}-is_mutated" type="checkbox" value='0' /></div>
                         {%endif%} 
		</div>
		</div>
		</div>

		<br></div>   
<!--_________________________________________________________________________________________________________________________________________________________-->

  <div class="col-md-12 panel collapse " id="id_form-{{int0}}-mutations_id" name="form-{{int0}}-mutations_id"> 
	        <div class="row"><br>
                <div class="col-md-1"><h4>(<b>C</b>)</h4></div> <div class="col-md-6 col-md-offset-2" style="text-align:center"><h4>Mutations</h4></div><div class="col-md-2 col-md-offset-1" style="text-align:center"><h4 style="font-size:15px;text-align:center;color:silver" id="plabnum">PROT #{%for int in int_id%}{% if forloop.counter == forloop.parentloop.counter %}{{int}}{%endif%}{%endfor%}</h4></div>

                </div><br>

	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_form-{{int0}}-msequence"><a title="Mutant sequence: Contains mutations and deletions indicarted with the hyphen character '-'.">Mutant sequence:</a></label></div>
			<div class="col-md-7"><textarea cols="40" id="id_form-{{int0}}-msequence" name="form-{{int0}}-msequence" disabled rows="2" style="width:300px" placeholder=""  value="{{o.msequence}}"></textarea></div>
		</div>
<!--placeholder=" MEEPGAQCAPPPPAGSETWVPQANLSSAPSQNCSAKDYIYQDSISLPWKVLLVMLLALITLATTLSNAFVIATVYRTRKLHTPANYLIASLAVTDLLVSILVMPISTMYTVTGRWTLGQVVCDFWLSSDITCCTASILHLCVIALDRYWAITDAVEYSAKRTPKRAAVMIALVWVFSISISLPPFFWRQAKAEEEVSECVVNTDHILYTVYSTVGAFYFPTLLLIALYGRIYVEARSRILKQTPNRTGKRLTRAQLITDSPGSTSSVTSINSRVPDVPSESGSPVYVNQVKVRVSDALLEKKKLMAARERKATKTLGIILGAFIVCWLPFFIISLVMPICKDACWFHLAIFDFFTWLGYLNSLINPIIYTMSNEDFKQAFHKLIRFKCTS"-->
	        <div class="row" style="height:30px">

                                <div class="col-md-1" style="height:30px"></div>
                                <div class="col-md-3" style="height:30px"></div>
                                <div class="col-md-7" style="height:30px;text-align: left">
                                <button type='button' id='id_get_align' disabled name='get_align' title="Perform an alignment between Wild type and Mutant sequence. The result will be displayed in the Sequence alignment box for editing and in pop up." style="width:300px;" disabled>
                                Align to wild type</button>
                                </div>
                </div><br>
                <div class="row">
                        <div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_form-{{int0}}-alignment"><a title="Sequence alignment: alignment in fasta format between the wild type sequence (1st sequence entry in fasta) and the mutant one (2nd sequence entry in fasta).">Sequence alignment:</a></label></div>
                        <div class="col-md-7"><textarea cols="40" id="id_form-{{int0}}-alignment" name="form-{{int0}}-alignment" disabled autofocus rows="2" style="width:300px"  value="{{o.alignment}}" placeholder=""></textarea></div>
                <br></div>

	        <div class="row" style="height:30px">

                                <div class="col-md-1" style="height:30px"></div>
                                <div class="col-md-3" style="height:30px"></div>
                                <div class="col-md-7" style="height:30px;text-align: left">
                                <button type='button' id='id_get_mutations'  name='get_mutations' title="Mutations are identified after comparing the sequence supplied in the 'Sequence' field with the wild type sequence from UniProtKB." style="width:148px;" disabled>Get mutations</button>
                                <button type='button' id='id_clean_mutations'  name='clean_mutations' title="Cleans assigned mutations and allows a new alignment." style="width:148px;" disabled>Clean mutations</button>
                                </div>
                </div>

                <br>
		<div class=row>

                <br>
			
 			<div style="text-align:center;height:40px">
             			<h4>Protein Mutations</h4>
            		</div>

                        <table id="id_form-{{int0}}-mutationtable" align='center'>
				<tr>	<th><label for="id_form-{{int0}}-resid"><a title="Resid: Residue number that its mutated on wild type protein.">Resid</a></label></th>
					<th><label for="id_form-{{int0}}-resletter_from"><a title=" Resletter from: Residue name in IUPAC one letter code that is present on wild type protein. '-' character is used in case of insertions.">Resletter from</a></label></th>
					<th><label for="id_form-{{int0}}-resletter_to"><a title=" Resletter to: Residue name in IUPAC one letter code that is present on mutated protein. '-' character is used in case of deletions and 'X' for engineered residues.">Resletter to</a></label></th></tr>
				<tr> 	<td><input style="width:140px;" disabled id="id_form-{{int0}}-resid" name="form-{{int0}}-resid" type="number"  value="{{o.number}}"/></td> <!--placeholder=" 95"-->
					<td><input style="width:140px;" id="id_form-{{int0}}-resletter_from" maxlength="1" disabled name="form-{{int0}}-resletter_from" value="{{o.resletter_from}}" type="text"  /></td> <!--placeholder=" D" -->
					<td><input style="width:140px;" id="id_form-{{int0}}-resletter_to" maxlength="1" disabled name="form-{{int0}}-resletter_to" type="text" value="{{o.resletter_to}}" /></td>	<!--placeholder=" A"-->	
				</tr>

			</table>
                </div>



		<br></div>   

<!--_________________________________________________________________________________________________________________________________________________________-->


                <div class=row style="text-align:center">
                        <table align='center'>
                        <tr><td>
                                <button type="button" id="id_add_protein" name="add_protein" style="height:30px;width:140px;margin-left:5px;margin-right:5px;">+ Add Protein</button>
                        </td><td>
                                <button type="button" id="id_del_protein" name="del_protein" style="height:30px;width:140px;margin-left:5px;margin-right:5px;" disabled>- Remove Protein</button>
                        </td><td>
                                <button type="button" id="id_reset" name="reset"  style="height:30px;width:140px;margin-left:5px;margin-right:5px;">Clean Protein</button>
                        </td></tr>
                        </table>
                        
                </div> 	<br>	<br>	


<!--_________________________________________________________________________________________________________________________________________________________-->

{%endif%} {%endfor%}
{%endfor%}
</div>

</div>
<div class="col-md-7 col-md-offset-4"> 
      <div class="col-md-12 panel panel-primary">
          <!--Submit prueba -->
  	  <div class="panel-body" id="selection-">
                          <input id="id_submit" name="submit" type="submit" value="Submit Protein Form" class="btn btn-success btn-lg btn-block has-spinner"  />
      	  </div>
  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/molecule/{{submission_id}}/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Continue to step 2: Small Molecule Information </a>
      	  </div>
  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/db_inputform/{{submission_id}}/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Back to index </a>
      	  </div>
      </div>

</div>

</form>

{% endblock content %}


{% block addon_js %}
    <script src="{% static 'dynadb/protein_alignment_autocomplete.js' %}"></script>
    <script src="{% static 'dynadb/notUniprotProtein.js' %}"></script>
    <script src="{% static 'dynadb/ajaxConfig.js' %}"></script>
    <script src="{% static 'dynadb/autocomplete_species.js' %}"></script>
    <script src="{% static 'dynadb/resetProtein.js' %}"></script>
    <script src="{% static 'dynadb/addProtein.js' %}"></script>
    <script src="{% static 'dynadb/delProtein.js' %}"></script>
    <script src="{% static 'dynadb/getDataUPKB.js' %}"></script>
    <script src="{% static 'dynadb/getMutations.js' %}"></script>
    <script src="{% static 'dynadb/changeMutant.js' %}"></script>
    
    

{% endblock %}
