{% extends "home/base.html" %}
{% load static %}
{% block addon_css %}
<style>
  label {
    cursor: pointer;
    font-weight: normal
  }

  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }

  th {
    width: 80px;
    text-align: center;
  }

  td {
    padding: 5px 5px 5px 5px;
  }
</style>
{% endblock %}

{% block content %}
<div class="regForm">
  <form class="row" method="post" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- description column -->
    <div class="col-md-4 col-md-offset-1">
      <div id="left" class="col-md-12 ">
        {% include "dynadb/PROTEIN_description.html" %}
      </div>
    </div>


    <!-- middle column -->
    <div id="ssform" class="col-md-6">
      <div id="sform">
        <div class="col-md-12 regPanel panel panel-primary" id="PROTEIN_BUTTON">
          <h3 class="panel-heading">
            {% if minisummary %} <b>Protein</b> summary {%else%}Toggle the (<b>3</b>) <b>Protein </b> block{%endif%}
          </h3>
        </div>
        
        {% for o in qPROT %}
        {%for int0 in int_id0%}
        {% if forloop.counter == forloop.parentloop.counter %}
        <div class="col-md-12 trgPanel panel panel-primary" id="PROTEIN_BLOCK-{{int0}}">

          <div class="row"><br>
            <div class="col-md-1">
              <h4></h4>
            </div>
            <div class="col-md-6 col-md-offset-2" style="text-align:center">
              <h4 class="orangeTit">Protein
                #{%for int in int_id%}{% if forloop.counter == forloop.parentloop.counter %}{{int}}{%endif%}{%endfor%}
              </h4>
            </div>
            <div class="col-md-2 col-md-offset-1" style="text-align:center">
              <h4 style="font-size:15px;text-align:center;color:white;text-shadow:2px 2px black" id="plabnum"></h4>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-1" style="height:30px"></div>
            <div class="col-md-3"><label for="id_form-{{int0}}-name"><a
                  title="Name: Recommended name from UniProtKB. "><p>Name:</p></a></label></div>
            <div class="col-md-6"><input id="id_form-{{int0}}-name" maxlength="60" readonly name="form-{{int0}}-name"
                type="text" style="width:300px" value="{{o.name}}" /></div>
            <br>
          </div>

          <div class="row">
            <div class="col-md-1" style="height:30px"></div>
            <div class="col-md-3"><label for="id_form-{{int0}}-id_species"><a
                  title="Species: Protein sequence species. Type scientific name or UniprotKB mnemonic inside brackets and select the appropiate entry. Use &quot;synthetic&quot; for artficial sequences or &quot;unidentified&quot for unknown sources."><p>Species:</p></a></label>
            </div>
            <div class="col-md-7" style="height:30px;">
              {% for ll in sci_namel %}
              {% if forloop.counter == forloop.parentloop.counter %}
              <input id="id_form-{{int0}}-id_species" name="form-{{int0}}-id_species" type="text" style="width:300px"
                readonly value="{{ll}}" />
              {%endif%}
              {%endfor%}

            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-md-offset-1" style="height:30px"><label for="id_uniprotkbac"><a
                  title="UniProtKB AC: UniProtKB Accession Number. This value identifies protein to their cannonical sequences. Use only Accession Numbers pointing to cannonical sequences. Mutations are handled in a different field."><p>UniProtKB
                  AC:</p></a></label></div>
            <div class="col-md-2" style="height:30px"><input id="id_form-{{int0}}-uniprotkbac" maxlength="10"
                name="form-{{int0}}-uniprotkbac" style="width:75px" readonly type="text" value="{{o.uniprotkbac}}" />
            </div>
            <div class="col-md-2" style="margin-left:25px"><label for="id_isoform"><a
                  title="Isoform: Isoform number for a UniProtKB Accession Number. Cannonical sequences have the value '1'."><p>Isoform:</p></a></label>
            </div>
            <div class="col-md-2"><input readonly id="id_form-{{int0}}-isoform" name="form-{{int0}}-isoform"
                type="number" style="width:75px" value="{{o.isoform}}" /></div>
          </div>
          <br>

          {% if o.is_mutated == True %}
          <div class="row">
            <div class="col-md-6 col-md-offset-1" style="margin-top:3%;">
              <div class="row" id="show_protmut-{{int0}}" data-toggle="collapse"
                data-target="#id_form-{{int0}}-mutations_id,#id_mutations_id">
                <h4>Toggle protein mutations</h4>
              </div>
            </div>
          </div><br>

          <div class="row" id="id_form-{{int0}}-mutationtable" style="align:center;margin-bottom:20px">
            <table style="align:center;margin:auto">
              <tr>
                <th><label for="id_form-{{int0}}-resid"><a
                      title="Resid: Residue number that its mutated on wild type protein.">Resid</a></label></th>
                <th><label for="id_form-{{int0}}-resletter_from"><a
                      title=" Resletter from: Residue name in IUPAC one letter code that is present on wild type protein. '-' character is used in case of insertions.">Resletter
                      from</a></label></th>
                <th><label for="id_form-{{int0}}-resletter_to"><a
                      title=" Resletter to: Residue name in IUPAC one letter code that is present on mutated protein. '-' character is used in case of deletions and 'X' for engineered residues.">Resletter
                      to</a></label></th>
              </tr>
              <tr>
                <td><input style="width:140px;" disabled id="id_form-{{int0}}-resid" name="form-{{int0}}-resid"
                    type="number" value="{{o.number}}" /></td>
                <!--placeholder=" 95"-->
                <td><input style="width:140px;" id="id_form-{{int0}}-resletter_from" maxlength="1" disabled
                    name="form-{{int0}}-resletter_from" value="{{o.resletter_from}}" type="text" /></td>
                <!--placeholder=" D" -->
                <td><input style="width:140px;" id="id_form-{{int0}}-resletter_to" maxlength="1" disabled
                    name="form-{{int0}}-resletter_to" type="text" value="{{o.resletter_to}}" /></td>
                <!--placeholder=" A"-->
              </tr>

            </table>
          </div>
          {% endif%}

        </div>
        {%endif%}
        {%endfor%}
        {%endfor%} 
      </div>
    </div>

    {% if submission_id %}
    <div class="col-md-6 col-md-offset-5">
      <div class="col-md-12 panel panel-primary">
        <!--Submit prueba -->
        <div class="panel-body" id="selection-">
          <a id='selection-button' href="/dynadb/moleculereuse/{{submission_id}}/{{submission_id}}"
            class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Check Small Molecule Information (Step
            2)</a>
        </div>
        <div class="panel-body" id="selection-">
          <a id='selection-button' href="/dynadb/modelreuse/{{submission_id}}/{{submission_id}}"
            class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Check Complex Information (Step 3)</a>
        </div>
        <div class="panel-body" id="selection-">
          <a id='selection-button' href="/dynadb/dynamicsreuse/{{submission_id}}/{{submission_id}}"
            class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Continue to step 4: Dynamics Information
          </a>
        </div>
      </div>
    </div>
    {%endif%}

  </form>
</div>
{% endblock content %}


{% block addon_js %}
<script src="{% static 'dynadb/protein_alignment_autocomplete.js' %}"></script>
<script src="{% static 'dynadb/notUniprotProtein.js' %}"></script>
<script src="{% static 'dynadb/ajaxConfig.js' %}"></script>
{% if not submission_id %}
<script src="{% static 'dynadb/autocomplete_species.js' %}"></script>
{% endif%}
<script src="{% static 'dynadb/resetProtein.js' %}"></script>
<script src="{% static 'dynadb/addProtein.js' %}"></script>
<script src="{% static 'dynadb/delProtein.js' %}"></script>
<script src="{% static 'dynadb/getDataUPKB.js' %}"></script>
<script src="{% static 'dynadb/getMutations.js' %}"></script>
<script src="{% static 'dynadb/changeMutant.js' %}"></script>

<script>
  $(document).on('click', "[id|=show_protmut]", function () {
    self = $(this);
    tablemut = $(this).parents("[id|=sform]").find("[id$=mutationtable]");
    tablemut.toggle();
  });

  $(document).on('click', "#collapse-PRUEBA2", function () {
    self = $(this);
    tablecomp = $(this).parent().siblings("#PRUEBA2");
    tablecomp.toggle();
  });

  $(document).on('click', "#collapse-PRUEBA3", function () {
    self = $(this);
    tablecomp = $(this).parent().siblings("#PRUEBA3");
    tablecomp.toggle();
  });

  $(document).on('click', "#PROTEIN_BUTTON", function () {
    self = $(this);
    tablecomp = $(this).siblings("[id|=PROTEIN_BLOCK]");
    tablecomp.toggle();
  });

  $(document).on('click', "#SMALL_BUTTON", function () {
    self = $(this);
    tablecomp = $(this).siblings("[id|=SMALL_BLOCK]");
    tablecomp.toggle();
  });

  $(document).on('click', "#MODEL_BUTTON", function () {
    self = $(this);
    tablecomp = $(this).siblings("#MODEL_BLOCK");
    tablecomp.toggle();
  });

  $(document).on('click', "#DYNAMICS_BUTTON", function () {
    self = $(this);
    tablecomp = $(this).siblings("#DYNAMICS_BLOCK");
    tablecomp.toggle();
  });
</script>
{% endblock %}