<!-- dynadb_Dynamics.html -->

{% extends "home/base.html" %} 
{% load static %} 


{% block content %}

<form method="post" action="{{ action }}" enctype="multipart/form-data">

 <!-- description column -->
 <div class="col-md-4">
     
     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 > Simulation Submission<br>Step 2 <br>Small Molecule Information </h3>
         </div> 
     </div>
     
<!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             
<!--             <h4>FILL IN THE MOLECULE FORM</h4> -->
            <div style="text-align:center"> 
             <h4>FILL IN THE SMALL MOLECULE FORM</h4>
	    </div>
             <p>Please, provide information of all non-protein molecules in your system.</p>
             <p style="text-align: justify">Small molecule information contains data for compounds and molecules that are not proteins, including lipids, solvent and ions. General compound information can be retrieved from PubChem Compound and ChEMBL databases. User must also provide information about elemental composition, connectivity, net charge, protonation states and tautomerical form through uploading a MDL Molfile or an SDFile. Isotopical composition is optional. PubChem CIDs for typical molecules as water or most common ions will be provided. Coordinate information must be provided later on model (step 3) or dynamics forms (step 4).</p>

<p style="text-align: justify">Only molecule structures that have coordinates coming from experimental data or that are crucial for the setting of the simulation must be included in model by checking the field “Present in model” (e. g. crystalized-like waters or very stable ions, but not water molecules or ions with randomly generated coordinates). Otherwise chemical structures must be included into the dynamics form (step 4).</p>

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   _____________________________________________________________________________________________-->

<!-- middle column -->
<div class="col-md-7 "> 
    <!-- filters -->
  <div class="col-md-12 panel panel-primary"> 

    <div class="panel-body">
 <!------------------------------------------------------------------------------ middle column -->
<!--        <h4> <a title="Table containing molecular dynamic metadata"> dyndb_Dynamics Table:</a></h4> <br> -->
<!--	<div style=display:table;>  -->

            <div style="text-align:center"> 
             <h4><br>Molecule information</h4>
	    </div><br>
	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_name"><a title="Name: First name in the list of names in PubChem or 'compound name' in ChEMBL if there is no entry in PubChem.">Name:</a></label></div>
			<div class="col-md-6"><input  style="width:300px" id="id_name" maxlength="60" name="name" type="text" placeholder=" Clozapine"/></div>
		</div>
			

	        <div class="row">
			<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_iupac_name"><a title="IUPAC name: IUPAC name downloaded from PubChem.">IUPAC name:</a></label></div>
			<div class="col-md-6"><input id="id_iupac_name" style="width:300px" maxlength="500" name="iupac_name" type="text" placeholder=" 3-chloro-6-(4-methylpiperazin-1-yl)-5H-benzo[b][1,4]benzodia"/></div>
		</div>
			

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_pubchem_cid"><a title="PubChem cid: PubChem chemical identifier">PubChem cid:</a></label></div>
			<div class="col-md-3"><input id="id_pubchem_cid" name="pubchem_cid"  style="width:145px;margin-right:4%" type="number" placeholder=" 2818" /></div>
			<div class="col-md-3"><button style="width:145px;text-align:center;margin-left:4%;" type="button" >Validate</button></div>
		</div>
			

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_chembleid"><a title="ChEMBL ID: id in ChEMBL.">ChEMBL ID:</a></label></div>
			<div class="col-md-3"><input id="id_chembleid" name="chembleid" type="number" style="width:145px;margin-right:4%" placeholder=" 42"/></div>
			<div class="col-md-3"><button style="width:145px;text-align:center;margin-left:4%" type="button" >Validate</button></div>
		</div>


	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_std_id_molecule"><a title="Std ID molecule: Molecule ID that represents the standard form of the compound, here the properties downloaded directly from PubChem or ChEMBL.">Std ID molecule:</a></label></div>
			<div class="col-md-6"><select id="id_std_id_molecule" name="std_id_molecule"  style="width:300px" placeholder=" 1">
				<option value="" selected="selected">---------</option>
				<option value="1">DyndbMolecule object</option>
				<option value="3">DyndbMolecule object</option>
				<option value="4">DyndbMolecule object</option>
				<option value="5">DyndbMolecule object</option>
				<option value="6">DyndbMolecule object</option>
				<option value="7">DyndbMolecule object</option>
				<option value="2">DyndbMolecule object</option>
			</select></div>
		</div>
	
	        <div class="row">
<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_other_names"><a title="Aliases: Other names that are obtained from PubChem or otherwise from ChEMBL.">Aliases:</a></label></div><div class="col-md-6">
		<textarea cols="40" id="id_other_names" name="other_names" rows="2" style="width:300px" placeholder=" Clozaril; Fazaclo; Fazaclo Odt; HF-1854"></textarea></div>
		</div>

	        <div class="row">
		<div class="col-md-1" style="height:30px"></div><div class="col-md-3"><label for="id_type"><a title="Type: Type of the compound that forms part of a complex.">Type:</a></label></div>
		<div class="col-md-4"><select id="id_type" name="type" rows="2" style="width:300px" placeholder=" Allosteric Ligand" style="width:300px">
                                <option value="1">Orthosteric ligand</option>
                                <option value="2">Allosteric ligand</option>
                                <option value="3">Cristallographic waters</option>
                                <option value="4">Other</option>
                        </select></div>
		</div><br>
	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-8"><label for="id_is_present"><a title="Present in model: This molecule is considered as a part of the model. Remember that only molecules that have coordinates coming from experimental data or that are crucial for the setting of the simulation must be considered as a model element (Provide coordinates information in step 3). Otherwise they must be included into the 'Dynamics form'(step 4), i.e. solvent and lipid membrane molecules, ions and other molecules whose coordinates are randomly generated or not specified when building the system.">Present in experimental or computational model:</a></label></div>
			<div class="col-md-3"><input id="id_is_present" name="is_present" type="checkbox" /></div>
		</div><br>
		<div class=row id='PRUEBA'>
        		 <div class="col-md-1"style="height:30px"> </div><div class="col-md-5"><tr><th><label for="id_molsdf"><a title="Upload .mol, .sdf: Upload either a .mol or a .sdf file describing geometry of the small molecule"> Upload .mol, .sdf </a> </label></th></div>
			<div class="col-md-6"><td><input id="id_molsdf" name="molsdf" style="height:25px;text-align:center;" type="file" placeholder="   "/></td></tr></div>
      		</div>
		<div class=row id='PRUEBA'>
        		 <div class="col-md-1"style="height:30px"> </div><div class="col-md-5"></div>
			<div class="col-md-6"><button style="width:90px;height:30px;text-align:center;vertical-align:text-middle;" type="button" onclick=" ">Upload</button></div>
      		</div><br>

	        <div class="row">
			<div class="col-md-4" style="height:30px"></div><div class="col-md-4"><button title="Retrieve the the standard form for this compound from the database or from external sources." style="width:180px;text-align:center;margin-right:5%" type="button" ="Retrieve the the standard form for this compound from the database or from external sources." onclick=" "> Get standard form</button></div><div class="col-md-4"></div>
		</div>
                <div class="row">
		<div class="col-md-4" style="height:30px"></div><div class="col-md-4"><button style="width:180px;text-align:center;margin-right:5%" type="button" onclick=" " title="Set the user-uploaded molecule as the standard form for this compound. Please, use this button if 'get standard form' cannot retrieve an appropriate structure.">Provide standard form</button></div>
               </div><br> 

                        <table align='center'>
				<tr>	<th style="width:80px;text-align:center"><label for="id_stdform"><a title="Graphical representation of the standard form of the molecule">Standard form</a></label></th>
					<th style="width:80px;text-align:center"><label for="id_upload_mol"><a title="Graphical representation of the uploaded molecule if provided">Uploaded Molecule</a></label></th>
				<tr> 	<td style="padding:5px 5px 5px 5px"><textarea rows="3"style="width:200px;" id="id_stdform" name="stdform" placeholder="   "/></textarea></td>
					<td style="padding:5px 5px 5px 5px"><textarea rows="3"style="width:200px;" id="id_upload_mol"  name="upload_mol" placeholder="  " /></textarea></td>
				</tr>

			</table><br>




	      <!--  <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-4"><label for="id_id_compound"><a title="“id” of the compound that is represented with this chemical model (“molecule”). Foreign key to “dyndb_compound”.”id”.">Id compound:</a></label></div><div class="col-md-6"><select id="id_id_compound" name="id_compound" style="width:250px">
				<option value="" selected="selected">---------</option>
				<option value="1">DyndbCompound object</option>
				<option value="2">DyndbCompound object</option>
				<option value="3">DyndbCompound object</option>
				<option value="4">DyndbCompound object</option>
				<option value="5">DyndbCompound object</option>
				<option value="6">DyndbCompound object</option>
			</select></div>
		<br></div>	-->

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_description"><a title="Description: Description about which specific protonation, resonance state or confomation is represented in this “molecule”.">Description:</a></label></div>
			<div class="col-md-6"><textarea cols="40" style="width:300px" id="id_description" name="description" rows="2" placeholder=" Standard form"></textarea></div>
		<br></div>

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_net_charge"><a title="Net charge: Net charge of the molecule structure.">Net charge:</a></label></div>
			<div class="col-md-6"><input style="width:300px" id="id_net_charge" name="net_charge" type="number" placeholder=" 0"/></div>
		<br></div>
	
	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_inchi"><a title="InChI: IUPAC International Chemical Identifier (InChI) of the molecule.">InChI:</a></label></div>
			<div class="col-md-6"><textarea style="width:300px" cols="40" id="id_inchi" name="inchi" rows="2" placeholder=" 1S/C18H19ClN4/c1-22-8-10-23(11-9-22)18-14-4-2-3-5-15(14)20-16-7-6-13(19)12-17(16)21-18/h2-7,12,20H,8-11H2,1H3"></textarea></div>	
		<br></div>

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_sinchikey"><a title="SInChIKey: Molecule Standard InChI's hash">SInChIKey:</a></label></div>
			<div class="col-md-3"><input style="width:300px" id="id_sinchikey" maxlength="27" name="sinchikey" type="text" placeholder=" ZUXABONWMNSFBN-UHFFFAOYSA-N" /></div>
		<br></div>
	        <div class="row">
			<div class="col-md-5" style="height:30px"></div><div class="col-md-4"><button style="width:200px;text-align:center;" type="button" title="Retrieve compound information from the database or external sources searching by Standard InChIKey." onclick=" ">Get data</button></div>
		<br><br></div>

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_inchikey"><a title="InChIKey: Molecule InChI's hash">InChIKey:</a></label></div>
			<div class="col-md-3"><input style="width:300px" id="id_inchikey" maxlength="27" name="inchikey" type="text" placeholder=" ZUXABONWMNSFBN-UHFFFAOYSA-N"  /></div>
		<br></div>
	        

<!--	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_inchicol"><a title="The default value of this column is '1'. The value has to be incremented in case of collision of several InChIKeys in order that “InChIkey” + “InChIcol” values are always unique.">InChIcol:</a></label></div>
			<div class="col-md-6"><input style="width:300px" id="id_inchicol" name="inchicol" type="number" placeholder="   "/></div>
		<br></div> -->

	        <div class="row">
			<div class="col-md-1"style="height:30px"></div><div class="col-md-3"><label for="id_smiles"><a title="Open SMILES: Canonical SMILES representation of the molecule.">Open SMILES:</a></label></div>
			<div class="col-md-6"><textarea cols="40" style="width:300px" id="id_smiles" name="smiles" rows="2" placeholder=" CN1CCN(CC1)C2=Nc3cc(Cl)ccc3Nc4ccccc24"></textarea>
		</div><br></div>

			<br>
 			<div style="text-align:center">
					<button style="height:30px;width:400px" onclick="addFields()"> + Add molecule </button> 
		        </div> 		
			<br>


<!--	        <div class="row">
			<div class="col-md-1"></div><div class="col-md-4"><label for="id_update_timestamp">Update timestamp:</label></div>
			<div class="col-md-6"><input id="id_update_timestamp" name="update_timestamp" type="text" /></div>
		<br></div>

	        <div class="row">
			<div class="col-md-1"></div><div class="col-md-4"><label for="id_creation_timestamp">Creation timestamp:</label></div>
			<div class="col-md-6"><input id="id_creation_timestamp" name="creation_timestamp" type="text" /></div>
		<br></div>

	        <div class="row">
			<div class="col-md-1"></div><div class="col-md-4"><label for="id_created_by_dbengine">Created by dbengine:</label></div>
			<div class="col-md-6"><input id="id_created_by_dbengine" maxlength="40" name="created_by_dbengine" type="text" /></div>
		<br></div>

	        <div class="row">
			<div class="col-md-1"></div><div class="col-md-4"><label for="id_last_update_by_dbengine">Last update by dbengine:</label></div>
			<div class="col-md-6"><input id="id_last_update_by_dbengine" maxlength="40" name="last_update_by_dbengine" type="text" /></div>
		<br></div>

	        <div class="row">
			<div class="col-md-1"></div><div class="col-md-4"><label for="id_created_by">Created by:</label></div>
			<div class="col-md-6"><input id="id_created_by" name="created_by" type="number" /></div>
		<br></div>

	        <div class="row">
			<div class="col-md-1"></div><div class="col-md-4"><label for="id_last_update_by">Last update by:</label></div>
			<div class="col-md-6"><input id="id_last_update_by" name="last_update_by" type="number" /></div>
		<br></div>  



        <th><input type="submit" value="Submit" /> </th><br> -->
   </div>  
  </div>

  <div id="selection-buttons">
      <div class="col-md-12 panel panel-primary">
  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/model/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Continue to step 3: Model Information </a>
      	  </div>
  	  <div class="panel-body" id="selection-">
        	<a id='selection-button' href="/dynadb/protein/"  class="btn btn-success btn-lg btn-block has-spinner">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Back to step 1: Protein Information </a>
      	  </div>
      </div>
  </div>







</div>

{% endblock content %}



