<div class="col-md-12 regPanel panel panel-primary">
  <div class="panel-body">
    <h2 class="panel-heading"> Simulation Submission</h2>
    <h3  class="panel-heading">Step 2: <br>Small Molecule Information </h3>
  </div>
</div>

<!-- main description -->
<div id="square_description" class="col-md-12 panel panel-primary" style="height:300px">
  <div class="panel-body"
    style="margin-bottom:5%;margin-top:4%;margin-left:-3%;margin-right:-5%;overflow:auto;height:91%">
    <div style="text-align:center">
      <h4 class="orangeTit">Fill In The Small Molecule Form</h4>
    </div>

    <p style="text-align: justify;">Please, provide a detailed chemical description of all non-protein molecules in your
      system. This extensive information will help to provide a platform of well-characterized molecules for screening
      purposes to medicinal chemists and chemoinformaticians.</p>
    <p style="text-align: justify"><b>(A)</b> Upload for each small molecule (non-protein) a '.sdf' or '.mol' file. A 2D
      chemical structure will be automatically displayed.</p>
    <p style="text-align: justify"><b>(B)</b> Indicate if the uploaded structure is a co-crystalised molecule or if it
      belongs to bulk.</p>
    <p style="text-align: justify"><b>(C)</b> Revise chemoinformatics data retrieved from the upload structure.</p>

    <p style="text-align: justify"><b>(D)</b> Obtain molecule information from PubChem and ChEMBL databases.

      <p style="text-align: justify;">Click the '+ Add molecule' button on the bottom of the pannel corresponding to the
        last uploaded molecule to add information about another molecule in your system. </p>
      <p style="text-align: justify;margin-bottom:-5%;">Molecule data submission can be made individually by clicking
        the 'Submit molecule' button on the bottom of every molecule pannel or simultaneously by clicking the 'Submit
        all molecules' button on the bottom of the form.</p>
  </div>
</div>

<!-- link to docs -->
<div class="col-md-12 panel panel-primary">
  <div class="panel-body">
    <p>For more information on this form, see the <a class="textlink" alt="Work in progress.">docs</a>.
    </p>
  </div>
</div>
