
<div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
  <div class="panel-body">
  	<h3 > System information<br>Step 1:<br>General information</h3>
 </div> 
</div>

<!-- main description -->
<div id="square_description" class="col-md-12 panel panel-primary">
  <div class="panel-body" style="margin-bottom:5%;margin-top:4%;margin-left:-3%;margin-right:-5%;overflow:auto;height:91%">
    <div style="text-align:center"></div>
    <p style="text-align: justify;" >(<b>A</b>) To fill with the simulated system information, including name of the system, PDB id of the original structure, etc.</p>
    <p style="text-align: justify;" >(<b>B</b>) Specify the simulation setup including information of Method, software, etc. </p>
  </div>
  </div>

  <!-- link to docs -->
  <div class="col-md-12 panel panel-primary">
    <div class="panel-body">
      <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.</p>
    </div>
  </div>
</div>
