<div class="row" id="info_box">
  <div class="col-md-10 col-md-offset-1 logInAlert alert alert-info alert-dismissible">

    <p><strong>Pre-submission:</strong></p>

    <p>Before to start a submission it is necessary to do a previous preparation:</p>
    <p>   1) Prepare the files need it for the upload:</p>
    <ul>
      <li>Coordinates. Extensions: pdb </li>
      <li>Topology. Extensions: psf, top </li>
      <li>Trajectory. Extensions: dcd, xtc, trr</li>
      <li>Simulation parameters. Extensions: prm, prmtop, zip, tar.gz, tgz</li>
      <li>Simulation protocol. Extensions: zip, tar.gz, tgz</li>
    </ul>
    <p> Optionally, add other files that you consider necessary for the submission:</p>
    <ul>
      <li>Other. Extensions: tar.gz, tgz, zip</li>
    </ul>              
    <p>   2) Trajectories must be aligned to transmembrane part of the receptor to be submmited correctly. Also, check that the structure is located at the origin of coordinates.</p>
    <br>
    <p>   3) Check that each structure in your pdb have is own ChainID and check if each of these chains have is own UniprotKB. Each chain could contain multiple segments.</p>
    <br>

    <p><strong>Do you have any question? </strong></p>
    <p>Please contact us at <a class="textlink" href="mailto:info@gpcrmd.org">info@gpcrmd.org</a> and we will help you. 
      Remember that for more information, see the <a class="textlink" href="https://develgpcrmd-docs.readthedocs.io/en/latest/">docs</a>.</p> 

  </div>
</div>