<div class="col-md-12 regPanel panel panel-primary" >
    <div class="panel-body">
        <h3 class="panel-heading"> Submission Summary </h3>
    </div>
</div>

<!-- main description -->
<div id="square_description" class="col-md-12 panel panel-primary">
    <div class="panel-body"
        style="overflow:auto;">
        <div style="text-align:center">
        </div>
        <p style="text-align: justify;"> Please, find here the summary of objects to be registered in the current
            submission. This summary consist of four different blocks: (<b>1</b>) <b>Protein</b>, (<b>2</b>) <b>Small
                Molecules</b>, (<b>3</b>) <b>Crystal-derived assembly</b> and (<b>4</b>) <b>Simulation</b> blocks.</p>
        <p style="text-align: justify;"> Check the information in the summary properly describes the system to be
            submitted. If so, click the "Confirm Submission" button. Otherwise, every step of the submission can be
            revisited to change contents by clicking the corresponding button in the bottom of the summary</p>

    </div>
</div>

<!-- link to docs -->
<div class="col-md-12 panel panel-primary">
    <div class="panel-body">
        <p>For more information on this form, see the <a class="textlink" alt="Work in progress.">docs</a>.
        </p>
    </div>
</div>
