<head>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>document.domain=document.domain;</script>

<!--Bootstrap things-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!--Selection menus javascripts -->
<script src="../../static/contplots_menu.js"></script>

<script>
  // Readjusting dendrogram
  //I know it's a dirty way to do it, but I didn't know of anything better
  window.onload = function(){
    //Enlarging dendrogram width to see y-labels, but without enlarging the dendogram itself
    var dendrogram = document.getElementsByClassName('mpld3-figure')[0];
    var new_width =600;
    dendrogram.setAttribute('width',new_width);

    //Set color of dendrogram labels to match bokeh ones 
    $('text').css("fill",'#444444').css("background-color","white")

    //Hiding right axis and its ticks
    $('.domain:last').hide()
    $('line[x2="6"][y2="0"]').hide()

  };
</script>

<script type="text/javascript">
  function closeSideWindow() {
    //Close the side window which appears upon clicking bokeh plot
    $("#info").css({"visibility":"hidden","position":"absolute","z-index":"-1"});
    $("#plot_col").attr("class","col-xs-12");
  }
</script>

<!--Personal styles-->
<link rel="stylesheet" type="text/css" href="../../static/contplots_menu.css">

{% extends "home/base.html" %} 
{% load staticfiles %} 
{{staticfiles}}
{% block addon_css %}
{% endblock %}
</head>
<body>

{% block content %} 
{% csrf_token %}

 <!-- description  -->
<div id="outer">
  <div class="col-xs-12 panel panel-primary" id="inner_fixed" style="background-color:blue;text-align:center;margin-bottom:10px;color:white">  
     <div class="panel-body">
        <h3>Residue interaction</h3>
     </div> 
  </div>
</div>

<div id="inner_remaining">
  <div class="col-xs-12" style="padding-bottom:10px;height:100%">
    <div class="row">
      <div class="col-xs-12" id="plot_col">
        <div class="panel panel-primary" id="main_plot_body">
          <div class="panel-body">
            <div id="menus" class="container" style="width: 600px">
            <div class="row">
            <!--itypes dropdown-->
              <div class="dropdown optbar">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" name="typelist">
                  Interaction Type 
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {% for code,itype in other_itypes.items %}
                  <li>
                    <label class="mycheckbox">
                    <input type="checkbox" class="option" value={{code}} />
                      {{itype}}
                    </label>
                  </li>
                  {% endfor %}
                  <!--Hydrogen bond itypes dropdown-->
                  <li class="dropdown-submenu">
                    <div class="HB_WB_row">
                      <label class="mycheckbox">
                        <input type="checkbox" class="option" id="allHB" value=false />
                          Hydrogen bond
                      </label><a class="test" tabindex="-1" href="#"> <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% for code,itype in hb_itypes.items %}
                        <li>
                          <label class="mycheckbox">
                          <input type="checkbox" class="option hb_option" value={{code}} />
                            {{itype}}
                          </label>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                  <!--Water bridge itypes dropdown-->
                  <li class="dropdown-submenu">
                    <div class="HB_WB_row">
                      <label class="mycheckbox">
                        <input type="checkbox" class="option" id="allWB" value=false >
                          Water bridge
                      </label><a class="test" tabindex="-1" href="#"> <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% for code,itype in wb_itypes.items %}
                        <li>
                          <label class="mycheckbox">
                          <input type="checkbox" class="option wb_option" value={{code}} />
                            {{itype}}
                          </label>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                  <!--Select all button-->
                  <li>
                    <button class="mycheckbox falsebutton" id="allbutton" onclick="checkoruncheckall('.option','1')">Select all</a></button>
                  </li>
                </ul>
              </div> 
              <!--dropdown interacting parts of the simulation -->
              <div class="optbar" style="width: 200px">
                <label class="mycheckbox molec-check">
                <input type="checkbox" id="Intraprotein contacts" name="molec" class="option_location" value="prt" checked/>
                  Intraprotein contacts
                </label>
                <label class="mycheckbox molec-check">
                <input type="checkbox" id="Protein to ligand contacts" name="molec" class="option_location" value="lg" checked/>
                  Protein to ligand contacts
                </label>
              </div>
              <!--Apply button -->
              <div class="dropdown optbar">
                <button type="button" id="applybutton" class="btn btn-danger btn-sm" onclick="printchecked();" >Apply </button>
              </div>
            </div>
            <!--download button-->
            <div class="row">
              <div class="dropdown optbar">
                <button type="checkbox" onclick="window.location.pathname = '/contplots/download_csv'" >Download results in csv</button>
              </div>
            </div>
          </div>
            <div class="row">
              <div style="max-width:{{plotdiv_w}}px">
                <div class="column" id="dendrogram">
                {{dendrogram | safe }}
                </div>
                <div class="column" style="margin-left: 600px; width: 100%">
                 {{ div | safe }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3" id="info" style="visibility:hidden;position:absolute;z-index:-1;padding-left:5px;padding-right:5px;">
        <div class="panel panel-info" style="margin-bottom:0;height:100%;position: relative; overflow-y: auto; overflow-x: auto;">
          <div class="panel-heading" style="">Interaction details
            <button type="button" class="close" aria-label="Close" onclick="closeSideWindow()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="panel-body" style="">
            <div style="min-width:350px">
              <!-- Info on clicked dyn -->
              <p><b>Frequencies:</b></p>
              {% for code,type in selected_itypes.items %}
              <ul>
                <li><p>{{ type }}: <span id="freq_{{code}}" ></span>%</p></li>
              </ul>
              {% endfor %}
              <p><b>Positions:</b> <span id="pos_val"></span> 
              <p><b>Receptor:</b> <span id="recept_val"></span> <a id="recept_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
              <p><b>Ligand:</b> <span id="lig_val"></span> <a id="lig_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
              <a id="viewer_link" href="#" target='_blank' class="btn btn-success btn-sm" role="button"><b>Open with GPCRmd viewer</b></a>

              <!-- Traj dropdown -->
              <div id="trajsDropdown" class="dropdown" style="position:absolute;z-index:10;visibility:hidden">
                <button id="selectedTraj" class="btn btn-info btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left:3px;margin-top:7px" >-
                <span class="caret"></span></button>
                <ul id="trajsDropdown_options" class="dropdown-menu" style="height: auto;max-height:350px;overflow-x: hidden;padding:0;cursor:pointer">
                  <span id="add_traj_options"></span>
                </ul>
              </div>
            
              <!-- Loading div-->
              <span id="loading"><center ><img src="{% static 'view/images/loading-gear.gif' %}" style="width:50px;height:50px;margin-top:150px;position:absolute;z-index:10;margin-left:-25px"/></center></span>
              <!-- iframe to ngl -->
              <div id="ngl_div"  style="width:350px;height:350px;margin:auto;">
                <iframe style="border:none;position:relative;"  id="ngl_iframe" src="{{mdsrv_url}}/html/embed_contplots.html" scrolling="no" height="348px" width="348px"></iframe>
              </div>
              <div id="posNotinRec" class="alert alert-warning" style="padding:5px 30px 5px 5px;margin:0;font-size:12px;display:none">
                <span id="posNotinRec_text"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 


{% block addon_js %} 

<script src="{% static 'gpcrome/emb_crossgpcr.js' %}"></script>

<!-- Bokeh -->
<link href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
{{ script | safe }}
{% endblock %}

</body>

