<head><style>
.long input {
 width:100%;
}
</style></head>
{% extends "home/base.html" %} 
{% load staticfiles %} 
{% load i18n %}

{% block content %}

<form method="post">{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >Simulation Submission</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <h4 >RESET YOUR PASSWORD</h4>
	    </div>
             <p style="text-align: justify;">Forgot your password? Enter your email address and we will email instructions for setting a new one.</p>

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   <body> -->
<div id="pprotform"class="col-md-7 "> 
  <div id="protform" class="col-md-12 panel panel-primary"> 
    <div class="panel-body">

 			<div style="text-align:center">
             			<h4><br>Password Reset</h4>
            		</div><br>   
<div style="margin:10px">
<!-- 
  <div class=row >
        <div class="col-md-10 col-md-offset-1" > 
            {% if form.email.errors %}
               <div class="non-field-errors alert alert-danger">
                 {% for err in form.email.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
               </div>
           {% endif %}
        </div>
  </div>
-->

  <div  style="margin-bottom:8px">
     <div class="row" >
         <div class="col-md-3" style="width:135px;color:#337ac1;">
           <p><label for="id_email">{% trans 'Email address:' %}</label></p>
         </div>  
         <div class="col-md-7" style="margin-bottom:8px"><span class="long"> {{form.email}}</span>
         </div>

         <div class="col-md-1" > <!--Submit button:-->
        <input type="submit" value="Send" style="width:75px"/> </form>
        </div>
     </div>
<!--
     <div class="row" >
        <div class="col-md-11 col-md-offset-1" style="padding-left:20px;margin-bottom:8px"> 
          {% if form.email.errors %}
            <div>
              {% for err in form.email.errors %}
                 <p style="margin-bottom:px" class=text-danger>{{ err }}</p>
              {% endfor %}
            </div>
         {% endif %}
       </div>
     </div>
-->
</div>
<!-- fins aquí -->


{% endblock content %} 
         

{% block addon_js %} 


{% endblock %}
