{% extends "home/base.html" %} 
{% load staticfiles %} 
{% load i18n %}

{% block content %}

<form method="post">{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >Simulation Submission</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <h4 >RESET YOUR PASSWORD</h4>
	    </div>
             <p style="text-align: justify;">Forgot your password? Enter your email address and we will email instructions for setting a new one.</p>

         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   <body> -->
<div id="pprotform"class="col-md-7 "> 
  <div id="protform" class="col-md-12 panel-primary alert alert-info"> 

 			<div style="text-align:center">
             			<h4><br>Password Reset</h4>
            		</div>   

  <div class="panel-body ">
  <div style="text-align: justify;text-justify: inter-word;">
  <p>If an activated account exists with the email you provided, you will receive instructions for resetting your password.</p>

  <p>If you don't receive an email, please make sure you have entered the address you registered with. Also, don't forget to check your spam folder.</p>
 </div>

<!-- fins aquí -->


{% endblock content %} 
         

{% block addon_js %} 


{% endblock %}
