{% extends "home/base.html" %} 
{% load staticfiles %} 
{% load i18n %}

{% block content %}

<form method="post">{% csrf_token %}

 <!-- description column -->
 <div class="col-md-4">

     <div class="col-md-12 panel panel-primary" style="background-color:#3278B4;text-align:center;color:white;">   
         <div class="panel-body">
        	<h3 >Simulation Submission</h3>
         </div> 
     </div>

     <!-- main description -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">

            <div style="text-align:center"> 
             <h4 >RESET YOUR PASSWORD</h4>
	    </div>
             <p style="text-align: justify;">Please enter your new password twice so we can verify you typed it in correctly.</p>
         </div>
     </div>

     <!-- link to docs -->
     <div class="col-md-12 panel panel-primary">
         <div class="panel-body">
             <p>For more information on this form, see the <a alt="Work in progress.">docs</a>.
             </p>
         </div>
     </div>
  </div>
 <!--   <body> -->
<div id="pprotform"class="col-md-7 "> 
  <div class="alert alert-info" style="border-color:#337ac1">
    <strong style="font-size:125%">Your password has been updated. </strong> You can <a href="/accounts/login" style="color:#31708F"><u>log in</a></u> now.</p>
 </div>
</div>

{% endblock content %} 
         
