li a {
    color: green;
}

body {
    background: white url("images/snake_adrb2_human.png") repeat-y right bottom;
    background-size: 25%; 
 /*   background-position: 50% 80%; 
    font-size: 30px;
*/

}

