a, a:hover, a:focus {
  color: #BF3C1F;
}

.btn{
  font-size:18px;
}

.btn-default{
  border-color: #BF3C1F;
}

.btn-default:hover{
  border: solid 1px #171010;
  background-color: #e8e5e5;
}

.btn-danger{
  font-weight: bold;
  color:white;
  background-color: #BF3C1F;
  border: solid 2px #171010;
}

.btn-danger:hover {
  font-weight: bold;
  color:#171010;
  background-color: white;
  border: solid 2px #BF3C1F;
}

.btn-info, .btn-primary, .btn-success{
  font-weight: bold;
  color:#BF3C1F;
  border: solid 2px #BF3C1F;
  background-color: white;
}

.btn-info:hover, .btn-primary:hover, .btn-success:hover {
  font-weight: bold;
  border: solid 2px #171010;
  background-color: white;
  color: #171010;
}

.panel-primary {
  border-color: #BF3C1F;
}

.tooltip-arrow {
  display:none;

}
#view_screen .tooltip-arrow {
  display:block;
}

.popover{
  font-size:12px;
  width:120px;
}

.boldText{
  font-weight: bolder;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #e6e6e6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
 /* background: #4CAF50;*/
  cursor: pointer;
}

/*.slide_container_volmap{
  width:30%;
}*/

.slider_volmap {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #e6e6e6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
}

.slider_volmap:hover {
  opacity: 1;
}

.slider_volmap::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3278B4;
  cursor: pointer;
}

.slider_volmap::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3278B4;
  cursor: pointer;
}

#onclickshowdropd{
    min-width:134px !important; 
}

.btn-default.changefocus:focus:not(.active):not(:hover){
    background-color:#FFFFFF !important;
}

.btn-default.changefocus:hover{
    background-color:#f2f2f2 !important;
}
/*.btn-danger.changefocus:focus:hover{
    background-color:#C9302C !important;
}*/

.falselist{
    margin-bottom:4px;
    padding-left:15px;
}

.nav-tabs > li.active > a{
    background-color:#F3F3F3 !important; 
}
.gpcrbold{
    font-weight: bold;
}

.dropbtn:not(.freedef) {
    border: none;
    background-color: #00d215;
    width:16px; 
    height: 16px;
    cursor: pointer;
    padding:0;
}

.dropbtn.freedef {
    border: none;
    width:16px; 
    height: 16px;
    cursor: pointer;
    padding:0;
}

.dropdown {
    cursor: pointer;
    /*margin-top:7px;
    margin-left:3px;*/

}

.dropdown-content {
  width:100%;
    display: none;
    position: absolute;
    z-index: 1;
}

.scrolldowndiv{
    overflow-y:auto;
    max-height:300px;
    overflow-x:hidden;
    width: 100%;
}

/*.dropdown:hover .dropdown-content {
    display: block;
}*/

#content{
    width:100%;
}

.fp_display_element_type.is_active{
  background-color:#bfbfbf;
}

.fpShowResSet{
    margin-top:15px;
    font-size:12px;    
    padding-right:3px;
    padding-left:3px;
}

.button_color_water{
  height:19;
  width:35;
}

#inner_remaining{
/* position: fixed;  */
top: 155px; /*Set top value to HeightOfTopFrameDiv*/
margin:auto;
bottom: 0px; /*Set bottom value to HeightOfBottomFrameDiv*/
width: 100%;
/* padding-right:60px */
}

#allFPoptions .fp_int_type {
  cursor:pointer;
}

#allFPoptions .fp_int_type.is_active {
  background-color:#bfbfbf;
}

#allFPoptions .fp_int_type.disabled {
  color:lightgray;
  cursor:default;
}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    height:fit-content;
    font-size:12px;
  }
.dropdown-submenu:hover>.dropdown-menu{
  display:block;
    }
.dropdown-submenu>a:after{
  display:block;
    content:" ";
    float:right;
    border-color:transparent;
    border-style:solid;
    border-width:4px 0 4px 4px;
    border-left-color:black;
    margin-top:5px;
    margin-right:-10px;
    }
.dropdown-submenu:hover>a:after{
  border-left-color:#cccccc;
    }
.fp_int_type_info_p{
  margin-bottom: 0;
  font-size:15px;
}

.howtoparent{
  float:right;
  /*position:absolute; */
    right: 45px;
  margin-top: -40px;
  margin-bottom: 7px;
}

.howtobtn{
    width: 52px;
    height: 52px;
    font-size:10px;
    font-weight: bold;
    display: inline-block;
    line-height: 11px;
    margin: 0 auto;
    padding: 0;
    padding-top: 8px;
    text-align: center;
    border-radius:100px;
    color:#4d4d4d;
}

#aroundtitle{
  width: calc(100% - 52px)
}


#loading_fp{
  /*display:none;
  position:absolute;*/
  margin: auto; 
  left: 0;
  right: 0; 
  text-align: center;
}

.cs_selectpicker{
  width:30px;
  padding-left:7px;
}

.remove_icon_btn{
    color:#DC143C;
    margin-bottom:0;
    padding:0
}


ul.dropdown-menu.inner{
  max-height: 100px !important;
  overflow-y: auto;
}

.table-borderless tr, .table-borderless td, .table-borderless th {
    border: none !important;
}

.info_text{
  color:#808080;
}

.alert_custom{
  border: 1px solid  #bfbfbf;
  border-radius: 2px;
  background-color: white;
  display:inline-block;
  padding:5px;
  margin:5px 5px 0 0;
}
.alert_custom > .glyphicon-remove{
  position:relative;
  font-size:10px;
  color:#a6a6a6;
  cursor: pointer;
}

.alert_custom > div{
  margin:0;
  padding:0 20px 0px 5px;
}

.smalltable{
  font-size:12px;
}
#analysis_variants_table_wrapper{
  font-size:12px;
}

.basictooltip{
  font-size:15px;
}

.my_glyphicon_btn{
  color: rgb(88, 88, 88);
  cursor: pointer;
}

.my_glyphicon_btn:hover{
  color:black;
}


.tab_list {
  margin-bottom: 15px;
}

.cs_title {
  font-weight: bold;
}

.cs_subtitle {
  font-style: italic;
  font-size: initial;
}

#cs_apply {
  font-weight: bold; 
  margin-bottom: 20px;
}

.clear_auto {
  color:#DC143C;
  display:none;
  padding-left:0
}

#cs_chart_satom {
  overflow-x: scroll;
}

.img_csloading .img_acloading {
  width:100px;
  height:100px;
  margin-top:70px;
}

#cs_chart_satom .bk-noUi-horizontal, #same_atom_name, .cs_loading, .ac_loading, #ac_nofile {
  display: none;
}

#error_cs_2d {
  margin:10px 0;
  display: none;
}

.btnsel_div {
 margin-bottom: 20px;
 margin-top: 20px;
}

.btn-square-md {
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 0px;
}

.cs_frames_input {
  width:50px !important; 
  padding-left:7px;
  margin-bottom:5px
}

.cs_option  {
  width: 100%;
  padding-left: 15px;
  font-weight: normal !important;
}

.active-btn {
  border-width: 3px;
  border-color: darkgrey;
}

.arrow_down {
  float:right;
  margin-right:5px;
}

/*Allosteric analysis*/
#analysis_ac {
  margin-top:10px;
  margin-bottom:15px;
}

.section_pan {
  cursor:pointer;
  padding:10px 10px 5px 10px;
  background-color:#ffffff;
  border-bottom:1px solid #b3b2b2;
  border-radius:0;
}
.ac_base_menu {
  margin-bottom: 5px;
  width: 200px
}

.ac_submenu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.ac_btn {
  width: 155%;
  margin-bottom: 2px;
  font-size: 18px;
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
}

.ac_option {
  cursor:pointer;
  width: 100%;
}

.ac_inoption {
  margin-bottom: 0px !important
}

.ac_li {
  padding:0px 5px 0px 5px;

}

.ac_option:hover {
  background-color: rgb(242, 242, 242);;
}

label.ac_option {
    font-weight: normal !important;
}

.ac_option_sel {
  background-color:  rgb(191, 191, 191);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.slider_ac {
  max-width:150px;
  display:inline-block;
  float:left;
  margin-left:-30px
}

#slider_val_ac {
  width:20px;
  display:inline;
  float:left
}

#ac_results {
  display: none;
}

#ac_placeholder {
  height: 180px
}

.ac_legend {
  margin-top: 56px;
  display: none;
  width: 100px;
}


.ac_legend_number {
  position: absolute;

}

.ac_legendbar, .ac_legend_numbers {
  height: 180px;
}

.ac_legend_min {
  top: 85%;
  text-align: right;
}

.ac_legend_int {
  top: 45%;
  text-align: center;
}

.ac_legend_max {
  top: 0%;
  text-align: right;
}

.bl {
  background: #5294bc; 
}

.ylwtbl {
  background: #5294bc; /* Old browsers */
  background: -moz-linear-gradient(bottom,  #fced36 0%, #ffffff 50%, #5294bc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom,  #fced36 0%,#ffffff 50%,#5294bc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top,  #fced36 0%,#ffffff 50%,#5294bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fced36', endColorstr='#5294bc',GradientType=1 ); /* IE6-9 */  
}

.wtbl {
  background: #5294bc; /* Old browsers */
  background: -moz-linear-gradient(bottom, #f7fbff 0%, #6baed6 50%, #08306b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #f7fbff 0%, #6baed6 50%, #08306b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #f7fbff 0%, #6baed6 50%, #08306b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbff', endColorstr='#08306b',GradientType=1 ); /* IE6-9 */  
}

.wtyl {
  background: #fced36; /* Old browsers */
  background: -moz-linear-gradient(bottom, #fff5eb 0%, #fd8d3c 50%, #7f2704 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #fff5eb 0%, #fd8d3c 50%, #7f2704 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #fff5eb 0%, #fd8d3c 50%, #7f2704 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fced36',GradientType=1 ); /* IE6-9 */  
}

.hidden_div {
  display: none;  
}

.error_ac {
  margin:10px 0;
  display: none;
}

.checked {
  box-shadow: 0 0 0 0.4rem rgb(0 123 255 / 50%);
}

.predef_btn {
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.glyphicon{
  top: 4px;
}

.user_info{
  cursor:pointer;
  padding-top: 15px;
  border-bottom: none;
}

.wbtutorial{
  background-color: white;
  color: #171010;
  border: 2px solid #BF3C1F;
  font-size: 18px;
  font-weight: bold;
}

.wbtutorial:hover {
  background-color: #BF3C1F;
  color: white;
  border: 2px solid #171010;
}

.wbpanel{
  border-color: white;
}

.playIcon{
  top:1px;
}

.wbtitle{
  font-size: 30px;
  padding: 1%;
}

.indexBtnSize, .indexOp, button.high_pd{
  font-size:18px;
}


a.cons_nav{
  color: #BF3C1F;
}

a.cons_nav:hover{
  color: #D96B52;
  cursor: pointer;
}

.submenu_btn, .dropdown-header, .dropdown-menu, .tabHeaderVar{
  font-size: 14px;
}

.dwData{
  top: 10px;
}

.boxText{
  margin-top: -10px !important;
}

.cenItems{
  text-align: center;
}

.checTun{
  margin-top:5px;
}

select.tunForm{
  height: 28px;
  font-size: 18px;
}
