<div class="row">
  <div class="col-xs-12" id="doc_col">
    <div class="panel panel-primary" style="margin-bottom:10px">
      <div id="show_hide_info" class="section_pan" data-target="#more_info" data-toggle="collapse" style="cursor:pointer" aria-expanded="true">
        <span id="show_hide_info_text" >Hide info </span><span class="glyphicon arrow glyphicon-chevron-up"></span>
      </div> 
    </div>
    <div class="col-md-12 panel panel-primary collapse in" id="more_info" aria-expanded="true">
      <div class="panel-body">

        <h4 class="doc_title">About the heatmap: </h4>

        <p class="doc_content">This plot compares residue interaction frequency among several GPCR dynamic simulations.</p>

        <p class="doc_content">Interaction frequencies have been calculated with <a href="https://github.com/getcontacts/getcontacts" target="_blank">GetContacts</a> scripts, created by Rasmus Fonseca (fonseca.rasmus@gmail.com) and Anthony Ma (anthonyma27@gmail.com).</p>

        <p class="doc_content"> This scripts consider the interaction frequency as the proportion of frames in which a residue pair is considered to be interacting, according to <a href="./contmaps/interaction_types" target="blank">GetContacts interaction criteria</a>.</p>

        <p class="doc_content"> In base to this frequency values, a dendrogram clustering is computed and displayed using <a href="https://github.com/plotly/plotly.py" target="_blank">plotly</a> python library.  </p>

        <p class="doc_content"> Total interaction frequency reffers to the percentage of frames on which the residue pair is interacting in any of the previous criteria. </p>

        <p class="doc_content">Protein residues are labeled using <a href="http://docs.gpcrdb.org/generic_numbering.html" target="_blank">generic GPCR residue numbers</a> (GPCRdb structure-based numbering). This numbering system differs for each GPCR class, and so a multi-class index has been used on the heatmap's axis. </p>

        <p class="doc_content">Only residue pairs with a minimum of 50% interaction frequency in at least one simulation are displayed. Same-helix interactions are not displayed neither. </p>

        <p class="doc_title">How to use this heatmap: </p>

        <ol>
          <li class="doc_content">Select the type of interaction you want to display in the plot, and click apply to load it. </li>

          <li class="doc_content">Select the number of clusters to display as colors on the dendrogram</li>

          <li class="doc_content">Select the interaction partners of the interactions to be displayed by checking the checkboxes</li>

          <li class="doc_content">Check "Show reversed residue pairs" to display interactions for the reversed residue pair. (Eg: 5x43-7x32 and 7x32-5x43)</li>

        </ol>
        <p class="doc_content">More information from a selected interaction can be displayed by clicking uppon its cell.</p>

        <h4 class="doc_title">About the Top5 flareplots: </h4>

        <p class="doc_content">On these two plots are represented the 5 most frequent interactions (on average) in each of the clusters.</p>

        <p class="doc_content">Each line represents one of the top5 interactions. Its color is based on the average frequency of this interaction in the cluster. The color scale is the same as the heatmap.</p>

        <p class="doc_content">All flareplots were created using <a href="https://github.com/GPCRviz/flareplot">FlarePlots</a>, by Rasmus Fonseca (fonseca.rasmus@gmail.com) and Anthony Ma (anthonyma27@gmail.com).</p>

        <p class="doc_title">How to use these flareplots: </p>

        <ol>
          <li class="doc_content">To select a new cluster to display, use the corresponding dropup under each flareplot. Cluster 1 and Cluster 2 are shown by default. </li>

          <li class="doc_content">To choose the numbering scheme applied in the flareplot interactions, use the corresponding dropup. Both flareplots use class A numbering (Ballesteros-Weinstein) by default.</li>

          <li class="doc_content">To select a position on the flareplot, click on it. If avalible, this position will be displayed on the structure visualizer below.</li>

          <li class="doc_content">Press "show in structure" to disable or reenable the visualization of selected positions.</li>
        </ol>

        <h4 class="doc_title">About the cluster simulation viewers: </h4>

        <p class="doc_content">On these viewers can be visulaized each of the simulations present on the cluster selected in flareplot.</p>

        <p class="doc_content">This visualizers run on <a href="https://github.com/arose/ngl">NGL viewer</a>.</p>

        <p class="doc_title">How to use these viewers: </p>

        <ol>
          <li class="doc_content">Use the top-right dropdown to select the simulation to display. Notice only simulations of the selected cluster are avalible.</li>

          <li class="doc_content">Use the top-left dropdown to select the trajectory file of this simulation to display.</li>

          <li class="doc_content">Press play to reproduce the simulation on the viewer.</li>

          <li class="doc_content">Click on any position in the flareplot to display it on the corresponding protein visualizer.</li>

          <li class="doc_content">For a more detailed visualization of this simulation, click on "open with GPCRmd viewer".</li>
        </ol>

        </p>
      </div>
    </div>
  </div>
</div>