<head>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>document.domain=document.domain;</script>

<!--Jquery things-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

{% extends "home/base.html" %} 
{% load staticfiles %} 
{{staticfiles}}

{% block addon_css %}
<!--Contmaps styles-->
<link rel="stylesheet" type="text/css" href="{% static 'contmaps_main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '../mdsrv/webapp/css/main.css' %}" />
{% endblock %}

</head>
<body>

{% block content %} 
{% csrf_token %}

 <!-- description  -->
 <!-- <div class="panel panel-primary" id="inner_fixed">  
     <div class="panel-body">
        <h2>Receptor meta-analysis</h2>
        <h4>Residue interaction frequency: <span style="font-weight: bold">{{itype_name}}</span></h4>
     </div> 
  </div>

-->


   <div class="panel panel-primary" id="inner_fixed" >  
       <div class="panel-body" id="restricttitlewidth" >
          <div id="aroundtitle">
            <h2>Receptor meta-analysis</h2>
            <h4>Residue interaction frequency: <b>{{itype_name}}</b></h4>
          </div>
        <div class="howtoparent">
            <a href="https://youtu.be/hHaw3SEf-D0" class="btn btn-default btn-sm howtobtn"  target="_blank" role="button" >How to<br>use it<br><span class="glyphicon glyphicon-play" style="font-size:14px"></span></a>
        </div>
       </div> 
   </div>

<div id="inner_remaining" class ="row" >
  <!--Here be dendrogram and heatmaps-->
  <div class="col-xs-12" id="retracting_parts">
    <div class="panel panel-primary" id="main_plot_body">
      <div class="panel-body" >
        <div id="menus" class="container-fluid">
          {% include './contact_maps/menus.html' %}
          {% include './contact_maps/menu_customheatmap.html' %}
        </div>
        <!--Heatmap pager -->
        <div id="heatmap_pager">
          <ul class="pagination" id="pager_list">
            <li class="page-item prev">
              <a class="page-link" aria-label="Previous" onclick="heatmap_change('prev')">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% for number_heatmap in number_heatmaps_list %}
              {% if number_heatmap == number_heatmaps_list.0 %}
              <li class="page-item active" id="heatmap_page_{{number_heatmap}}"><a class="page-link" onclick="heatmap_change( {{number_heatmap}} )">{{number_heatmap}}</a></li>
              {% else %}
              <li class="page-item"  id="heatmap_page_{{number_heatmap}}"><a class="page-link" onclick="heatmap_change( {{number_heatmap}} )">{{number_heatmap}}</a></li>
              {% endif %}
            {% endfor %}
            <li class="page-item next">
              <a class="page-link"  aria-label="Next" onclick="heatmap_change('next')">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
          <canvas width="80" height="255" id="cv"></canvas>
        </div>
        <div id="dendrogram-heatmap" class="row">
          <div id="dendrogram" class="col-xs-4" style="width: 35%">
            {{dendrogram | safe }}
          </div>
          <div id="loading_div" class="col-xs-8">
            <img id="loading_heatmap" src="{% static 'view/images/loading-gear.gif' %}"/>
            <p id="loading_text">Loading {{number_heatmaps_list|length}} heatmaps</p>
          </div>
          {% for number,div in numbered_divs %}
          {% if number == "1" %}
          <div id="heatmap{{number}}" data-number={{number}} class="col-xs-8 heatmap" style="width: 57%; overflow-x: scroll;">
            {{ div | safe }}
          </div>
          {% else %}
          <div id="heatmap{{number}}" data-number={{number}} class="col-xs-8 heatmap" style="width: 57%; display: none; overflow-x: scroll;">
            {{ div | safe }}
          </div>
          {% endif %}
          {% endfor %}
          {% for script in script_list %}
            {{script | safe}}
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="scrolldiv">
      {% for number,width in numbered_divwidths%}
        {% if number == "1" %}
        <div id="scrolldiv_inner{{number}}" class="scrolldiv" style="width: {{width}}; height: 10px;"></div>
        {% else %}
        <div id="scrolldiv_inner{{number}}" class="scrolldiv" style="width: {{width}}; height: 10px; display: none;"></div>
        {% endif %}        
      {% endfor %}
    </div>
  </div>

  <!--Here be side-window (the thing that opens up upon clicking on heatmap)-->
  <div class="col-xs-3" id="info">
    <div id="subinfo" class="panel panel-info">
      <div class="panel-heading" style="">Interaction details
        <button type="button" class="close" aria-label="Close" onclick="closeSideWindow()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body" style="">
        <div style="min-width:100%">
          <!-- Info on clicked dyn -->
          <p><b>Receptor:</b> <span id="recept_val"></span> <a id="recept_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>PDB id:</b> <span id="pdb_id"></span> <a id="pdb_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>Ligand:</b> <span id="lig_val"></span> <a id="lig_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>Positions:</b> <span id="pos_val"></span></p>
          <p><b>Residue types: </b><span id="restypes_val">Not avalible</span></p>

          {% if itype_code == "all" %}
          <p><b>Frequencies by type:</b> </p>
          <ul>
          {% for group, types_tuple in itypes_order %}
            {% for typecode,typename in types_tuple  %}
              {% if typecode == "hb" %}
                <li><p>{{typename}}: <span id="freq_{{typecode}}" ></span></p></li>                  
                <ul>
                {% for hbcode,hbitype in hb_itypes.items %}
                  <li><p>{{hbitype}}: <span id="freq_{{hbcode}}" ></span></p></li> 
                {% endfor %}
                </ul>
              {% else %}
                <li><p>{{typename}}: <span id="freq_{{typecode}}" ></span></p></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
          {% else %}
          <p><b>{{itype_name}} frequency:</b> <span id="freq_{{itype_code}}" ></span></p>
          {% endif %}
          <p><b>Total interaction frequency:</b> <span id="freqtotal_val">%</span></p>
          <a id="viewer_link" href="#" target='_blank' class="btn btn-success btn-sm" role="button"><b>Open with GPCRmd viewer</b></a>

          <!-- Trajectory dropdown -->
          <div class="dropdown blueDropdownDiv" id="trajsDropdown">
            <button  id="trajButton" class="btn btn-info btn-xs dropdown-toggle blueButton" type="button" data-toggle="dropdown">-
            <span class="caret"></span></button>
            <ul id="trajsDropdown_options" class="dropdown-menu">
              <span id="add_traj_options"></span>
            </ul>
          </div>
        
          <!-- Loading div-->
          <span id="loading"><center ><img src="{% static 'view/images/loading-gear.gif' %}" id="loading_NGL_side"/></center></span>
          <!-- iframe for the ngl viewer -->
          <div id="ngl_div">
            <iframe id="ngl_iframe" src="{{mdsrv_url}}/html/embed_contmaps.html" scrolling="no"></iframe>
          </div>
          <div id="posNotinRec" class="alert alert-warning">
            <span id="posNotinRec_text"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" id="not_retracting_parts">

    <!--Here be flareplots and NGLs -->

    <div class="panel panel-primary" id="flare_title">
      <div class="panel-body" id="click_title" data-toggle="collapse" data-target="#flare_col" aria-expanded="false">
        <div class="title_div">
          <h4 class="title">Top5 representative interactions in clusters
            <span id="flare_arrow" class="glyphicon arrow glyphicon-chevron-down "></span>
          </h4>
        </div>
      </div>
    </div>

    <div class="panel panel-primary" style="visibility: hidden; position: absolute;" id="flare_col" data-fpdir="{{fpdir}}">
      <div class="panel-body">

        <center>
          <h4>Please, select two of the clusters of the dendrogram above to compare its main 5 interactions</h4>
        </center>

        <div id="fpdiv0" class="col-xs-6 fpdiv">
          <center>
            
            <!--Flareplot toolbar-->
            <div id="allFPoptions" class="showIfTrajFP">
              <button id="FPdisplay0" class="btn btn-default active changefocus FP-button" title="Show/Hide structural representations of the residues selected at the plot." type="button">
              Show in structure
              </button>
              
              <div class="clusters_dropup-div">
                <button id="clusterbutton0" class="btn btn-default dropdown-toggle changefocus FP-button" type="button" data-toggle="dropdown"> 
                  Cluster 1 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu clusters_dropup-ul">
                  {% for clus in clusrange %}
                  {% if clus == 1 %}
                  <li id="fp0_cluster{{clus}}" class="fp_display_element is_active" data-tag={{clus}} title="Display all interactions.">Cluster {{clus}}</li>
                  {% else %}
                  <li id="fp0_cluster{{clus}}" class="fp_display_element" data-tag={{clus}} title="Display all interactions.">Cluster {{clus}}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>

              <div class="numbering_dropup-div">
                <button id="numberbutton0" class="btn btn-default dropdown-toggle changefocus FP-button" type="button" data-toggle="dropdown">
                  Class A numbering <span class="caret"></span>
                </button>
                <ul class="dropdown-menu numbering_dropup-ul">
                  <li id="fp_nomenA" class="fp_display_element is_active" data-tag="A" title="Ballesteros-Weinstein numbering system">Class A numbering</li> 
                  <li id="fp_nomenB" class="fp_display_element" data-tag="B" title="Wootten numbering system">Class B numbering</li> 
                  <li id="fp_nomenC" class="fp_display_element" data-tag="C" title="Pin numbering system">Class C numbering</li> 
                  <li id="fp_nomenF" class="fp_display_element" data-tag="F" title="Wang numbering system">Class F numbering</li> 
                </ul>
              </div>

              <button id="FPclearSel0" class="btn btn-danger FP-button" type="button" title="Unselect all interactions from the plot.">
                Clear plot
              </button>
            </div>

            <span>
              <center id="loading_flare0" class="loading_flare">
                <img src="/static/view/images/loading-gear.gif">
              </center>
            </span>
            <div id="flare-container0" class="flare-container"></div>

          </center>
        </div>
     
        <div id="fpdiv1" class="col-xs-6 fpdiv" data-fpdir="{{fpdir}}">
          <center>
            
            <!--Flareplot toolbar-->
            <div id="allFPoptions" class="showIfTrajFP">
              <button id="FPdisplay1" class="btn btn-default active changefocus FP-button" title="Show/Hide structural representations of the residues selected at the plot." type="button">
              Show in structure
              </button>

              <div class="clusters_dropup-div">
                <button id="clusterbutton1" class="btn btn-default dropdown-toggle changefocus FP-button" type="button" data-toggle="dropdown"> 
                  Cluster 2 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu clusters_dropup-ul">
                  {% for clus in clusrange %}
                  {% if clus == 2 %}
                  <li id="fp1_cluster{{clus}}" class="fp_display_element is_active" data-tag={{clus}} title="Display 5 main interactions of cluster {{clus}}.">Cluster {{clus}}</li>
                  {% else %}
                  <li id="fp1_cluster{{clus}}" class="fp_display_element" data-tag={{clus}} title="Display 5 main interactions of cluster {{clus}}.">Cluster {{clus}}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="numbering_dropup-div">
                <button id="numberbutton1" class="btn btn-default dropdown-toggle changefocus FP-button" type="button" data-toggle="dropdown">
                  Class A numbering <span class="caret"></span>
                </button>
                <ul class="dropdown-menu numbering_dropup-ul">
                  <li id="fp_nomenA" class="fp_display_element is_active" data-tag="A" title="Ballesteros-Weinstein numbering system">Class A numbering</li> 
                  <li id="fp_nomenB" class="fp_display_element" data-tag="B" title="Wootten numbering system">Class B numbering</li> 
                  <li id="fp_nomenC" class="fp_display_element" data-tag="C" title="Pin numbering system">Class C numbering</li> 
                  <li id="fp_nomenF" class="fp_display_element" data-tag="F" title="Wang numbering system">Class F numbering</li> 
                </ul>
              </div>

              <button id="FPclearSel1" class="btn btn-danger FP-button" type="button" title="Unselect all interactions from the plot.">
                Clear plot
              </button>
            </div>

            <span>
              <center id="loading_flare1" class="loading_flare">
                <img src="/static/view/images/loading-gear.gif">
              </center>
            </span>

            <div id="flare-container1" class="flare-container"></div>

          </center>
        </div>
        
        <div id="ngldiv0" class="col-xs-6 ngldiv">

          <div class="container-fluid NGLtoolbar" >
            <div class="row NGLtoolbar_row">
              <div id="trajsDropdown0" class="col-xs-6 dropdown blueDropdownDiv traj_select">
                <button id="trajButton0" class="btn btn-info btn-xs dropdown-toggle blueButton" type="button" data-toggle="dropdown">
                <span class="caret"></span></button>
                <ul class="dropdown-menu blueList trajList">
                  <span id="add_traj_bottom0"></span>
                </ul>
              </div>               
              <div class="col-xs-6 dropdown blueDropdownDiv" id="simulation_select">
                <button id="simButton0" class="btn btn-info btn-xs dropdown-toggle pull-right blueButton" type="button" data-toggle="dropdown" data-dynid="{{clustdict.cluster1.0}}" aria-expanded="false"><span class="caret"></span></button>
                <ul class="dropdown-menu blueList simList">
                  <span id="add_sim_bottom0"></span>
                </ul>
              </div>
            </div>  
            <div class="row NGLtoolbar_row">
              <div class="col-xs-12">
                <a id="viewer_link_bottom0" href="#" target='_blank' class="btn btn-success btn-sm viewer_link_bottom" role="button"><b>Open with GPCRmd viewer</b></a>
              </div>
            </div>  
          </div>

          <span id="loading_ngl0"><img src="{% static 'view/images/loading-gear.gif' %}" class="loading_NGL_bottom"/></span>
          <iframe id="ngl_iframe0" data-mdsrv_url={{mdsrv_url}} src="{{mdsrv_url}}/html/embed_contmaps_bottom.html" data-number="0" data-itype={{itype_code}} data-ligandonly={{ligandonly}} data-cluster={{cluster}} scrolling="no" height="500px" width="100%"></iframe>
          <div id="posNotinRec0" class="alert alert-warning posNotinRec">
            <span id="posNotinRec_text0"></span>
          </div>
          <button  class="btn btn-danger btn-xs NGLclear">Clear All</button>
        </div>

        <div id="ngldiv1" class="col-xs-6 ngldiv">

          <div class="container-fluid NGLtoolbar" >
            <div class="row NGLtoolbar_row">
              <div id="trajsDropdown1" class="col-xs-6 dropdown blueDropdownDiv traj_select">
                <button id="trajButton1" class="btn btn-info btn-xs dropdown-toggle blueButton" type="button" data-toggle="dropdown">
                <span class="caret"></span></button>
                <ul class="dropdown-menu blueList trajList">
                  <span id="add_traj_bottom1"></span>
                </ul>
              </div>               
              <div class="dropdown blueDropdownDiv" id="simulation_select">
                <button id="simButton1" class="btn btn-info btn-xs dropdown-toggle pull-right blueButton" type="button" data-toggle="dropdown" data-dynid="{{clustdict.cluster2.0}}" aria-expanded="false"><span class="caret"></span></button>
                <ul class="dropdown-menu blueList simList">
                  <span id="add_sim_bottom0"></span>
                </ul>
              </div>
            </div>
            <div class="row NGLtoolbar_row">
              <div class="col-xs-12">
                <a id="viewer_link_bottom1" href="#" target='_blank' class="btn btn-success btn-sm viewer_link_bottom" role="button"><b>Open with GPCRmd viewer</b></a>
              </div>
            </div>  
          </div>

          <span id="loading_ngl1"><img src="{% static 'view/images/loading-gear.gif' %}" class="loading_NGL_bottom"/></span>
          <iframe id="ngl_iframe1" data-mdsrv_url={{mdsrv_url}} src="{{mdsrv_url}}/html/embed_contmaps_bottom.html" data-number="1" data-itype={{itype_code}} data-ligandonly={{ligandonly}} data-cluster={{cluster}} data-stnd={{stnd}} scrolling="no" height="500px" width="100%"></iframe>
          <div id="posNotinRec1" class="alert alert-warning posNotinRec">
            <span id="posNotinRec_text1"></span>
          </div>
          <button  class="btn btn-danger btn-xs NGLclear">Clear All</button>
        </div>  

      </div>
    </div>
    <!--Load documentation div-->
    {% include './contact_maps/docs.html' %}
  </div>

</div>


{% endblock content %} 


{% block addon_js %} 
<!--Contmaps javascripts -->
<script src="{% static 'contmaps_main.js' %}"></script>
<script src="{% static 'emb_crossgpcr.js' %}"></script>

<!--Flareplots -->
<link rel="stylesheet" type="text/css" href="{% static 'flareplot-custom.css' %}" />
<script src="{% static 'view/fplot2/d3.v3.min.js' %}"></script>
<script src="{% static 'view/fplot2/docs/js/flareplot-main.js' %}"></script><!-- D:< -->
<script src="{% static 'flareplots.js' %}"></script>

<!-- Bokeh -->
<link href="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
{% endblock %}

</body>