<head>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>document.domain=document.domain;</script>

<!--Bootstrap things-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!--Load javascripts -->
<script src="../static/contmaps_main.js"></script>

{% extends "home/base.html" %} 
{% load staticfiles %} 
{{staticfiles}}

{% block addon_css %}
<base href="/">
<!--Bootstrap -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--Personal styles-->
<link rel="stylesheet" type="text/css" href="../static/contmaps_main.css">
<link rel="stylesheet" href="../mdsrv/webapp/css/main.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>


{% endblock %}

</head>
<body>

{% block content %} 
{% csrf_token %}

 <!-- description  -->
<div id="outer" class="col-xs-12">
  <div class=" panel panel-primary" id="inner_fixed">  
     <div class="panel-body">
        <h3>Residue interaction frequency: {{itype_name}}</h3>
     </div> 
  </div>
</div>

<div id="inner_remaining" class ="row" >
  <!--Here be dendrogram and heatmap-->
  <div class="col-xs-12" id="retracting_parts">
    <div class="panel panel-primary" id="main_plot_body">
      <span><img id="loading_heatmap" src="{% static 'view/images/loading-gear.gif' %}"/></span>
      <div class="panel-body" >
        {% include './contact_maps/menus.html' %}
        <div id="dendrogram-heatmap" class="row">
          <div id="dendrogram" class="col-xs-4" style="width: 37%">
            {{dendrogram | safe }}
          </div>
          <div id="heatmap" class="col-xs-8" style="width: 63%; overflow-x: scroll;">
            {{ div | safe }}
          </div>
        </div>
      </div>
    </div>
    <div id="scrolldiv">
      <div id="scrolldiv_inner" style="width: {{scrolldiv_width}}; height: 10px;"></div>
    </div>
  </div>

  <!--Here be side-window (the thing that opens up upon clicking on heatmap)-->
  <div class="col-xs-3" id="info">
    <div class="panel panel-info" style="height:100%; position: relative; overflow-y: auto; overflow-x: auto;">
      <div class="panel-heading" style="">Interaction details
        <button type="button" class="close" aria-label="Close" onclick="closeSideWindow()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body" style="">
        <div style="min-width:350px">
          <!-- Info on clicked dyn -->
          <p><b>Receptor:</b> <span id="recept_val"></span> <a id="recept_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>PDB id:</b> <span id="pdb_id"></span> <a id="pdb_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>Ligand:</b> <span id="lig_val"></span> <a id="lig_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>Positions:</b> <span id="pos_val"></span></p>
          <p><b>Residue types: </b><span id="restypes_val">Not avalible</span></p>

          {% if itype_code == "all" %}
          <p><b>Frequencies by type:</b> </p>
          <ul>
          {% for group, types_tuple in itypes_order %}
            {% for typecode,typename in types_tuple  %}
              {% if typecode == "hb" %}
                <li><p>{{typename}}: <span id="freq_{{typecode}}" ></span></p></li>                  
                <ul>
                {% for hbcode,hbitype in hb_itypes %}
                  <li><p>{{hbitype}}: <span id="freq_{{hbcode}}" ></span></p></li> 
                {% endfor %}
                </ul>
              {% else %}
                <li><p>{{typename}}: <span id="freq_{{typecode}}" ></span></p></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
          {% else %}
          <p><b>{{itype_name}} frequency:</b> <span id="freq_{{itype_code}}" ></span></p>
          {% endif %}
          <p><b>Total interaction frequency:</b> <span id="freqtotal_val">%</span></p>
          <a id="viewer_link" href="#" target='_blank' class="btn btn-success btn-sm" role="button"><b>Open with GPCRmd viewer</b></a>

          <!-- Trajectory dropdown -->
          <div class="dropdown blueDropdownDiv">
            <button  id="selectedTraj" class="btn btn-info btn-xs dropdown-toggle blueButton" type="button" data-toggle="dropdown">-
            <span class="caret"></span></button>
            <ul id="trajsDropdown_options" class="dropdown-menu">
              <span id="add_traj_options"></span>
            </ul>
          </div>
        
          <!-- Loading div-->
          <span id="loading"><center ><img src="{% static 'view/images/loading-gear.gif' %}" id="loading_NGL_side"/></center></span>
          <!-- iframe for the ngl viewer -->
          <div id="ngl_div"  style="width:350px;height:350px;margin:auto;">
            <iframe style="border:none; position:relative;"  id="ngl_iframe" src="{{mdsrv_url}}/html/embed_contmaps.html" scrolling="no" height="348px" width="348px"></iframe>
          </div>
          <div id="posNotinRec" class="alert alert-warning">
            <span id="posNotinRec_text"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" id="not_retracting_parts">

    <!--Here be flareplots -->
    <div class="panel panel-primary" id="flare_col"  data-fpdir="{{fpdir}}">
      <div class="panel-body">
        <div class="title_div" data-bind_domain="" data-presel_pos="">
          <h4 class="title">Top5 representative interactions in cluster</h4>
        </div>

        <div id="fpdiv0" class="col-xs-5 fpdiv">
          <center>
            <span>
              <center id="loading_flare0" class="loading_flare">
                <img src="/static/view/images/loading-gear.gif">
              </center>
            </span>
            <div id="flare-container0" class="flare-container"></div>
            
            <!--Flareplot toolbar-->
            <span id="allFPoptions" class="showIfTrajFP">
              <button id="FPdisplay0" class="btn btn-default active changefocus FP-button" title="Show/Hide structural representations of the residues selected at the plot." type="button">
              Show in structure
              </button>
              
              <div class="dropup clusters_dropup-div">
                <button id="clusterbutton0" class="btn btn-default dropdown-toggle changefocus FP-button" type="button" data-toggle="dropdown"> 
                  Cluster 1 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu clusters_dropup-ul">
                  {% for clus in clusrange %}
                  {% if clus == 1 %}
                  <li id="fp0_cluster{{clus}}" class="fp_display_element is_active" data-tag={{clus}} title="Display all interactions.">Cluster {{clus}}</li>
                  {% else %}
                  <li id="fp0_cluster{{clus}}" class="fp_display_element" data-tag={{clus}} title="Display all interactions.">Cluster {{clus}}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>

              <button id="FPclearSel0" class="btn btn-danger FP-button" type="button" title="Unselect all interactions from the plot.">
                Clear plot
              </button>
            </span>

          </center>
        </div>

        <div id="fpdivlegend" class="my-legend col-xs-2">
            <div class='legend-title'>Colors for each GPCR structure</div>
            <div class='legend-scale'>
              <ul class='legend-labels'>
                <li><span class="Legend-element" id="trackElement-Ligand"></span>Ligand</li>
                <li><span class="Legend-element" id="trackElement-1x" ></span>TM1</li>
                <li><span class="Legend-element" id="trackElement-12x" ></span>IC1</li>
                <li><span class="Legend-element" id="trackElement-2x" ></span>TM2</li>
                <li><span class="Legend-element" id="trackElement-23x" ></span>EC1</li>
                <li><span class="Legend-element" id="trackElement-3x" ></span>TM3</li>
                <li><span class="Legend-element" id="trackElement-34x" ></span>IC2</li>
                <li><span class="Legend-element" id="trackElement-4x" ></span>TM4</li>
                <li><span class="Legend-element" id="trackElement-45x" ></span>EC2</li>
                <li><span class="Legend-element" id="trackElement-5x" ></span>TM5</li>
                <li><span class="Legend-element" id="trackElement-56x" ></span>IC3</li>
                <li><span class="Legend-element" id="trackElement-6x" ></span>TM6</li>
                <li><span class="Legend-element" id="trackElement-67x" ></span>EC3</li>
                <li><span class="Legend-element" id="trackElement-7x" ></span>TM7</li>
                <li><span class="Legend-element" id="trackElement-8x" ></span>H8</li>
              </ul>
            </div>
        </div>

        <div id="fpdiv1" class="col-xs-5 fpdiv" data-fpdir="{{fpdir}}">
          <center>

            <span>
              <center id="loading_flare1" class="loading_flare">
                <img src="/static/view/images/loading-gear.gif">
              </center>
            </span>

            <div id="flare-container1"></div>
            
            <!--Flareplot toolbar-->
            <span id="allFPoptions" class="showIfTrajFP">
              <button id="FPdisplay1" class="btn btn-default active changefocus FP-button" title="Show/Hide structural representations of the residues selected at the plot." type="button">
              Show in structure
              </button>

              <div class="dropup clusters_dropup-div">
                <button id="clusterbutton1" class="btn btn-default dropdown-toggle changefocus FP-button" type="button" data-toggle="dropdown"> 
                  Cluster 2 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu clusters_dropup-ul">
                  {% for clus in clusrange %}
                  {% if clus == 2 %}
                  <li id="fp1_cluster{{clus}}" class="fp_display_element is_active" data-tag={{clus}} title="Display all interactions.">Cluster {{clus}}</li>
                  {% else %}
                  <li id="fp1_cluster{{clus}}" class="fp_display_element" data-tag={{clus}} title="Display all interactions.">Cluster {{clus}}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>

              <button id="FPclearSel1" class="btn btn-danger FP-button" type="button" title="Unselect all interactions from the plot.">
                Clear plot
              </button>
            </span>

          </center>
        </div>

      </div>
    </div>
  
    <!--Here be NGL viewers-->
    <div class="panel panel-primary" id="NGL_col"  data-fpdir="{{fpdir}}">
      <div class="panel-body">
        <div class="title_div" data-bind_domain="" data-presel_pos="">
          <h4 class="title">Cluster Simulation Viewers</h4>
        </div>
        
        <div id="ngldiv0" class="col-xs-6 ngldiv">

          <div class="container-fluid NGLtoolbar" >
            <div class="row NGLtoolbar_row">
              <div id="trajsDropdown0" class="dropdown blueDropdownDiv traj_select">
                <button id="trajButton0" class="btn btn-info btn-xs dropdown-toggle blueButton" type="button" data-toggle="dropdown">
                <span class="caret"></span></button>
                <ul class="dropdown-menu blueList trajList">
                  <span id="add_traj_bottom0"></span>
                </ul>
              </div>               
              <div class="dropdown blueDropdownDiv" id="simulation_select">
                <button id="simButton0" class="btn btn-info btn-xs dropdown-toggle pull-right blueButton" type="button" data-toggle="dropdown" data-dynid="{{clustdict.cluster1.0}}" aria-expanded="false"><span class="caret"></span></button>
                <ul class="dropdown-menu blueList simList">
                  <span id="add_sim_bottom0"></span>
                </ul>
              </div>
            </div>  
            <div class="row NGLtoolbar_row">
              <a id="viewer_link_bottom0" href="#" target='_blank' class="btn btn-success btn-sm viewer_link_bottom" role="button"><b>Open with GPCRmd viewer</b></a>
            </div>  
          </div>

          <span id="loading_ngl0"><img src="{% static 'view/images/loading-gear.gif' %}" class="loading_NGL_bottom"/></span>
          <iframe id="ngl_iframe0" data-mdsrv_url={{mdsrv_url}} src="{{mdsrv_url}}/html/embed_contmaps_bottom.html" data-number="0" data-itype={{itype_code}} data-ligandonly={{ligandonly}} data-cluster={{cluster}} scrolling="no" height="500px" width="100%"></iframe>
          <div id="posNotinRec0" class="alert alert-warning posNotinRec">
            <span id="posNotinRec_text0"></span>
          </div>
          <button  class="btn btn-danger btn-xs NGLclear">Clear All</button>
        </div>

        <div id="ngldiv1" class="col-xs-6 ngldiv">

          <div class="container-fluid NGLtoolbar" >
            <div class="row NGLtoolbar_row">
              <div id="trajsDropdown1" class="dropdown blueDropdownDiv traj_select">
                <button id="trajButton1" class="btn btn-info btn-xs dropdown-toggle blueButton" type="button" data-toggle="dropdown">
                <span class="caret"></span></button>
                <ul class="dropdown-menu blueList trajList">
                  <span id="add_traj_bottom1"></span>
                </ul>
              </div>               
              <div class="dropdown blueDropdownDiv" id="simulation_select">
                <button id="simButton1" class="btn btn-info btn-xs dropdown-toggle pull-right blueButton" type="button" data-toggle="dropdown" data-dynid="{{clustdict.cluster2.0}}" aria-expanded="false"><span class="caret"></span></button>
                <ul class="dropdown-menu blueList simList">
                  <span id="add_sim_bottom0"></span>
                </ul>
              </div>
            </div>  
            <div class="row NGLtoolbar_row">
              <a id="viewer_link_bottom1" href="#" target='_blank' class="btn btn-success btn-sm viewer_link_bottom" role="button"><b>Open with GPCRmd viewer</b></a>
            </div>  
          </div>

          <span id="loading_ngl1"><img src="{% static 'view/images/loading-gear.gif' %}" class="loading_NGL_bottom"/></span>
          <iframe id="ngl_iframe1" data-mdsrv_url={{mdsrv_url}} src="{{mdsrv_url}}/html/embed_contmaps_bottom.html" data-number="1" data-itype={{itype_code}} data-ligandonly={{ligandonly}} data-cluster={{cluster}} scrolling="no" height="500px" width="100%"></iframe>
          <div id="posNotinRec1" class="alert alert-warning posNotinRec">
            <span id="posNotinRec_text1"></span>
          </div>
          <button  class="btn btn-danger btn-xs NGLclear">Clear All</button>
        </div>  

      </div>
    </div>
    <!--Load documentation div-->
    {% include './contact_maps/docs.html' %}
  </div>

</div>


{% endblock content %} 


{% block addon_js %} 
<script src="{% static 'gpcrome/emb_crossgpcr.js' %}"></script>

<!--Flareplots -->
<link rel="stylesheet" type="text/css" href="{% static 'flareplot-custom.css' %}" />
<script src="{% static 'view/fplot2/d3.v3.min.js' %}"></script>
<script src="{% static 'view/fplot2/docs/js/flareplot-main.js' %}"></script><!-- D:< -->
<script src="../static/flareplots.js"></script>

<!-- Bokeh -->
<link href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
{{ script | safe }}
{% endblock %}

</body>