<head>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>document.domain=document.domain;</script>

<!--Bootstrap things-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!--Load javascripts -->
<script src="../static/contmaps_main.js"></script>

{% extends "home/base.html" %} 
{% load staticfiles %} 
{{staticfiles}}

{% block addon_css %}
<base href="/">
<!--Bootstrap -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--Personal styles-->
<link rel="stylesheet" type="text/css" href="../static/contmaps_main.css">
<link rel="stylesheet" href="../mdsrv/webapp/css/main.css" />

{% endblock %}

</head>
<body>

{% block content %} 
{% csrf_token %}

 <!-- description  -->
<div id="outer" class="col-xs-12">
  <div class=" panel panel-primary" id="inner_fixed">  
     <div class="panel-body">
        <h3>Residue interaction frequency: {{itype_name}}</h3>
     </div> 
  </div>
</div>

<div id="inner_remaining" class ="row" >
  <!--Here be dendrogram and heatmap-->
  <div class="col-xs-12" id="retracting_parts" style="padding-bottom:10px">
    <div class="panel panel-primary" id="main_plot_body">
      <div class="panel-body" >
        {% include './contact_maps/menus.html' %}
        <div id="dendrogram-heatmap" class="row">
          <div id="dendrogram" class="col-xs-3">
            {{dendrogram | safe }}
          </div>
          <div id="heatmap" class="col-xs-1" style="max-width:{{plotdiv_w}}px;">
            <span id="loading"><center ><img id="loading_heatmap" src="{% static 'view/images/loading-gear.gif' %}"/></center></span>
            {{ div | safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Here be side-window (the thing that opens upon clicking on heatmap)-->
  <div class="col-xs-3" id="info">
    <div class="panel panel-info" style="height:100%; position: relative; overflow-y: auto; overflow-x: auto;">
      <div class="panel-heading" style="">Interaction details
        <button type="button" class="close" aria-label="Close" onclick="closeSideWindow()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body" style="">
        <div style="min-width:350px">
          <!-- Info on clicked dyn -->
          <p><b>Receptor:</b> <span id="recept_val"></span> <a id="recept_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>PDB id:</b> <span id="pdb_id"></span> <a id="pdb_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>Ligand:</b> <span id="lig_val"></span> <a id="lig_link" href="#" target='_blank' class="btn btn-link btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> info</a></p>
          <p><b>Positions:</b> <span id="pos_val"></span></p>

          {% if itype_code == "all" %}
          <p><b>Frequencies by type:</b> </p>
          <ul>
          {% for group, types_tuple in itypes_order %}
            {% for typecode,typename in types_tuple  %}
              {% if typecode == "hb" %}
                <li><p>{{typename}}: <span id="freq_{{typecode}}" ></span></p></li>                  
                <ul>
                {% for hbcode,hbitype in hb_itypes %}
                  <li><p>{{hbitype}}: <span id="freq_{{hbcode}}" ></span></p></li> 
                {% endfor %}
                </ul>
              {% else %}
                <li><p>{{typename}}: <span id="freq_{{typecode}}" ></span></p></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
          {% else %}
          <p><b>{{itype_name}} frequency:</b> <span id="freq_{{itype_code}}" ></span></p>
          {% endif %}
          <p><b>Total interaction frequency:</b> <span id="freqtotal_val">%</span></p>
          <a id="viewer_link" href="#" target='_blank' class="btn btn-success btn-sm" role="button"><b>Open with GPCRmd viewer</b></a>

          <!-- Traj dropdown -->
          <div id="trajsDropdown" class="dropdown" style="position:absolute;z-index:10;visibility:hidden">
            <button id="selectedTraj" class="btn btn-info btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left:3px;margin-top:7px" >-
            <span class="caret"></span></button>
            <ul id="trajsDropdown_options" class="dropdown-menu">
              <span id="add_traj_options"></span>
            </ul>
          </div>
        
          <!-- Loading div-->
          <span id="loading"><center ><img src="{% static 'view/images/loading-gear.gif' %}" id="loading_NGL"/></center></span>
          <!-- iframe to ngl -->
          <div id="ngl_div"  style="width:350px;height:350px;margin:auto;">
            <iframe style="border:none; position:relative;"  id="ngl_iframe" src="{{mdsrv_url}}/html/embed_contmaps.html" scrolling="no" height="348px" width="348px"></iframe>
          </div>
          <div id="posNotinRec" class="alert alert-warning">
            <span id="posNotinRec_text"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" id="not_retracting_parts">
    <div class="panel panel-primary" id="flare_col"  data-fpdir="{{fpdir}}">
      <div class="panel-body">
        <div class="title_div" data-bind_domain="" data-presel_pos="">
          <h4 class="title">Top5 representative interactions in cluster</h4>
        </div>

        <div id="fpdiv0" class="col-xs-6 fpdiv">
          <center>
            <span>
              <center id="loading_flare0" class="loading_flare">
                <img src="/static/view/images/loading-gear.gif">
              </center>
            </span>
            <div id="flare-container0" class="flare-container"></div>
            
            <!--Flareplot toolbar-->
            <span id="allFPoptions" class="showIfTrajFP">
              <button id="FPdisplay0" class="btn btn-default active changefocus FP-button" title="Show/Hide structural representations of the residues selected at the plot." type="button">
              Show in structure
              </button>
              
              <div class="dropup clusters_dropup-div">
                <button id="clusterbutton0" class="btn btn-default dropdown-toggle changefocus FP-button" type="button" data-toggle="dropdown"> 
                  Cluster 1 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu clusters_dropup-ul">
                  {% for clus in clusrange %}                
                  <li id="fp0_option_cluster{{clus}}" class="fp_display_element" data-tag={{clus}} title="Display all interactions.">Cluster {{clus}}</li>
                  {% endfor %}
                </ul>
              </div>

              <button id="FPclearSel0" class="btn btn-danger FP-button" type="button" title="Unselect all interactions from the plot.">
                Clear plot
              </button>
            </span>

          </center>
        </div>

        <div id="fpdiv1" class="col-xs-6 fpdiv" data-fpdir="{{fpdir}}">
          <center>

            <span>
              <center id="loading_flare1" class="loading_flare">
                <img src="/static/view/images/loading-gear.gif">
              </center>
            </span>

            <div id="flare-container1"></div>
            
            <!--Flareplot toolbar-->
            <span id="allFPoptions" class="showIfTrajFP">
              <button id="FPdisplay1" class="btn btn-default active changefocus FP-button" title="Show/Hide structural representations of the residues selected at the plot." type="button">
              Show in structure
              </button>

              <div class="dropup clusters_dropup-div">
                <button id="clusterbutton1" class="btn btn-default dropdown-toggle changefocus FP-button" type="button" data-toggle="dropdown"> 
                  Cluster 2 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu clusters_dropup-ul">
                  {% for clus in clusrange %}                
                  <li id="fp1_option_cluster{{clus}}" class="fp_display_element" data-tag={{clus}} title="Display all interactions.">Cluster {{clus}}</li>
                  {% endfor %}
                </ul>
              </div>

              <button id="FPclearSel1" class="btn btn-danger FP-button" type="button" title="Unselect all interactions from the plot.">
                Clear plot
              </button>
            </span>

          </center>
        </div>

      </div>
    </div>
 
    <div class="panel panel-primary" id="flare_col"  data-fpdir="{{fpdir}}">
      <div class="panel-body">
        <div class="title_div"" data-bind_domain="" data-presel_pos="">
          <h4 class="title">Cluster Simulation Viewer</h4>
        </div>
        <div id="ngldiv0" class="col-xs-6 ngldiv">
          <span id="loading"><center ><img src="{% static 'view/images/loading-gear.gif' %}" class="loading_cluster_viewer"/></center></span>
            <div>
              <div id="legend_row" class="row" style=max-width:620px;margin:auto>
                <div id="legend" style="float:left;min-height:20px"> </div>
                <!--button class="btn btn-danger btn-xs pull-right" style="margin:0;" type="button" id="clear_dist_reps">Clear distances</button>-->
              </div>  
              <div >
                <div id="dropdownAndIframe" style="margin:auto;position:relative;overflow-y:hidden;overflow-x:auto;height:445px;max-width:622px;margin-bottom:5px">
                
                     {% if traj_list %}
                      <div id="trajsDropdown" class="dropdown" style="position:absolute;z-index:10;visibility:hidden">
                        <button id="selectedTraj" class="btn btn-info btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left:3px;margin-top:7px" data-tpath="" data-fplot_file={{traj_list.0.3}} >{{ traj_list.0.1 }}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="height: auto;max-height:350px;overflow-x: hidden;padding:0">
                          <li class="traj_element tsel" style="padding:5px 10px 5px 10px;background-color:#FFF7F7" id="traj_id_{{traj_list.0.2}}" data-tpath={{traj_list.0.0}} data-fplot_file={{traj_list.0.3}} >{{traj_list.0.1}}</li>
                        {% for traj in traj_list|slice:"1:" %}
                          <li class="traj_element" style="padding:5px 10px 5px 10px;" id="traj_id_{{traj.2}}" data-tpath={{traj.0}} data-fplot_file={{traj.3}} >{{traj.1}}</li>
                        {% endfor %}
                        </ul>
                      </div>
                     {% endif %}
                     
                  <div class="dropdown" id="simulation_select" style=" float:right; clear:both;z-index:10">
                    <button id="simButton" class="btn btn-info btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown" aria-expanded="false" style="margin-right:3px;margin-top:7px">{{clustdict.cluster1.0}} <span class="caret"></span></button>
                    <ul id="simList" class="dropdown-menu" style="height: auto;padding:0">
                      {% for sim in clustdict.cluster1 %}
                        <li id="showdists" style="padding:5px 10px 5px 10px;background-color:#FFF7F7" title="Click a pair of residues to show the distance betweent them."  class="onclickshow is_active" data-short="dists">{{sim}}</li>
                      {% endfor %}
                    </ul>
                  </div>

                    <iframe style="border:none;position:absolute;top:-30px;" id="embed_mdsrv" data-mdsrv_url={{mdsrv_url}} src="{{mdsrv_url}}/contmaps/ngl_clus/{{itype_code}}&{{ligandonly}}&cluster1&{{clustdict.cluster1.0}}" scrolling="no" height="1000px" width="620px"></iframe>
                    </div>

                </div>          
            </div>            
           
        </div>

        <div id="ngldiv1" class="col-xs-6 ngldiv">
          <span id="loading"><center ><img src="{% static 'view/images/loading-gear.gif' %}"  class="loading_cluster_viewer"/></center></span>
        </div>

      </div>
    </div>
 
    {% include './contact_maps/docs.html' %}
  </div>

</div>


{% endblock content %} 


{% block addon_js %} 
<script src="{% static 'gpcrome/emb_crossgpcr.js' %}"></script>

<!--Flareplots -->
<link rel="stylesheet" type="text/css" href="{% static 'flareplot-custom.css' %}" />
<script src="{% static 'view/fplot2/d3.v3.min.js' %}"></script>
<script src="{% static 'view/fplot2/docs/js/flareplot-main.js' %}"></script><!-- D:< -->
<script src="../static/emb_ngl_viewer_small.js"></script>

<!-- Bokeh -->
<link href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
{{ script | safe }}
{% endblock %}

</body>