<div id="menus" class="container-fluid">
  <div class="row">
    <!--itypes dropdown-->
    <div class="dropdown optbar">
      <button type="button" id="itype_button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" name="typelist">
        Interaction Type 
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
      {% for group, types_tuple in itypes_order %}
        <li>
          <label class="macrotype">
            {{group}}
          </label>
        </li>
        <hr>
        {% for typecode,typename in types_tuple  %}
        {% if typecode == "hb" %}
        <!--Hydrogen bond itypes dropdown-->
        <li class="dropdown-submenu">
          <div class="HB_row">
            <label class="mycheckbox">
              <input type="radio" name="itypes" class="option" value="hb" />
                hydrogen bond
            </label><a class="test" tabindex="-1" href="#"> <span class="caret"></span></a>
            <ul class="dropdown-menu" id="HB">
              {% for code,itype in hb_itypes %}
              <li>
                <label class="mycheckbox">
                <input type="radio" name="itypes" class="option hb_option" value={{code}} />
                  {{itype}}
                </label>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% else %}
        <li>
          <label class="mycheckbox">
          <input type="radio" name="itypes" class="option" value={{typecode}} />
            {{typename}}
          </label>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <!--All option-->
        <br>
        <li id="all-li">
          <label id="all" class="mycheckbox">
          <input type="radio" name="itypes" class="option" value="all" />
            Total interaction frequency
          </label>
        </li>
      </ul>
    </div> 
    <!--Clusters dropdown-->
    <div class="dropdown optbar">
      <select name="clusters" id="clusters_dropdown" class="btn btn-sm btn-primary">
        {% for clust in clusrange_all %}
        <option class="clusteropt" value={{clust}}> {{clust}} clusters </option>
        {% endfor %}
      </select>
    </div>
    <!--Checkboxes interacting parts of the simulation -->
    <div class="optbar">
      <label class="partners_checkbox">
      <input type="checkbox" id="Intraprotein contacts" name="molec" class="option_location" value="prt"/>
        Protein-Protein
      </label>
      <br>
      <label class="partners_checkbox">
      <input type="checkbox" id="Protein to ligand contacts" name="molec" class="option_location" value="lg"/>
        Protein-Ligand
      </label>
    </div>
    <!--Repetition checkbox-->
    <div class="optbar">
      <label class="partners_checkbox">
      <input type="checkbox" id="rev_pairs" name="rev" value="rev"/>
        Show reversed residue pairs
      </label>
    </div>
    <!--Apply button -->
    <div class="dropdown optbar">
      <button type="button" id="applybutton"  onclick="printchecked();" class="btn btn-success btn-sm" >Apply </button>
    </div>
  </div>
  <!--download button-->
  <div class="row">
    <div class="dropdown optbar">
      <button type="button" class="btn btn-sm btn-primary" onclick="window.location.pathname = '/contmaps/download_csv/{{itype_code}}&{{ligandonly}}&{{rev}}'">
        <span class="glyphicon glyphicon-download"></span> Download csv
      </button> 
    </div>
  </div>
</div>